---
layout: project
tab: docs
title: What's New
---
.row-fluid
  .span12
    %h3< JBoss Tools News and Noteworthy

.row-fluid 
  .span12
    Looking for 
    %strong previous versions of individual new and noteworthy 
    ? Find them in our
    %a{:href => "http://docs.jboss.org/tools/whatsnew/index.html"} archived news.
    
  