---
layout: redirect
---
- firstWhatsnews = site.product_whatsnews.sort_by{|k,v| k}.reverse.first
- jbt_core_version = firstWhatsnews[0]
- first_module = firstWhatsnews[1][0]
- page.target = first_module.output_path
