---
layout: default
tab: guides
title: New and Noteworthy
---
.row-fluid
  .span12
    %h1.center< JBoss Tools News and Noteworthy

.row-fluid
  .span12
    :markdown
      If you are new to JBoss tools and JBoss frameworks, then [jboss.org/developer](http://jboss.org/developer) is a recommended starting point.
      
      This page is a "log" of the new and noteworthy changes/features in JBoss Tools and JBoss Developer Studio. Latest JBoss Tools can be downloaded from [jboss.org/tools](http://jboss.org/tools) and JBoss Developer Studio from [devstudio.jboss.com/earlyaccess](http://devstudio.jboss.com/earlyaccess).
      
      Be aware that the list of actual included features in the GA can differ from what is in the older new and noteworthy if the feature has changed or been removed or postponed.

.row-fluid
  .span12
    %h5.left JBoss Tools individual new and noteworthy
  .span12
    - new_and_noteworthies_keys=[]
    - for key in site.new_and_noteworthies_per_version.each_key
      - new_and_noteworthies_keys << key
    - new_and_noteworthies_keys.sort! {|x,y| y <=> x }
    %dl.dl-horizontal
      - for key in new_and_noteworthies_keys
        %dt.whatsnew.version
          #{key}
          %dd
            %ul.whatsnew.module
              - for item in site.new_and_noteworthies_per_version[key].sort!{|x,y| x.module_name <=> y.module_name}.each do
                %li 
                  %a{:href => item.url} #{item.module_name}
.row-fluid 
  .span12
    Looking for 
    %strong previous versions of individual new and noteworthy 
    ? Find them in our
    %a{:href => "http://docs.jboss.org/tools/whatsnew/index.html"} archived news.
    
  