---
layout: project
tab: docs
title: What's New
---
- firstWhatsnews = site.product_whatsnews.sort_by{|k,v| k}.reverse.first
- jbt_core_version = firstWhatsnews[0]
- first_module = firstWhatsnews[1][0]
- puts "#{jbt_core_version} -> #{first_module.feature_id}"
.row-fluid
  .span3.sidebar
    = partial('whatsnew_sidebar.html.haml', {:location=>first_module.output_path, :jbt_core_version=>jbt_core_version})       
  .span9
    #{first_module.content}
.row-fluid
  .span12.center.page-note
    :markdown
      Visit our [archived news](http://docs.jboss.org/tools/whatsnew/index.html) for **previous versions** of individual new and noteworthy.
    
  