---
layout: videos
tab: docs
title: Videos
status: green
category: installation
bottom_javascripts: ["/javascripts/select_first_video.js"]
---

-# copy the content from the first video
- first_video_page = site.videos[:installation].select{|p| p.order_in_category == 1}.first
#{first_video_page.content} 

  
