---
layout: default
---
.container-fluid
  .row-fluid
    .span12
      %h3.center< #{page.product_name}
  .row-fluid
    .span8
      %a{:href=>""} Requirements
      %span &#124; 
      %a{:href=>"#"} What's New
      %span &#124; 
      %a{:href=>"#"} Blog Announcement
      %span &#124; 
      %a{:href=>"#"} Release Note
    .span4.right
      %a{:href=>""} Try latest developments
      %span &#124; 
      %a{:href=>"#"} Archived versions
  .row-fluid
  
  