---
layout: default
title: Contribute
tab: community
---
.row-fluid
  .span12
    :markdown
      ### Contributing to JBoss Tools
      
      Since we migrated to GitHub in late 2012, the code for JBoss Tools core has been splitted into several repositories. Depending on the component on would like to contribute to, you should follow the guidelines written in the README.md at the root of the corresponding Git repository. 
      
      Don't hesitate to ping us if you need help !