---
layout: container
selected_tab: videos
---
%link{ :rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/movies.css", :media=>"screen, projection"}
   
.row-fluid 
  .playerbox
    #player
      %iframe{ :src => "http://player.vimeo.com/video/39743315?portrait=0" }
.row-fluid 
  .span12 
    -# files are fetched in a pre-defined order (using filename)
    - index = site.videos[:index]
    - for category in index.categories
      .span4
        %h5 #{category.title}
        %ul.items
          - for movie in category.movies
            %li
              %a.videocontrol{:href =>"#{movie.vimeo_id}" } #{movie.title} 
                  
