.footer
  %p Sponsored by
  #footerlogo
    %a{:title => "Red Hat, Inc.", :href => "http://www.redhat.com", :class=>""}
      %h6 Red Hat, Inc.
  %p
    %a{:href => "http://www.jboss.org/about.html" } About 
    \| 
    %a{:href => "http://www.jboss.org/contact.html" } Contact Us 
    \|     
    %a{:href => "http://www.redhat.com/about/work" } Jobs 
    \|
    %a{:href => "http://www.jboss.org/help.html" } Help
