---
title: 'An update to Instant Mockup for SWT'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, eclipse, swt, balsamiq ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>I needed to <a class="jive-link-external-small" href="https://jira.jboss.org/browse/JBIDE-6579">make some suggestions</a> to the new Webservice testing functionallity <a class="jive-link-profile-small" href="https://community.jboss.org/people/bfitzpat">Brian F.</a> is <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2010/06/28/using-the-resteasy-project-example-and-the-ws-tester">working on</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-1855-3872/webservicetester_view.png"><img alt="webservicetester_view.png" class="jive-image-thumbnail jive-image" height="185" onclick="" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-1855-3872/450-185/webservicetester_view.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I wanted to use my little <a class="jive-link-external-small" href="http://relation.to/Bloggers/InstantMockupForEclipseSWTApplications">SWT to Balsamiq spy</a> but it turned out this view used a couple of components the "Spy" did not understand,</p>
<p>i.e. TabFolder instead of CTabFolder and others.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I had to fix that, so now <a class="jive-link-external-small" href="http://update.xam.dk">http://update.xam.dk</a> contains an updated version which allows me to get a good mockup of the above.</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-1855-3873/mockup.png"><img alt="mockup.png" class="jive-image-thumbnail jive-image" height="172" onclick="" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-1855-3873/450-172/mockup.png" width="450"></a></p>
<p>Beyond supporting more components it also now ask's you if you want the full workbench converted into Mockup or</p>
<p>just the current View/Editor.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-1855-3874/choose_workbench_or_part.png"><img alt="choose_workbench_or_part.png" class="jive-image" height="76" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-1855-3874/310-76/choose_workbench_or_part.png" width="310"></a></p>
<p>And finally it stopped exporting unknown controls which caused Balsamiq to show an error dialog per unknown component.</p>
<p>Now it just gets ignored. Much easier.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Hope you like it.</p>
</div>
<!-- [DocumentBodyEnd:3c0e5470-f808-4207-b7c6-9b51b2878c58] -->
</body>
