---
title: 'JBoss Tools 3.1.1 out'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ eclipse, jboss_tools ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>JBoss Tools 3.1.1 with about <a class="jive-link-external-small" href="https://jira.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+JBIDE+AND+fixVersion+%3D+%223.1.1%22+ORDER+BY+status+DESC%2C+priority+DESC&amp;mode=hide">100&#160; fixes</a> is now available from the <a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/stable/galileo">update site</a> and <a class="jive-link-external-small" href="http://www.jboss.org/tools/download">downloads</a>.</p>
<p>Beyond the fixes in JBoss Tools it is also recommended to install the latest patches to Eclipse WTP from their <a class="jive-link-external-small" href="http://download.eclipse.org/webtools/updates/">update site</a>. This fixes issues with Classpath libraries that affected those who are using Maven.</p>
<p>Enjoy!</p>
</div>
<!-- [DocumentBodyEnd:8e8297de-3ff5-4ec0-9318-38a5af457fbb] -->
</body>
