---
title: 'JBoss Tools on Eclipse 3.6 (Helios)'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, helios ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<blockquote class="jive-quote">
<strong>Update: </strong>There is now a final version of <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/02/21/jboss-tools-32-is-finally-here">JBoss Tools</a> for Helios! No need to use the nightly builds unless you want to live on the bleeding edge!<br>
</blockquote>
<p>For those who are trying to run JBoss Tools on Eclipse 3.6 aka Helios then we are working on getting a M1 build out, but for those</p>
<p>eager to use Helios the nightly builds can help you.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We recommend you use the update site over any of the separate standalone zip builds, thus either use the updatesite (<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/nightly/trunk/">http://download.jboss.org/jbosstools/updates/nightly/trunk/</a>) or the update site zip from the <a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/builds/nightly/trunk/">nightly zip builds</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Don't forget to let us know if you find something not working as you expect. You can do so in our <a class="jive-link-external-small" href="https://jira.jboss.org/jira/browse/JBIDE">jira</a></p>
<p>or discuss them in the <a class="jive-link-external-small" href="https://community.jboss.org/community/jbosstools?view=discussions&amp;start=0">forums</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:d1b81440-41ba-4446-ac63-ead4d491bba5] -->
</body>
