---
title: 'JBoss Developer Studio 4 Beta 2 is ready!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png"><img alt="http://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/449-54/earlyaccess.png" class="jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/earlyaccess.png"></a></p>
<p style="text-align: left;">In addition to releasing JBoss Tools 3.2 Beta 2 we've also released the second Beta of JBoss Developer Studio 4 to our early access site which incorporates the updated plugins from the JBoss Tools release.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">You can download the full Eclipse based IDE from the <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/">early access site&#160; for free</a>,&#160; and if you want to have the no-fuzz-single-click-install&#160; experience&#160; with JBoss Enterprise Application platform bundled you just&#160; need to go&#160; and sign up for the early access program <a class="jive-link-external-small" href="http://bit.ly/jbdevstudioea">here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Have fun!</p>
</div>
<!-- [DocumentBodyEnd:d5a69d59-f197-41e7-aa47-f4c255515c21] -->
</body>
