---
title: 'JBoss Developer Studio 4 Beta now available'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png"><img alt="earlyaccess.png" class="jive-image" height="37" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/310-37/earlyaccess.png" width="310"></a></p>
<p style="text-align: left;">We've pushed our first Beta of JBoss Developer Studio 4 to our early access site.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">You can download the full Eclipse based IDE from the <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/">early access site&#160; for free</a>, and if you want to have the no-fuzz-single-click-install&#160; experience with JBoss Enterprise Application platform bundled you just&#160; need to go and sign up for the early access program <a class="jive-link-external-small" href="http://bit.ly/jbdevstudioea">here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">This release incorporates the changes and improvements done in <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2010/10/18/beta-time-for-jboss-tools-32">JBoss Tools 3.2 Beta1</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Have fun!</p>
</div>
<!-- [DocumentBodyEnd:5efa7a37-c761-4818-ba69-d81c19ae0342] -->
</body>
