---
title: 'JBoss/Red Hat at Eclipse Summit 2010'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jboss, eclipse, talks, summit ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>I'm looking forward to attend for my first time Eclipse Summit 2010 where as I until now only been at EclipseCon's.</p>
<p><a href="http://www.eclipsesummit.org/"><img alt="I'm going to Eclipse Summit Europe 2010" border="0" height="100" src="http://www.eclipsecon.org/summiteurope2010/static/image/friends/100x100_going.gif" style="float: right;" width="100"></a></p>
<p>I (luckily?) won't be speaking at the conference, but Chris Aniszczyk and Nick Boldt will:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Tuesday at 14:00, Nick is having a 4-hour symposium together with Henrik Lindberg (Cloudsmith) on the topic of <a class="jive-link-external-small" href="http://www.eclipsecon.org/summiteurope2010/sessions/?page=sessions&amp;id=1924">"What's in a Build? Best Practices and Requirements"</a>. The intent of this is to work out best practices for how to mange the process of developer, nightly, milestone and release builds for Eclipse projects. Something that we have spent alot of time on in the JBoss Tools project but still know can be improved - looking forward to see if what others have done in projects of our scale/size.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Wednesday at 10:30, Chris is doing his <a class="jive-link-external-small" href="http://www.eclipsecon.org/summiteurope2010/sessions/?page=sessions&amp;id=1658">"Using Git in Eclipse"</a> together with Matthias Sohn (SAP) showing of the wonders of Git and the EGit tooling for it.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thursday at 10:30, Nick Boldt is participating together with Henrik Lindberg (Cloudsmith), Jason Van Zyl (Sonatype), Oisin Hurley and Thomas Hallgren (Cloudsmith) in <a class="jive-link-external-small" href="http://www.eclipsecon.org/summiteurope2010/sessions/?page=sessions&amp;id=1869">"Build Systems Exposed: Strengths &amp; Weaknesses of Build Technologies at Eclipse"</a> . This talk will compare the various build systems in use at Eclipse - will we finally reach some concensus ? <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://rlv.zcache.com/jboss_tools_dark_jacket_v3_embroidered_shirt-p231074175222935936aphhp_210.jpg"><img alt="http://rlv.zcache.com/jboss_tools_dark_jacket_v3_embroidered_shirt-p231074175222935936aphhp_210.jpg" class="jive-image" src="http://rlv.zcache.com/jboss_tools_dark_jacket_v3_embroidered_shirt-p231074175222935936aphhp_210.jpg" style="float: right;"></a></p>
<p>I'm looking forward to meet old and new Eclipse friends - if you want to find me, look for someone with a JBoss Tools jacket!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>See you there!</p>
</div>
<!-- [DocumentBodyEnd:8b4ccc96-99b6-47ef-8f34-a1d3dfae006e] -->
</body>
