---
title: 'Tweak Google GWT Eclipse Plugin to work with JBoss Tools'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, gwt ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p><a class="jive-link-profile-small" href="https://community.jboss.org/people/adietish">Andre D.</a> wrote a nice Wiki outlining how to <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15593">use Google GWT Plugin together with JBoss Tools</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It is all done by simply using JBoss Tools Project Archives to package up the relavant War and</p>
<p>there by be able to publish to any of the JBoss AS server adapters all without requiring</p>
<p>moving to Eclipse WTP projects.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It's great to see that our good old Project Archive functionallity can still be put to good use.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We are working on seeing how to get Google GWT Plugin work more integrated with the</p>
<p>remainder of the Eclipse ecosystem, especially in context of being able to use GWT without</p>
<p>fuzz as a Facet on Eclipse WTP based projects allowing the full power of WTP to be used</p>
<p>on GWT based projects.</p>
</div>
<!-- [DocumentBodyEnd:c8b07908-7e5a-4657-8065-92ca0c0cea47] -->
</body>
