---
title: 'Friday Statistics with special thanks Brazil!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>We added usage tracking into our <a class="jive-link-message-small" href="https://community.jboss.org/message/561160#561160">JBoss Tools 3.2 M2</a> release and since then it have been pouring in with pings from all over the world and we love every second of it. Nothing like it, seeing your hard work being used across the planet. Today we've passed 1.000 different cities and the number is ever increasing.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-1971-9333/ga_worldmap.png"><img alt="ga_worldmap.png" class="jive-image-thumbnail jive-image" height="266" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-1971-9333/450-266/ga_worldmap.png" width="450"></a></p>
<p style="text-align: left;">The above screenshot is a snapshot of the current cities we have received pings from over the last week. Darker color and size of the circle indicates the % of visits. For now Brazil and especially the Sao Paolo region has the biggest crowd.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Yesterday we had 2.500+ instances of JBoss Tools starting up within 24 hours and our total of unique Eclipse installs using M2 passed 18.000 this morning.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Very happy to see that much pickup of our M2 release within just a week, I'm very postively surprised so many approved and enabled the tracking and growing every day.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Many thanks for those who did and those who will in the future - it's much more fun than watching simple download counts and give some nice fun content for a Friday blog <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
</div>
<!-- [DocumentBodyEnd:a30095d4-27ee-4e4a-9666-b9242c41ac1b] -->
</body>
