---
title: 'JBoss Tools 3.2 Beta 2'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="padding: 0pt; margin: 0pt;">Here is a freshly cut Beta 2 of JBoss Tools 3.2 for you to enjoy this season.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: center; padding: 0pt; margin: 0pt;"><a href="http://in.relation.to/service/File/10824"><img alt="http://in.relation.to/service/File/10824" class="jive-image" src="http://in.relation.to/service/File/10824" style="margin: 12px; border: 0px initial initial;"></a></p>
<h4 style="color: #333333; font-weight: bold; padding-top: 10px; padding-right: 0pt; padding-bottom: 4px; padding-left: 0pt; font-size: 13pt; text-align: center; margin: 0pt;">3.2.0.Beta2</h4>
<p style="text-align: center; padding: 0pt; margin: 0pt;">[<a class="jive-link-external-small" href="http://www.jboss.org/tools/download" target="_top">Download</a>] [<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development" target="_top">Update Site</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a>]&#160; [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/movies/" target="_top">Movies</a>]&#160; [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/3.2.0.Beta1/" target="_top">Documentation</a>] [<a class="jive-link-external-small" href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="_top">Forums</a>] [<a class="jive-link-external-small" href="http://jira.jboss.com/jira/browse/JBIDE" target="_top">JIRA</a>] [<a class="jive-link-external-small" href="http://twitter.com/jbosstools" target="_top">Twitter</a>]</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3 style="color: #333333; font-weight: bold; padding-top: 10px; padding-right: 0pt; padding-bottom: 4px; padding-left: 0pt; font-size: 14pt; margin: 0pt;">The end is near!</h3>
<p>This is the last beta planned before we do a planned CR1 and then Final next month.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you are on Eclipse 3.6 (Helios) we definitely recommend you to upgrade to this version. It has never been better.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We are hungry for <a class="jive-link-thread-small" href="https://community.jboss.org/thread/159819"><span>feedback</span></a>!</p>
<h2>A few last improvements</h2>
<p>For this last beta we've squeezed in some improvements within the almost 500 issues fixed in this round.</p>
<h3>Simplified Download and installation</h3>
<p>The simplest way to install the most commonly downloaded JBoss Tools 3.2.x plugins is now to use <a class="jive-link-external-small" href="http://marketplace.eclipse.org/">Eclipse Marketplace</a>.</p>
<p>Eclipse Marketplace is available from the Help &gt; Eclipse Marketplace menu in Eclipse.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>When you install JBoss Tools via Eclipse Marketplace you get the "Web 2.0" plugins in one click - if you want additional or the complete plugin set you can use the complete <a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development" target="_top">Update Site</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Finally we also provide a zipped version of the Update sites from our <a class="jive-link-external-small" href="http://www.jboss.org/tools/download" target="_top">Download</a> page, which this time is also reduced to just the most popular download options instead of listing all 60+ sub-components individually.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Let us know what you think about this simplified installation!</p>
<h3>More Platforms</h3>
<p>You can now install all of JBoss Tools on any Eclipse compatible OS and in particular Windows and OS X 64-bit. Previously we limited the installation to those where the Visual Page Editor can run which unfortunately excluded some OS's. That restriction has now been lifted which means all can now get advantage of the complete tooling, except for the visual part of the editor which still only will be available on platforms were there exists working XULRunner/SWT bindings.</p>
<h3>Cloud &amp; Remote deployment</h3>
<p>There have been done a lot in the area of the JBoss Server adapter Remote System support and for the Delta Cloud tooling but most importantly is that the SteamCannon team is now hosting a DeltaCloud server you can try and use together with JBoss Tools without having to setup your own DeltaCloud server.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The url for this is <a class="jive-link-external-small" href="http://try.steamcannon.org/deltacloud">http://try.steamcannon.org/deltacloud/</a> and can be used as the URL for a Cloud Connection in the Cloud Wizard in JBoss Tools.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Note: Please beaware that this URL is still driven by experimental code and can at any time stop working - so try it while you can <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
<h3>Performance!</h3>
<p>Beta 2 delivers 10 X performance improvements over M2 in the HTML and JSF validation - making this release the fastest ever!</p>
<h3>JBoss 6 and CDI</h3>
<p>The latest JBoss 6 release provides a full-fledged CDI environment and JBoss Tools now provide full set of code completion, validation, refactoring and quick fixes for CDI. If you are into trying out CDI using JBoss Tools with JBoss 6 gets you started very easily.</p>
<h3>...and more!</h3>
<p>Hibernate, Seam, Drools, BPEL, ESB, GWT and Modeshape also received a good set of fixes and improvements - you can see more about these in the <a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Now go Get It and Have Fun!</p>
</div>
<!-- [DocumentBodyEnd:9736d436-8e85-4ef5-9ff1-da77a2b603b4] -->
</body>
