---
title: 'JBoss Developer Studio Early Access is now Free'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, eclipse, devstudio ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="text-align: center;">Free download of JBoss Developer Studio 4 Early Access is now available from <br><a href="http://devstudio.jboss.com/earlyaccess/"><img alt="jbds_banner_earlyaccess.png" border="0" height="38" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-1964-9039/310-38/jbds_banner_earlyaccess.png" width="310"><br>http://devstudio.jboss.com/earlyaccess/</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">I'm happy to inform you that Red Hat are providing free early access builds of JBoss Developer Studio 4 on the <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/"><span>early access site</span></a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Developer Studio is the supported IDE for doing JBoss Middleware development. It is based on Eclipse and the <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-13300">supported parts of the JBoss Tools</a> project. The IDE comes with everything preconfigured and works out-of-the-box; making it easy to get started doing real work.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">The current build is JBoss Developer Studio 4 M2 is based on Eclipse 3.6 (Helios), parts of the recent <a class="" href="https://community.jboss.org/en/jbosstools/blog/2010/09/09/jboss-tools-320m2-big-mama">JBoss Tools 3.2.0.M2</a> release and with various updates to the 3rd party bundled plugins.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">The early access site also provides access to JBoss Developer Studio 4 M2 bundled with JBoss Enterprise Application Platform (EAP) 5.1. To access these installers, you must be an existing Red Hat customer and/or participating in the early access program. Read more about the <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/readme.html">Early Access program here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">The site will be updated with future betas and more detailed info about changes/improvements in the near future.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Have fun!</p>
</div>
<!-- [DocumentBodyEnd:6151323a-13b5-4fc0-9661-28a772885405] -->
</body>
