---
title: 'JBoss Tools 3.2.0.M1 (Eclipse 3.6/Helios)'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ eclipse, jboss_tools, helios ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>We got our first developer milestone build for JBoss Tools which targets Eclipse 3.6/Helios.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: center;"><a href="http://in.relation.to/service/File/10824"><img alt="http://in.relation.to/service/File/10824" class="jive-image" src="http://in.relation.to/service/File/10824"></a></p>
<h4 style="text-align: center;">3.2.0.M1</h4>
<p style="text-align: center;">[<a class="jive-link-external-small" href="http://www.jboss.org/tools/download" target="_top">Download</a>] [<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development" target="_top">Update Site</a>]&#160; [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/movies/" target="_top">Movies</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/3.1.0.GA/" target="_top">Documentation (not updated yet)</a>]&#160; [<a class="jive-link-external-small" href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="_top">Forums</a>]&#160; [<a class="jive-link-external-small" href="http://jira.jboss.com/jira/browse/JBIDE" target="_top">JIRA</a>] [<a class="jive-link-external-small" href="http://twitter.com/jbosstools" target="_top">Twitter</a>]</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Eclipse 3.6/Helios &amp; Java 5</h3>
<p>This release is the first milestone that targets Eclipse 3.6/Helios. This means you should only use this with Eclipse 3.6; if you want to stay on Eclipse 3.5 continue to use JBoss Tools 3.1.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Some plugins might still work, but by default the target is Eclipse 3.6.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We also moved our Target Java platform to Java 5 thus if you are still running Java 1.4 on your desktop it is time to upgrade.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Please be aware there a two major known issues with Eclipse 3.5.0, see the "Known Issues" section if you are having problems.</p>
<h3>100% Tycho Build</h3>
<p>This release of the plugins is the first&#160; release that uses Maven with the Tycho plugin to build and package the&#160; plugin distribution.</p>
<p>Tycho still has its quirks but the quirks are&#160; far far less than "Good'old" PDE Build; we plan to do even faster&#160; release cycles/builds in the future and using Tycho is a major part of&#160; this.</p>
<h3>New Features Overview</h3>
<p>This milestone covers beyond the Eclipse 3.6 migration and integration new features across the board. The highlights for this release for me is:</p>
<h6>JPA 2 Support</h6>
<p>Hibernate Tools integration with Eclipse JPA/Dali now supports JPA 2 tooling.</p>
<h6>JSF 2 Quick fixes and refactoring</h6>
<p>Writing and editing JSF 2 Composite components becomes much easier in this release with quick fixes for missing attributes or folders to composite components and even refactoring of attribute names gets reflected in the interface component section.</p>
<h6>Externalize Strings for XHTML</h6>
<p>If you know the externalize strings in Eclipse for Java code then you know how the Externalize Strings for XHTML works.</p>
<p>It allows you to select a string, choose externalize String and JBoss Tools will take care of creating the resource bundle if necessary, give it a name and replace the string with the apropriate EL expression. This makes it easier to do internationalization(i18n).</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This is a feature we have been asked for a few times thus we are very much interested in hearing feedback on how it works for you.</p>
<h6>CDI Wizards and Validation</h6>
<p>There are now wizards to create the common annotation types in CDI such as Qualifiers, Sterotypes, Scope and Interceptor Binding.</p>
<p>The validation of CDI constructs have also been further expanded, covering about 60 TCK based validations giving developers an early warning if things are not correctly wired up in the sourcecode.</p>
<h6>jBPM 3 Deployment</h6>
<p>The deployment mechanism for jBPM within the plugin have been revamped to be more consistent and userfriendly. Removing the need to type too much manually and giving better freedom for how processes can be stored and structured. i.e. before one directory could only have one process, it can now have multiple.</p>
<h6>JAX-WS and "Rest" Webservice Tester</h6>
<p>Finally but definitly not least is the new "Webservice Tester" which allows you to very easily directly from within Eclipse perform JAX-WS requests or basic "Rest" style requests (read: basic HTTP operations) and inspect the result. If you found the WTP provided Web Service explorer too limited and found other Web Service plugins too complex/heavyweight to install use then give this a try - it's nice and simple.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>That were my current highlights, alot of other things were done for this release together with a good set of bugfixes. You can view more details about the above including screenshots on the <a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a> page.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Known Issues</h3>
<p>Unfortunately there are two known issues in Eclipse 3.6.0 and Web Tools 3.2.0 that is affecting JBoss Tools (and many other eclipse plugins) you should be aware of before installing Eclipse 3.6.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you use Oracle (previously Sun) Java SDK 6 Update 21, then be aware you have to manually specify permgen when starting Eclipse since otherwise you will quickly get an out of memory exception or related error because of <a class="jive-link-external-small" href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=319514">this Eclipse bug</a>. Note, any previous Oracle/Sun JDK will work fine, it is only Java 6 Update 21 that is causing problems.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Workaround is to start eclipse with explicit memory arguments, i.e. <code>eclipse -vmargs -Xms256m -Xmx1024m -XX:MaxPermSize=256m</code></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The Web Tools issue is deployment and management of WTP Servers can be very slow for projects with high number of files because of a <a class="jive-link-external-small" href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=316032">bug in Eclipse WTP</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Both of these bug is set to be fixed in the soon to be released Eclipse SDK 3.6.1 and WTP 3.2.1.</p>
<h3>What's Next ?</h3>
<p>The next release (3.2.0.M2) is already being built on and are available in the nightly builds; you can already start using these if you want to and follow the jira and forums for details.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>As always feedback is welcome and we look forward to hear your input and other contributions.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have Fun!</p>
</div>
<!-- [DocumentBodyEnd:f3498f3e-ff30-4181-965b-b72515af8dcc] -->
</body>
