---
title: 'JBoss Tools on Eclipse Marketplace'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ eclipse, jboss_tools, marketplace ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="text-align: center;"><a href="http://marketplace.eclipse.org/content/jboss-tools-1"><img alt="jbosseclipsemarketplace.png" class="jive-image" height="66" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2029-10499/310-66/jbosseclipsemarketplace.png" width="310"></a></p>
<p>We've added JBoss Tools <a class="jive-link-external-small" href="http://marketplace.eclipse.org/content/jboss-tools-0">3.1</a> and <a class="jive-link-external-small" href="http://marketplace.eclipse.org/content/jboss-tools-1">3.2</a> to <a class="jive-link-external-small" href="http://marketplace.eclipse.org/">Eclipse Marketplace</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>What does that mean for users ?</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It means you can now from your own Eclipse Help menu choose "Eclipse Marketplace"</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2029-10500/helpMarketplace.png"><img alt="helpMarketplace.png" class="jive-image" height="320" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2029-10500/310-320/helpMarketplace.png" width="310"></a></p>
<p>...and if you type in "jboss" into the search field you will find JBoss Tools there and click "Install" for the version that is relevant for you.</p>
<p>i.e. 3.1 is for Galileo and 3.2 is for Helios (if in doubt, see the description text in the Marketplace).</p>
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2029-10501/jbosstoolsmarketplace.png"><img alt="jbosstoolsmarketplace.png" class="jive-image" height="223" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2029-10501/310-223/jbosstoolsmarketplace.png" width="310"></a></p>
<p>The screenshot also shows how easy it is to Update or Uninstall the installation you already have (in this case I got JBoss Tools 3.2 already installed).</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We hope this makes it even easier to install and use JBoss Tools and if you like what you see please go and favorite us (click the Star) or comment on our <a class="jive-link-external-small" href="http://marketplace.eclipse.org/content/jboss-tools-1">Eclipse Marketplace page</a>.</p>
</div>
<!-- [DocumentBodyEnd:56a6044b-def2-455f-814b-71c541aaed3b] -->
</body>
