---
title: 'JBoss Tools 3.2.0.M2 Delta Cloud, GWT, Teiid and more'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, eclipse, tools, jboss_tools, jbt, wtp ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>Time for Milestone 2 of JBoss Tools, the Eclipse plugin suite for JBoss and related technologies.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: center;"><a href="http://in.relation.to/service/File/10824"><img alt="http://in.relation.to/service/File/10824" class="jive-image" src="http://in.relation.to/service/File/10824"></a></p>
<h4 style="text-align: center;">3.2.0.M2</h4>
<p style="text-align: center;">[<a class="jive-link-external-small" href="http://www.jboss.org/tools/download" target="_top">Download</a>] [<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development" target="_top">Update Site</a>]&#160; [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/movies/" target="_top">Movies</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/3.1.0.GA/" target="_top">Documentation (not updated yet)</a>]&#160; [<a class="jive-link-external-small" href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="_top">Forums</a>]&#160; [<a class="jive-link-external-small" href="http://jira.jboss.com/jira/browse/JBIDE" target="_top">JIRA</a>] [<a class="jive-link-external-small" href="http://twitter.com/jbosstools" target="_top">Twitter</a>]</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>New Features Overview</h3>
<p>We have a lot of different fixes and improvements in this release and I only touch upon a little in the following; you can see the full <a class="jive-link-external-small" href="https://jira.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+JBIDE+AND+fixVersion+%3D+%223.2.0.M2%22+ORDER+BY+status+DESC%2C+priority+DESC&amp;mode=hide">change log</a> and <a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew/index.html"><span>What's New and Noteworthy</span></a> for screenshots.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Usage Tracking</h3>
<p>By default we now bundle a Usage Plugin that gathers anonymous usage statistics. You will see a dialog box when you start your Eclipse instance which will ask if you wish to send statistics or not; it is voluntary to participate but we hope you will since it makes us happy to know how and where JBoss Tools are used worldwide.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can see details on how this work <a class="jive-link-external-small" href="http://jboss.org/tools/usage">here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Remote Deployment</h3>
<p>JBoss AS Servers now has direct support for doing remote deployment via Eclipse Remote System Explorer (RSE), making any host with a RSE filesystem (SCP, FTP, etc.) a possible target for deploying resources. This can be used to deploy to remote system on the local network or on systems available in the cloud to which you have SCP or FTP access.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Runtime Detection</h3>
<p>You no longer have to manually configure individual runtimes within JBoss Tools. We have moved our runtime detection from JBoss Developer Studio into JBoss Tools it self, allowing you to point to a JBoss AS, EAP, SOA-P or EPP installation and have all the supported runtimes (Seam, Drools, etc.) configured inside Eclipse automatically.</p>
<h3>Delta Cloud</h3>
<p>We are including the first public version of our tooling for <a class="jive-link-external-small" href="http://deltacloud.org">Delta Cloud</a>. The Delta Cloud tooling allows you to browse a Delta Cloud installation, manage images, start/stop instances and make them easily available in Eclipse Remote System Explorer which you then can use as targets for the JBoss AS Remote deployment.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Teiid</h3>
<p>The Teiid Designer is now bundled in JBoss Tools&#160; allowing you to utilize <a class="jive-link-external-small" href="http://jboss.org/teiid">Teiid</a>'s features for federating data and query&#160; its virtualized data models. Going forward there will be even more&#160; integration between Teiid and the rest of the plugin suite, i.e. easy&#160; usage of Teiid datasources when using Hibernate Tools and Seam Entities&#160; generation.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>DocBook Editor</h3>
<p>There is now a designated editor supporting DocBook documents. Should remove some of the problems users were reporting trying to use the HTML Visual Page Editor for editing DocBook.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Context Dependency Injection</h3>
<p>The CDI/Seam team have been providing a lot of feedback to the CDI tooling and this release therefore have a lot of improvements in context of validation messages, Open On's and wizards for CDI.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The Maven integration now also automatically configures CDI and Hibernate if your pom.xml files references CDI or Hibernate artifacts.</p>
<h3>Google Web Tool Kit (Experimental)</h3>
<p>We have added a GWT Facet to this release allowing you to use Google's (free, but not open) GWT Eclipse tooling in Eclipse WTP projects without manually configuration. This allows you to easily enable GWT for Dynamic Web Projects and deploy it to any WTP enabled server such as JBoss, Tomcat, Glassfish etc.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It is marked Experimental since we hope to convince Google to adopting this into their tooling instead of only having their Google AppEngine limited wizards (cross your fingers <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px">). If you want to try it see this <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15794">wiki</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>..and More - Now Go get it!</h3>
<p>As always feedback is welcome and we look forward to hear your input and other contributions.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have Fun!</p>
</div>
<!-- [DocumentBodyEnd:3ab6708e-24cd-4ec4-b5b1-bf71407b1454] -->
</body>
