---
title: 'Upcoming talks about JBoss Tools &amp; Friends'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>European conference season is about to start and I and others will be out and about talking about JBoss Tools and Friends the upcoming weeks/months. Here is an excerpt of those I'll be giving or attending:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Switzerland - Puzzle event &amp; Neuchatel JBUG</h3>
<p>Tuesday, 18th October at <a class="jive-link-external-small" href="http://www.puzzle.ch/blog/articles/2011/10/03/puzzle-tech-talk-2011">Puzzle Tech Talk 2011</a>, I'll be giving a short introduction on the various flavors of Red Hat OpenShift.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Wednesday, 19th October at <a class="jive-link-external-small" href="http://jbug-neuchatel.org">JBUG Neuchatel</a>, <a class="jive-link-profile-small" href="https://community.jboss.org/people/theute">Thomas Heute</a> and I will be giving a more <a class="jive-link-external-small" href="http://lanyrd.com/2011/nejbug-october/schedule/">detailed look</a> into using OpenShift Express for scripting languages and especially Java EE development on top of JBoss AS 7.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>JUDCon, London</h3>
<p>Monday, 31st October I get the pleasure to attend my first <a class="jive-link-external-small" href="http://www.jboss.org/events/JUDCon/2011/london">European JUDCon</a> where I'll be taking the stage a few times:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="text-decoration: line-through;">14:30-15:15 - <a class="jive-link-external-small" href="http://lanyrd.com/2011/judconjax-london/shykm/">Making Examples accessible</a> - talking about the rare subject on how you make your projects examples easy to use and install from both command line and IDE's. </span> <strong>Cancelled.</strong></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>19:00-20:00 - Emmanuel Bernard and I will host a <a class="jive-link-external-small" href="http://lanyrd.com/2011/judconjax-london/skgxt/">live JBoss Community Asylum podcast</a> from JUDCon inviting speakers and community members on stage to answer questions from the hosts and audience.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>20:00-?? - <a class="jive-link-external-small" href="http://lanyrd.com/2011/judconjax-london/skgxw/">Lightning talk</a> showing five approaches to deploy to JBoss AS 7 in five minutes.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Do not forget to <a class="jive-link-external-small" href="http://www.jboss.org/events/JUDCon/2011/london/register">Register for JUDCon</a> !</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>EclipseCon, Ludwigsburg</h3>
<p>This year EclipseCon Europe will be celebrating 10 year annivesary of Eclipse and we'll have two talks there on Thursday, 3rd November.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>11:30-12:00 <a class="jive-link-profile-small" href="https://community.jboss.org/people/fbricon">Fred Bricon</a> will be giving his <a class="jive-link-external-small" href="http://eclipsecon.org/sessions/workaround-driven-development-how-maven-integrates-eclipse-wtphttp://">Workaround Driven Development : How Maven integrates with Eclipse WTP</a> talk where he will show m2e-wtp and talk about the challenges making it happen within the boundaries of Eclipse WTP.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>15:30-16:00 I'm presenting on the <a class="jive-link-external-small" href="http://lanyrd.com/2011/eclipsecon-europe/shhkk/">Good, Bad and Ugly</a> sides of using Tycho for building Eclipse plugins.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Devoxx, Antwerp</h3>
<p>My favorite conference in Europe - primarily because of its awesome venue but also that I get to meet up with a large bunch of JBoss colleagues and community members.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Tuesday, 15th November at 13:00-13:15 I'm doing a Quickie talk covering how to <a class="jive-link-external-small" href="http://devoxx.com/display/DV11/Deploy+JEE+applications+to+OpenShift">Deploy JEE applications to OpenShift</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You'll also find me hanging out/talking at the BOF's concerning JBoss technology: <a class="jive-link-external-small" href="http://devoxx.com/display/DV11/CDI%2C+what+comes+next">CDI, what comes next</a>, <a class="jive-link-external-small" href="http://devoxx.com/display/DV11/JBoss+Application+Server+7+-+Community+BOF">JBoss Application Server 7</a> and <a class="jive-link-external-small" href="http://devoxx.com/display/DV11/Seam+Gathering">Seam Gathering</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>See you there!</h3>
<p>For those interesting in stalking conference speakers and events I recommend checking out <a class="jive-link-external-small" href="http://lanyrd.com">Lanyrd.com</a>, been using it extensively to be able to write the above pretty fast <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"> You can see my lanyrd schedule <a class="jive-link-external-small" href="http://lanyrd.com/profile/maxandersen/">here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>See you out there!</p>
</div>
<!-- [DocumentBodyEnd:9c0aedd1-368a-498e-80e1-da62329c56af] -->
</body>
