---
title: 'JBoss Developer Studio 4 CR1 available on Early Access!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png"><img alt="http://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/449-54/earlyaccess.png" class="jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/earlyaccess.png"></a></p>
<p>The <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/">Early Access site</a> for JBoss Developer Studio now contains CR1 free for download and if you want the JBoss Enterprise Application platform bundled you just need to and sign up for the early access program<a class="jive-link-external-small" href="http://bit.ly/jbdevstudioea"> here</a>.</p>
<h3>Improvements</h3>
<p>This release contains a few improvements over the last couple of betas that are worth mentioning.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Most of these stems from the change we made from using the horrible dropin feature of Eclipse to have a proper</p>
<p>P2 enabled Eclipse product build. This should make things like installation, startup and updates much smoother, simpler and in some cases faster.</p>
<h3>New Directory Layout</h3>
<p>There is no longer a seperate "eclipse" directory; everything related to JBoss Developer Studio is now in the "studio" folder and</p>
<p>instead of using raw eclipse to start you now uses the jbdevstudio, jbdevstudio.exe or the JBoss Developer Studio.app dependent on your</p>
<p>platform to launch.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you have installed the EAP bundle jboss-eap still lives in &lt;install&gt;/jboss-eap.</p>
<h3>Runtime Detection/Setup</h3>
<p>You can still use the "Server" page in the installer to setup JBoss server runtimes, but all this that was previously isolated in the installer is now also available from inside JBoss Tools under the Preferences for "JBoss Tools Runtime Detection". Here you can configure directories to scan for runtimes and it supports not only Server runtimes, but also standalone framework runtimes like Seam and Drools.</p>
<h3>Welcome Screen</h3>
<p>You will also now be greeted with a new shiny Welcome Screen:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/102-16422-1-11276/jbds4_welcomescreen.png"><img alt="jbds4_welcomescreen.png" class="jive-image-thumbnail jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/102-16422-1-11276/jbds4_welcomescreen.png" width="620"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>...and of course the latest stable fixes and features from JBoss Tools 3.2.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="text-align: left;">Have fun!</p>
</div>
<!-- [DocumentBodyEnd:d3ec3072-9b1c-40a5-b487-7a18b338956b] -->
</body>
