---
title: 'JBoss Tools 3.2.0.GA JSF 2 Composite Component Support'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, jsf, jsf2, composite_component ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>JBoss Tools introduced JSF 2 Composite Component support in version 3.2.0.M1, it matured through several development versions and got a lot of useful features:</p>
<ol style="margin-left: 0pt; padding-left: 30px; list-style-type: decimal;">
<li>Content assist for component developers</li>
<li>Content assist for component users</li>
<li>Validation and quick fixes</li>
<li>Refactoring</li>
<li>Rendering in XHTML Visual Editor</li>
<li>Resource Navigation in source and visual part of XHTML Visual Editor</li>
</ol>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Read full article about <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-16511">JBoss Tools JSF 2 Composite Component Support</a>.</p>
</div>
<!-- [DocumentBodyEnd:5eaf8606-5f51-450c-a4a0-4a3041af3b37] -->
</body>
