---
title: 'Deployment to "The Cloud" with JBoss Tools &amp; Delta Cloud'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>"The Cloud" is many things to many people, but in the example <a class="jive-link-blog-small" href="https://community.jboss.org/people/adietish/blog/2011/02/24/deploy-web-apps-to-the-cloud-using-jboss-deltacloud-tools"><span class="jiveTT-hover-user jive-username-link">Andre Dietisheim</span> blogs</a> he is showing off how to use JBoss Tools server adapter together with the new Delta Cloud tooling to deploy to a server running on Amazon EC2.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I've embedded the video he did into this blog posting, but <a class="jive-link-blog-small" href="https://community.jboss.org/people/adietish/blog/2011/02/24/deploy-web-apps-to-the-cloud-using-jboss-deltacloud-tools">Andre's blog</a> contains more details on how you can do this your self - such as configuring the right ports on Amazon EC2 and example image names/id's to try this out with.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><iframe frameborder="0" height="350" src="https://player.vimeo.com/video/20281681" width="425">
<br><br></iframe></p>
<h3></h3>
<h3>Next steps</h3>
<p>This screencast primarily shows off the current integration between Delta Cloud + JBoss Tools Server adapter + EC2 Images made by <a class="jive-link-profile-small" href="https://community.jboss.org/people/goldmann">Marek Goldmann</a>; images which anyone can use or create on their own as outlined in the screencast - and when they are done its like deploying against your own local server in the cloud. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We will be posting a demo showing off some of the other improvements that have been made in the latest <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/02/21/jboss-tools-32-is-finally-here">JBoss Tools 3.2 release</a> allowing for even more flexible deployments to a server (JBoss and others).</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:f32ce389-2a77-40b5-89ae-a9e98af79803] -->
</body>
