---
title: 'JBoss Developer Studio 4.1 is now available!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jboss, jbds, eclipse, tools, bpel, tooling, 4.1, helios, jbds4, jbds4.1 ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>JBoss Developer Studio 4.1, an update to the March 2011 release of JBoss Developer Studio 4, is now available for download!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul>
<li>If you're an existing Red Hat Support Portal user/customer, you can get access to JBoss Developer Studio via the Downloads section. But if you're a new user, all you need to do is signup to be granted access.</li>
<li>If you already have JBoss Developer Studio 4 installed, you can update your software using the update site through Eclipse.</li>
<li style="text-align: start;">You can get it for free (registration required) from <a class="jive-link-external-small" href="http://devstudio.jboss.com/download/" target="_blank">http://devstudio.jboss.com/download/</a> (once that page gets refreshed)</li>
</ul>
<h3>What is JBoss Developer Studio 4.1?</h3>
<p>JBoss Developer Studio 4.1 comes as a full easy to install Eclipse installation that bundles Eclipse WTP, TestNG, Spring IDE and the latest updated release of the supported plugins from JBoss Tools 3.2, including SOA-related tooling such as ESB, Drools, jBPM 3, and others.</p>
<p>Release highlights include:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul>
<li>Now based on Eclipse 3.6.2 (Helios SR2)</li>
<li>Includes bug fixes to many major components</li>
</ul>
<h3>BPEL Editor is Now Fully Supported</h3>
<p>In JBoss Developer Studio 4.0, the BPEL Editor was included as a Technical Preview. The editor is now fully supported in JBoss Developer Studio 4.1.</p>
<h3>JBoss Developer Studio Extras Site Includes More Certified 3rd Party Options</h3>
<p>In JBoss Developer Studio 4, you had two certified 3rd party extras available for installation: Spring IDE and TestNG.</p>
<p>In 4.1, you now have the following certified 3rd party options:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul>
<li>eGit</li>
<li>FindBugs</li>
<li>Maven Integration</li>
<li>Mylyn</li>
<li>PMD</li>
<li>Spring IDE</li>
<li>Subclipse</li>
<li>and TestNG</li>
</ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>To install these certified 3rd Party features from the update site, go to Help-&gt;Install New Software and select the "JBoss Developer Studio 4.0 Extras" site, which is predefined in the drop-down. Expand the "All Certified Features" item in the list and choose the features you want to install.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:9c2c9e3f-b3c6-4779-8696-729a8c326f6b] -->
</body>
