---
title: 'BPEL Editor - quick update'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<h2>The future's so bright, you may want to consider donning your <a class="jive-link-external-small" href="http://en.wikipedia.org/wiki/The_Future%27s_So_Bright,_I_Gotta_Wear_Shades">protective eyewear</a>.</h2>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We're getting ready to merge the JBoss fork of the BPEL Designer code back into the eclipse.org repository. This will include many bug fixes and a few enhancements. The merge should be complete by the end of this month, so stay tuned.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Some new things are in the works for the BPEL Designer at eclipse.org. Vincent Zurczak, one of our committers, has been thinking about how to improve the user experience. <a class="jive-link-external-small" href="http://eclipse.org/bpel/users/pdf/BPEL_UI_Enhancements_v1.0.pdf">Please have a look</a> and let us know what you think.</p>
</div>
<!-- [DocumentBodyEnd:ad03e148-51c5-4b9c-b8ad-09e989995a81] -->
</body>
