---
title: 'JBoss Developer Studio 4 is now available for free'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<blockquote class="jive-quote"><p>Note: JBoss Developer Studio 5 is now available, see <a class="" href="https://community.jboss.org/community/tools/blog/2012/06/21/jboss-tools-33-and-developer-studio-50-final-release">https://community.jboss.org/en/tools/blog/2012/06/21/jboss-tools-33-and-developer-studio-50-final-release</a></p></blockquote>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Developer Studio 4 is now avaliable for free (registration required) from <a class="jive-link-external-small" href="http://devstudio.jboss.com/download/">http://devstudio.jboss.com/download/</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you are an existing Red Hat Support Portal user/customer then you already should have access to JBoss Developer Studio via the Downloads section, but if you are a new user the only thing you need to do is to signup and you will be granted access to the free download of JBoss Developer Studio.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The direct link to the download no matter if you are existing or new user of Red Hat Support Portal is: <a class="jive-link-external-small" href="https://www.redhat.com/wapps/eval/index.html?evaluation_id=1015">https://www.redhat.com/wapps/eval/index.html?evaluation_id=1015</a></p>
<h2>What is JBoss Developer Studio 4 ?</h2>
<p>JBoss Developer Studio 4 comes as a full easy to install Eclipse installation that bundles Eclipse WTP, TestNG, Spring IDE and the latest updated release of the <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-13300">supported</a> plugins from <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/02/21/jboss-tools-32-is-finally-here">JBoss Tools 3.2</a>. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This latest release highlights are that it is now based on Eclipse 3.6 (Helios), updates the JSF 2 tooling, adds remote deployment for JBoss server adapters, easier setup of existing runtimes, provides tech preview of improved CDI functionallity and it includes updates for the SOA-P related features such as Guvnor, Drools, jBPM 3, Teiid Designer and Modeshape plugins.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Free vs For Pay ?</h2>
<p>The free version of JBoss Developer Studio is the standalone version which can be used with both community and productized versions of JBoss Application Server and related frameworks such as Hibernate, Seam, Drools, jbpm, etc. The difference between this distribution and JBoss Tools boils down to ease-of-installation and future updates. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The product called JBoss Developer Studio Portfolio Edition is also available from <a class="jive-link-external-small" href="http://devstudio.jboss.com/download/">http://devstudio.jboss.com/download/</a> for 99$ and in addition to the standalone version of JBoss Developer Studio it gives access to a bundle with JBoss Enterprise Application Platform 5 and additional downloads for development purposes of JBoss and Red Hat runtime distributions - including but not limited to JBoss Enterprise SOA Platform and Red Hat Enterprise Linux. You can read more about this offering at <a class="jive-link-external-small" href="http://www.jboss.com/products/devstudio/">http://www.jboss.com/products/devstudio/</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thus if you already have access to the runtimes you would like to target for development the free version of JBoss Developer Studio is for you, but if you want access to the full range of JBoss and Red Hat runtime products (+ updates) for developement then the Portfolio Edition is what you are looking for.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:145d2579-6f53-4b9e-a77e-b26f222cdeec] -->
</body>
