---
title: 'Forge Commands on the Menu'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ tools, forge ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>These last weeks, we have been working hard to enable an exciting new feature of the Forge / JBoss Tools integration. The idea was to generate a popup with a list of plugins for which commands can be applied in the Forge console when a 'special shortcut' is pressed, much similar to the quick access feature in Eclipse. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>To do this we needed to enable hidden communication of metadata from JBoss Tools to the Forge runtime and back. Today I am pleased to show the first results of this in the form of a first screenshot.</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4043-16839/forge-ctrl-4-popup.png"><img alt="forge-ctrl-4-popup.png" class="jive-image-thumbnail jive-image" height="337" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4043-16839/450-337/forge-ctrl-4-popup.png" style="display: block; margin-left: auto; margin-right: auto;" width="450"></a>As you can see the popup contains a list of the Forge plugins for which there is a command applicable right after starting up Forge in JBoss Tools. The default way to bring up this popup is currently the key combination 'Cmd+4'. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Of course a lot of work still needs to be done for this to become really useful: all the applicable commands need to appear as children of the listed plugins and for these commands the different options need to appear somehow (probably as a new prepopulated popup). Afterwards the complete commands should be pasted into the Forge console view and executed. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Feedback and/or ideas are more than welcome!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Cheers,</p>
<p>Koen</p>
</div>
<!-- [DocumentBodyEnd:605cc3d5-e1a0-4e8b-9b89-11ee0c8f52be] -->
</body>
