---
title: 'Eclipse BPEL Designer project is moving'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>After a discussion with the SOA PMC it was decided that it would in the community's best interests to have the BPEL Designer project at Eclipse move to the <a class="jive-link-external-small" href="http://eclipse.org/soa">SOA top-level project</a>. This will promote the visibility of the project to a community that is more directly involved in the definition and use of business process design tools, thereby attracting developers with a vested interest in improving and maintaining the BPEL Designer code base.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The Restructuring Review documentation can be found <a class="jive-link-external-small" href="http://wiki.eclipse.org/BPEL_Restructuring">here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This move review is planned for July 7-13, 2011 and restructuring should be finished by end of July. Once this is done, the code will be merged with our&#160; fork at JBoss.org and will become the official, fully supported BPEL tooling for JBoss Tools and JBoss Developer Studio. In doing this we hope to:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>1. achieve better visibility in the open source community for the project and attract more contributors to help with bug fixes and enhancements</p>
<p>2. eliminate the need for keeping the JBoss.org and eclipse.org code lines in sync</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Stay tuned for more updates...</p>
</div>
<!-- [DocumentBodyEnd:f5cd1d74-ae3d-4124-95ed-2602eb62bb7d] -->
</body>
