---
title: 'JBoss Tools 3.2 is Finally here!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p style="text-align: center; padding: 0pt; margin: 0pt;"><br><a href="http://in.relation.to/service/File/10824"><img alt="http://in.relation.to/service/File/10824" class="jive-image" src="http://in.relation.to/service/File/10824" style="margin: 12px; border: 0px initial initial;"></a></p>
<h4 style="color: #333333; font-weight: bold; padding-top: 10px; padding-right: 0pt; padding-bottom: 4px; padding-left: 0pt; font-size: 13pt; text-align: center; margin: 0pt;">3.2.0</h4>
<p style="text-align: center; padding: 0pt; margin: 0pt;">[<a class="jive-link-external-small" href="http://www.jboss.org/tools/download" target="_top">Download</a>] [<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/stable/helios/">Update Site</a>] [<a class="jive-link-external-small" href="http://marketplace.eclipse.org/content/jboss-tools-1">Market Place</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/3.2.0.Beta1/" target="_top">Documentation</a>] [<a class="jive-link-external-small" href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="_top">Forums</a>] [<a class="jive-link-external-small" href="http://jira.jboss.com/jira/browse/JBIDE" target="_top">JIRA</a>] [<a class="jive-link-external-small" href="http://twitter.com/jbosstools" target="_top">Twitter</a>]</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I'm very happy to be able to announce that we pushed out JBoss Tools 3.2 to the servers shortly before the weekend.</p>
<h2>Installation/Upgrade</h2>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Existing Eclipse Workspaces used with JBoss Tools 3.1 will work with JBoss Tools 3.2, but do take a backup of your workspace to be on the safe side.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>As per tradition the updatesite is now moved over to a stable location </p>
<pre class="jive_text_macro jive_macro_quote"><p><code>http://download.jboss.org/jbosstools/updates/stable/helios/</code></p></pre>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>To "upgrade" from JBoss Tools 3.1 to JBoss Tools 3.2 you need to install Eclipse 3.6 and add the updatesite. Updating Eclipse major versions via updatesite does sometime work, but we do recommend a clean install to make it all a bit cleaner.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you don't like messing with updatesites you can also install JBoss Tools 3.2 via Eclipse Marketplace - simply use <strong>Help &gt; Eclipse Marketplace </strong>directly from Eclipse and find JBoss Tools 3.2 (Helios) via the Search facility.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>New Features</h2>
<p>The following paragraphs outlines the highlights from the JBoss Tools 3.2 release, but I recommend reading the complete</p>
<p><a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a> lists if you want to see all the noticable changes and improvements that have been made since JBoss Tools 3.1.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>JSF 2</h3>
<p>The Visual Page Editor and our XHTML structured editors now supports JSF 2; especially the notion of composite components which is a new feature of JSF 2 allowing users to much easier define reusable components for their application or framework.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JSF 2 also provides a new standardized approach to load up resources via the classpath and web archives; these are all supported by JBoss Tools making the visual page editor render even more realistically the layout of the page but also code completion, navigation and even quickfixes now benefit from this additional information to make it easy to fix issues and navigate to the linked resources instantly.</p>
<h3>Context &amp; Dependency Injection (CDI)</h3>
<p>The CDI tooling have received a lot of updates, especially in context of providing validations of all the error handling cases covered by the CDI TCK test suite and a few other hints provided by the Weld CDI Team.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>There is also a good set of wizards, code navigations and quickfixes added in this release and I recommend you go read <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/01/31/overview-of-context-dependency-injection-tools">Alexey Kazakov's blog</a> about this feature set.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Visual Page Editor</h3>
<p>Besides supporting JSF 2 better in this release various other improvements were done to the Visual Page Editor.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul>
<li>Templates for jBPM, Spring and Richfaces 4 were added/improved</li>
<li>DocBook support were made more complete and is now a separately named editor</li>
<li>A generic "Split-Editor" functionallity were added (can be used with any Eclipse editor)</li>
<li>The UI were cleaned up to fit better into the Eclipse IDE</li>
</ul>
<h3>Servers, Packaging &amp; Remote Deployment</h3>
<p>The biggest new feature for the Application Server integration in JBoss Tools 3.2 is the introduction of Remote Deployment. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Remote Deployment works (more or less) just like the Local deployment except instead of using local file copies we now relay the file transfer to the Eclipse Remote System Explorer API; this then allows you to deploy to systems via SSH, FTP, etc.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This Remote Deployment not only works for the JBoss Application Server adapters but is also provided via the "Deploy Only" server meaning you can use it to deploy any project to any application server or system which supports hotdeployment by scanning their local file system for changes.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We've also improved support for "non-WTP" style projects by enabling you to right click Folders and mark them as Deployable. These deployable folders can then be deployed to any of the Server adapters provided by JBoss Tools, including the Deploy Only server.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The JBoss Server Adapter now also supports the new JBoss 6 and updated versions of JBoss Enterprise Application Platform based servers.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Automatic Runtime Detection</h2>
<p>One of the big hassles of any IDE configuration is to identify and configure your various runtimes, such as JBoss Application Server, Seam, jbpm, ESB, Drools, JDK's etc.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We've contributed the installer logic from our JBoss Developer Studio 4 product into the actual JBoss Tools plugins and enhanced it so it can be configured to scan one or more directories at startup for new runtimes; if it detects a new runtime it will ask if it should add it and JBoss Tools will do a default installation of the runtime - freeing you from having to go through the various runtime user interfaces.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This feature is available under Eclipse Preferences in<strong> JBoss Tools &gt; JBoss Tools Runtime Detection</strong></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>In the future we plan to add more runtime detections, not just JBoss based ones.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Google GWT (Experimental)</h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Google's Eclipse plugin for GWT does not provide seamless integration with Eclipse WTP based projects; thus we made an Eclipse Facet that allows you to easily enable Google GWT on your WTP project and not having to use custom wizards and special projects to get started with the Eclipse GWT tooling.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Please note that since Google are not providing stable named features from their updatesite to have Eclipse updatesites work together, it is necessary to install Google GWT plugin manually before trying to use our Google GWT facet.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>See <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15593">Andre's article</a> on how to use this Google GWT feature.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>DeltaCloud (Experimental)</h3>
<p>The tooling for Delta Cloud provides a perspective and a few views to easily interact with systems such as SteamCannon that provide a DeltaCloud API.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This gives you the ability to browse, start &amp; stop virtual machines hosted by cloud service providers such as EC2 and Rackspace.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span>You can try it out by using </span><a class="jive-link-external-small" href="https://try.steamcannon.org/deltacloud/api" target="_blank">https://try.steamcannon.org/deltacloud/api</a> as the URL for a Delta Cloud connection.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Note, DeltaCloud tooling is marked experimental while the DeltaCloud API and implementations are stabilizing. If needed we will provide an update to support the latest/stable DeltaCoud servers.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Maven</h3>
<p> We've continued to expand the support for Maven projects by extending m2eclipse tooling to automatically configure projects based on the dependencies of your project.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thus now if you import or configure a Maven based project and it uses a standard dependency for either Seam, CDI, JSF, Hibernate or GateIn/Portal the features for these frameworks will now be enabled and configured automagically.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can control this per framework under Eclipse Preferences via <strong>JBoss Tools &gt; JBoss Maven Integration</strong></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>To see an example of this applied, look at <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/02/21/getting-started-with-jboss-tools-jboss-maven-integration-and-weld">Snjezana's blog</a> where she illustrate how via Project Examples you can easily get started with the CDI and JSF tooling. This blog works because of the Maven Integration provided here.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Modeshape</h3>
<p>Modeshape provides a JCR based view on many different datasources such as file systems, databases, other JCR repositories and even your own services and applications.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The Modeshape tooling provided in JBoss Tools 3.2 gives you a way to easily connect to a Modeshape server, browse it content and checkin/checkout content from and to the Eclipse workspace.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Teiid Designer </h3>
<p>The Teiid Designer that is used to visualize model your datamodel and transformations as supported by the Teiid runtime is now included into JBoss Tools.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The Teiid Designer plugins also provides a testbed for testing and exploring your Teiid configured dataservices.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can read more about Teiid Designer on its <a class="jive-link-external-small" href="http://www.jboss.org/teiiddesigner">community page</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>BPEL</h3>
<p>The BPEL tooling is based on the Eclipse BPEL project but provides a set of bugfixes and features that have not yet made it back to the Eclipse BPEL project, especially in context of supporting deployment to other systems than Tomcat based systems such as Apache ODE. We support the Riftsaw JBoss based BPEL system.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you want to read about the BPEL feature set and its future (its fixes are being contributed back to Eclipse.org) you can read <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/01/24/bpel-technical-preview-available-soon">Bob Brodt's blog</a> about this.</p>
<h3>WebServices</h3>
<p>We've added some much simpler wizards for creating JAX-RS or even JAX-WS webservices to the tooling; but even more interesting is the new Webservice Tester UI which gives you a view to easily query a SOAP or REST based webservice and introspect its result.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Brian Fitzpatrick wrote a <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/02/08/tools-tools-tools">couple</a> of <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15778">blogs</a> <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15749">about it</a>, giving you an overview of the new improvements for the WebServices support.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Usage Reporting </h3>
<p>When you install a JBoss Tools plugin, on the first startup of Eclipse a dialog will ask if you wish to send anonymous usage data to us. We use that information to see which OS's, system configurations and plugins you are running plus we get to see how fast (or slow) new versions of spreads over the world. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>...and much more...</h3>
<p>The above highlights are just a subset of the over 1600 issues fixed and implemented over the last many months thus the best way to get to know it all is to try it out <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Let us know how it goes and above all,</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p> Have fun!</p>
</div>
<!-- [DocumentBodyEnd:f66f0500-56a9-4bfd-8a30-beec631726e3] -->
</body>
