---
title: 'Three Crazy Weeks'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, event, judcon, eclipsecon, devoxx, conference ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>I&#8217;ve been on the road two out of the last three weeks, speaking and attending three conferences: JUDCon London, EclipseCon in Ludwigsburg and finally Devoxx in Antwerp.</p>
<h1 id="judconlondon">JUDCon London</h1>
<p>At JUDCon I was co-hosting the third live JBoss Asylum Podcast together with Emmanuel Bernard. The topic was &#8220;Polyglot JBoss&#8221; with Marek Goldmann and Galder Zamarreno as guests talking about how JBoss supports, extends and develop on multiple languages outside just Java.</p>
<p>The recording of this is <a class="jive-link-external-small" href="http://asylum.libsyn.com/webpage/podcast-22-polyglot-j-boss-at-jud-con-london">available on JBoss Asylum site</a> or <a class="jive-link-external-small" href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=332953048">iTunes</a>. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://1.bp.blogspot.com/-rnnqJg4dzBQ/TrD6Z1ZWqMI/AAAAAAAAGSc/xOl-FFsU7KM/s200/2011-10-31+19.26.23.jpg"><img alt="http://1.bp.blogspot.com/-rnnqJg4dzBQ/TrD6Z1ZWqMI/AAAAAAAAGSc/xOl-FFsU7KM/s200/2011-10-31+19.26.23.jpg" class="jive-image" src="http://1.bp.blogspot.com/-rnnqJg4dzBQ/TrD6Z1ZWqMI/AAAAAAAAGSc/xOl-FFsU7KM/s200/2011-10-31+19.26.23.jpg"></a>Image curtesy Eric D. Schabell.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>After the panel we got a set of lightning talks done by JBossians and external contributors which I had the pleasure of moderating. Was great fun.</p>
<p>I did the first lightning talk about how you make your examples for your framework/distribution the most accessible to users. Not everyone liked the conclusion, but I got good feedback on the content, thus I re-recorded the audio for this talk. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I&#8217;ve made the slides available together with the audio on <a class="jive-link-external-small" href="http://vimeo.com/groups/jbosstools/videos/32501925">JBoss Tools Vimeo group</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<!--[CodeBlockStart:f8e30d51-2b14-447b-8aa4-8a2298d4bbdb]--><span><object height="250" width="400"><param name="allowfullscreen" value="true">
<param name="allowscriptaccess" value="always">
<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=32501925&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=&amp;fullscreen=1&amp;autoplay=0&amp;loop=0">
<embed allowfullscreen="true" allowscriptaccess="always" height="250" src="http://vimeo.com/moogaloop.swf?clip_id=32501925&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" width="400"></embed></object></span><!--[CodeBlockEnd:f8e30d51-2b14-447b-8aa4-8a2298d4bbdb]--><p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p> If&#160; you just want the the slides you can get those from <a class="jive-link-external-small" href="http://www.slideshare.net/maxandersen/">my SlideShare</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>At JUDCon I spent most of my time talking with attendees and colleagoues, but also did find time to attend a few talks. One of those stood out, namely &#8220;Hibernate Puzzlers&#8221; by Patrycja from <a class="jive-link-external-small" href="http://twitter.com/yonlabs">@yonlabs</a>. She presented a set of puzzlers and even though I knew all the issues she was presenting on, her puzzlers did caught me being unsure what the right answer was. Well worth watching if you get a chance. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h1 id="eclipsecon">EclipseCon</h1>
<p>At Eclipsecon Europe they were celebrating it was 10 years since the first release of Eclipse the IDE. I unfortunately missed out on the party and cake since I was sure the celebration would be on the Thursday not Wednesday. Instead I spent that evening having early dinner with Fred Bricon and then we went separate ways to prepare for our talks the next day.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Fred did his first public presentation for Red Hat called &#8220;<a class="jive-link-external-small" href="http://eclipsecon.org/sessions/workaround-driven-development-how-maven-integrates-eclipse-wtp">Workaround Driven Development: How Maven integrates with Eclipse WTP</a>&#8221;. He covered how the <a class="jive-link-external-small" href="https://github.com/sonatype/m2eclipse-wtp/wiki">m2e-wtp project</a> makes Maven usable in context of Eclipse WTP projects and how it was technically done by bridging Eclipse and Maven&#8217;s two different worldviews on projects.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>All during EclipseCon we got very good feedback from users of m2e-wtp and how it was the piece they were missing to actually be productive within their work on enterprise projects - always good to hear we and especially Fred's work are making a difference.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>My talk was about the experiences we&#8217;ve done with the move to Tycho on the JBoss Tools project. It was hard to boil it down to a 20 minutes presentation but I think I succeded. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you want to see and hear the presentation it is available from EclipseCon&#8217;s audio/video recordings under: <a class="jive-link-external-small" href="http://www.fosslc.org/drupal/content/tycho-good-bad-and-ugly">Tycho - The good, the bad and the ugly</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://fosslc.org/drupal/content/tycho-good-bad-and-ugly"><img alt="http://content.screencast.com/users/max.rydahl.andersen/folders/Jing/media/3e93a526-1828-4b5b-82eb-f68706cce976/00000374.png" class="jive-image" src="http://content.screencast.com/users/max.rydahl.andersen/folders/Jing/media/3e93a526-1828-4b5b-82eb-f68706cce976/00000374.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h1 id="devoxx">Devoxx</h1>
<p>Devoxx also had its 10th anniversary in Antwerp and I had the pleasure to attend and speak again this year. This year with a quickie&#160; on how to &#8220;<a class="jive-link-external-small" href="http://www.devoxx.com/display/DV11/Deploy+JEE+applications+to+OpenShift">Deploy Java EE Applications to OpenShift</a>&#8221;. I also got to reveal the news and do a demo of the new Jenkins support on OpenShift.&#160; </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://lh6.googleusercontent.com/-eEBJLVkZcNQ/TsreV-JMRWI/AAAAAAAABPQ/rHSCovQS5mY/s720/DSC_2591.JPG"><img alt="https://lh6.googleusercontent.com/-eEBJLVkZcNQ/TsreV-JMRWI/AAAAAAAABPQ/rHSCovQS5mY/s720/DSC_2591.JPG" class="jive-image" src="https://lh6.googleusercontent.com/-eEBJLVkZcNQ/TsreV-JMRWI/AAAAAAAABPQ/rHSCovQS5mY/s720/DSC_2591.JPG"></a></p>
<p>All in all a good talk but I don&#8217;t have a recording of this talk but the OpenShift team released a video covering similar content.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><iframe frameborder="0" height="350" src="https://www.youtube.com/embed/4Htd9vAxJAc" width="425">
<br><br></iframe></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.youtube.com/watch?v=4Htd9vAxJAc&amp;feature=player_embedded">&#8220;Deploying Java Apps to the Cloud with the OpenShift Eclipse Plug-in&#8221;</a></p>
<p><span>They even made a cartoon over the whole OpenShift release including JBoss Tools called &#8220;<a class="jive-link-external-small" href="http://www.youtube.com/watch?v=raXByPQTd8s">A Comprehensive Lifecycle for Java Developers in the Cloud with OpenShift</a>&#8221;</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span><iframe frameborder="0" height="350" src="https://www.youtube.com/embed/raXByPQTd8s" width="425">
<br><br></iframe><br></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span> </span>&#160;</p>
<p>Devoxx is also the conference in Europe where I get to meet up with many of the JBoss folks speaking there and this year was no exception. What was exceptional this year was though that we had a small booth this year leaving no space for the traditional fussball table. That was no fun. Lincoln, Kabir and I did though find a way have fun since there was beer and helium baloons at the booth:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<!--[CodeBlockStart:71a545c9-77c0-4745-8fa8-057dade3dd98]--><span><object height="250" width="400"><param name="allowfullscreen" value="true">
<param name="allowscriptaccess" value="always">
<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=32212118&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=&amp;fullscreen=1&amp;autoplay=0&amp;loop=0">
<embed allowfullscreen="true" allowscriptaccess="always" height="250" src="http://vimeo.com/moogaloop.swf?clip_id=32212118&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" width="400"></embed></object></span><!--[CodeBlockEnd:71a545c9-77c0-4745-8fa8-057dade3dd98]--><p><a href="http://vimeo.com/32212118"><img alt="AS7 is lightweight and superfast" id="as7islightweightandsuperfast" src="http://vimeo.com/32212118"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Beyond having fun with helium I was also happy to hear that Google finally announced their opensourcing of their GWT Eclipse plugin tools. You can read my thoughts on that in <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/11/16/thoughts-on-google-eclipse-plugins-going-open-source">my previous blog entry</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The most work was though on helping getting the <a class="jive-link-external-small" href="http://ceylon-lang.org">Ceylon website</a> and Eclipse updatesite ready for the planned launch at the end of Emmanuel Bernard and Stephan&#8217;s talk about Ceylon.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>That turned out to be quite tricky despite Devoxx wifi being the best ever, but we made it through and now everyone can try out David Festal's Ceylon IDE by following the <a class="jive-link-external-small" href="http://ceylon-lang.org/documentation/ide/">instructions on ceylon-lang.org</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Pierre-Antoine Gregorie snapped a photo of us hacking away on getting the site in shape:</p>
<p><a href="https://lh6.googleusercontent.com/-PJyLY2zLhbk/TsfJQktiS5I/AAAAAAAAyHU/uIaldOakB1s/s400/17112011-DSC_2237.jpg"><img alt="Hacking on Ceylon" id="hackingonceylon" src="https://lh6.googleusercontent.com/-PJyLY2zLhbk/TsfJQktiS5I/AAAAAAAAyHU/uIaldOakB1s/s400/17112011-DSC_2237.jpg"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>All in all three very busy weeks and I here I&#8217;m not even covering all the other work that went on, but I&#8217;ll hopefully be able to write about the end-results of that in the upcoming weeks and months.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Until then, Have fun! </p>
</div>
<!-- [DocumentBodyEnd:14ba9030-fd20-482e-85d8-6b1e2ed314fe] -->
</body>
