---
title: 'Overview of Context Dependency Injection Tools'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ cdi, jsr-299 ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>The very first version of Context Dependency Injection (CDI) Tools was introduced as a part of JBoss Tools 3.1.0. But now JBoss Tools 3.2 is moving to its first stable release. Let's have some review of main features of the improved and up coming CDI Tools in JBoss Tools 3.2.</p>
<h3 style="color: #333333; font-weight: bold; margin-left: 0pt; padding-top: 10px; padding-bottom: 4px; font-size: 14pt;"><strong>Enabling CDI support</strong></h3>
<p>First at all we need to enable CDI support for the project. If you already have some CDI project and don't want to start from scratch then just go to<em>Project Properties-&gt;CDI-&gt;CDI support</em> to enable all the features.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11251/00enableCDI.png"><img alt="00enableCDI.png" class="jive-image" height="234" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11251/310-234/00enableCDI.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If your project is Maven-based and the pom.xml references the CDI api jars CDI support will be enabled automatically. If you want to create a brand new WTP project with CDI support, just add a CDI facet to the list of installing facets.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>See Max's blog <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2010/12/10/simple-cdi-hello-world-in-eclipse">Simple CDI Hello World with Eclipse and JBoss Tools</a> for details.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Make sure you have CDI support enabled for all the related projects. For instance if you have a web project (is to deployed as WAR) which uses some Java project (JAR) then both projects should have CDI support enabled.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you are interested in Weld examples (Weld is the reference implementation of CDI spec.) you can download it from JBoss Tools example site.<em>Help-&gt;Project Examples-&gt;Weld 1.0.1</em></p>
<p><em><br></em></p>
<p><em><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11252/01examples.png"><img alt="01examples.png" class="jive-image" height="441" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11252/310-441/01examples.png" width="310"></a><br></em></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3 style="color: #333333; font-weight: bold; margin-left: 0pt; padding-top: 10px; padding-bottom: 4px; font-size: 14pt;"><strong>CDI Wizards</strong></h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>There are a set of CDI Wizards to help you to create basic CDI artifacts. The wizards are available in <em>File-&gt;New-&gt;Other...-&gt;CDI</em></p>
<p><em><br></em></p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11253/02wizards.png"><img alt="02wizards.png" class="jive-image" height="300" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11253/310-300/02wizards.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11254/03newStereotype.png"><img alt="03newStereotype.png" class="jive-image-thumbnail jive-image" height="486" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11254/450-486/03newStereotype.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3 style="color: #333333; font-weight: bold; margin-left: 0pt; padding-top: 10px; padding-bottom: 4px; font-size: 14pt;"><strong>CDI validation</strong></h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>CDI validation covers most of the rules declared in the JSR-299 specification. There are 100+ validation rules including definition errors and deployment problems. You can see the full list in the CDI Preferences, where you can also control which rules you want to be Errors, Warnings or simply Ignored.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><strong><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11255/04validation.png"><img alt="04validation.png" class="jive-image-thumbnail jive-image" height="434" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11255/450-434/04validation.png" width="450"></a><br></strong></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The CDI validator checks for problems in java source files, JSP, XHTML and beans.xml files.</p>
<p>Some of the validation problems can be fixed via Quick Fixes menu (Ctrl+1):</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11256/05nonBusinessProducer.png"><img alt="05nonBusinessProducer.png" class="jive-image-thumbnail jive-image" height="160" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11256/450-160/05nonBusinessProducer.png" width="450"></a></p>
<h3 style="color: #333333; font-weight: bold; margin-left: 0pt; padding-top: 10px; padding-bottom: 4px; font-size: 14pt;"><strong>Code completion</strong></h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Another useful feature is a code completion. CDI tools provides two types of code completion. Code completion for @Named beans and their members which are available in EL expressions:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11257/06elca.png"><img alt="06elca.png" class="jive-image-thumbnail jive-image" height="228" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11257/450-228/06elca.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>And code completion for the relevant types/annotations in beans.xml:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11258/07beansXmlCA.gif"><img alt="07beansXmlCA.gif" class="jive-image-thumbnail jive-image" height="280" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11258/450-280/07beansXmlCA.gif" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3 style="color: #333333; font-weight: bold; margin-left: 0pt; padding-top: 10px; padding-bottom: 4px; font-size: 14pt;"><strong>Hyperlinks (OpenOns)</strong></h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="margin-left: 0pt; font-weight: normal;">Hyperlinks help you to navigate between source files. For example Ctrl+Click or F3 on any EL will navigate you to the corresponding java source.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="margin-left: 0pt; font-weight: normal;">For Injection's it is a bit more tricky. The built-in Java hyperlink for its declared type will open the type. But for Injection there are additional relevant items to navigate to. CDI Tools offers you an alternative navigation to the actual bean which is to be injected.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11259/08openOnInj.png"><img alt="08openOnInj.png" class="jive-image" height="135" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11259/310-135/08openOnInj.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="margin-left: 0pt; font-weight: normal;">If&#160; the injection has multiple eligible beans, you can see a full list of these beans. Btw. you can fix the multiple eligible beans via a quick-fix (Ctrl+1).</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="margin-left: 0pt; font-weight: normal;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11260/09openOnsInj.png"><img alt="09openOnsInj.png" class="jive-image-thumbnail jive-image" height="203" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11260/450-203/09openOnsInj.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="margin-left: 0pt; font-weight: normal;">Also you can open the corresponding class/interface mentioned in beans.xml via the same Ctrl+Click on the type name.</p>
<p>Observers and Events can be navigated to via OpenOn too.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11261/10eventOpenons.png"><img alt="10eventOpenons.png" class="jive-image-thumbnail jive-image" height="103" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11261/450-103/10eventOpenons.png" width="450"></a></p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11262/11observerOpenOns.png"><img alt="11observerOpenOns.png" class="jive-image-thumbnail jive-image" height="159" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11262/450-159/11observerOpenOns.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>As well as Producer and Disposer methods:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11263/12producerOpenOn.png"><img alt="12producerOpenOn.png" class="jive-image" height="91" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11263/310-91/12producerOpenOn.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3559-11264/13disposerOpenOn.png"><img alt="13disposerOpenOn.png" class="jive-image" height="87" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3559-11264/310-87/13disposerOpenOn.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>At last we also have:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul>
<li>EL refactoring. For example if your name the method/field or class name of some bean using Java refactoring dialogs CDI Tools will offer you to update all the EL expressions that use this method/field/type.</li>
<li>Related CDI Beans are added in search result for field/method references search. See <a class="jive-link-external-small" href="http://screencast.com/t/NGUxOTA5YmQt">demo movie</a>.</li>
</ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3 style="color: #333333; font-weight: bold; margin-left: 0pt; padding-top: 10px; padding-bottom: 4px; font-size: 14pt;">Feedback</h3>
<p>This was a quick overview of the main features of up coming JBoss Tools 3.2 for CDI developers.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you think CDI Tools misses some useful functionality then please create a feature request in <a class="jive-link-external-small" href="https://issues.jboss.org/browse/JBIDE">JIRA</a>! We are working to help you to enjoy this exciting world of CDI <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
</div>
<!-- [DocumentBodyEnd:bc62f33e-69b3-40fa-9ceb-4b722dcf28ec] -->
</body>
