---
title: 'Forge Tools: She''s a Rainbow'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, jboss_tools, forge ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>Whether Forge Tools is male or female can possibly be a source of animated debate but under the motto '<a class="jive-link-external-small" href="http://www.youtube.com/watch?v=PcYNUX0g4e8&amp;feature=related">She Comes in Colours Everywhere</a>' we have added support for colours in the Forge console that comes with JBoss Tools. The result looks like the screenshot below.</p>
<p style="text-align: center;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4161-17017/forge_colors.png"><img alt="forge_colors.png" class="jive-image-thumbnail jive-image" height="183" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4161-17017/450-183/forge_colors.png" width="450"></a></p>
<p>An obvious improvement is to let users customize the used colours through the Eclipse preferences. This is the planned for subject of <a class="jive-link-external-small" href="https://issues.jboss.org/browse/JBIDE-9746">JBIDE-9746</a>. In the meantime you can already enjoy the wonderful defaults! ;-)</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Cheers,</p>
<p>Koen</p>
</div>
<!-- [DocumentBodyEnd:3c6ebde6-fb80-49ab-9577-4fee4e23ff14] -->
</body>
