---
title: 'JBoss Developer Studio Team is Hiring!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>We are looking for 2 core developers and a release engineer to work on JBoss Developer Studio product and the JBoss Tools project.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you are into Eclipse development, want to work with some of the greatest talent in the industry and aren't afraid to get your hands dirty then take a look at the following positions recently posted on <a class="jive-link-external-small" href="http://careers.redhat.com">careers.redhat.com</a>:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3><a class="jive-link-external-small" href="https://careers.redhat.com/ext/detail?redhat8018">Core Developer - Webservices &amp; SAP Integration</a></h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>
<a class="jive-link-external-small" href="https://careers.redhat.com/ext/detail?redhat7994">Core Developer - AS, OpenShift &amp; Cloud</a> </h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3><a class="jive-link-external-small" href="https://careers.redhat.com/ext/detail?redhat8155">Release Engineer - Make it all work</a></h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>p.s. no matter what the posting says these positions are available world wide in any country with a Red Hat presence.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you want to hear more mail me at max.andersen at redhat.com or if you already are ready to go then apply directly on the above links.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
<p>/max</p>
</div>
<!-- [DocumentBodyEnd:31c7321c-9996-421a-8cf5-0d8e6223d9c9] -->
</body>
