---
title: 'Thoughts on Google Eclipse Plugins going Open Source'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jboss, gwt, tools, opensource, google, jbosscentral ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p id="thoughtsongooglepluginforeclipsegoingfullyopensource">Google <a class="jive-link-external-small" href="http://googlewebtoolkit.blogspot.com/2011/11/google-plugin-for-eclipse-gpe-is-now.html">today announced</a> they are making <a class="jive-link-external-small" href="http://code.google.com/p/google-plugin-for-eclipse/">&#8220;Google Plugin for Eclipse&#8221;</a> and <a class="jive-link-external-small" href="http://code.google.com/p/gwt-designer/">"GWT Designer"</a> fully open source and available under the Eclipse Public license.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We have many developers using Google&#8217;s Eclipse plugin to develop GWT-based applications targeting the JBoss Application Server. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>With the open sourcing of the plugin we are looking forward to working even more closely with the Google team and the rest of the community on making the developer experience even more productive and an integrated part of Eclipse platform. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We are especially interested in seeing the Google Eclipse plugins being able to target multiple runtimes such as the JBoss Enterprise Application Platform and Google App Engine in a uniform way, working more seamlessly with standards-based tools and frameworks.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This targeting of multiple runtimes will also help users of JBoss AS, Glassfish, Tomcat and any other server that provides an Eclipse Web Tools compatible server adapter.</p>
<h1 id="jbosstoolsgwtintegration">JBoss Tools GWT Integration</h1>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Tools already provide integration with the previous release of GPE via our experimental <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15794">JBoss GWT Integration</a>. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Our experimental plugin allows you to easily use the Eclipse standard web wizards and projects instead of the Google specific wizards to create and deploy projects.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>One of the reasons we marked this integration &#8220;experimental&#8221; was because opposite to what many believe large parts of Google&#8217;s plugins for Eclipse was not open sourced. That made the implementation dependent on non-public API and to use it you needed the GPE GWT plugins that was not possible to distribute freely.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Those concerns were the reasons I&#8217;ve been urging Google to make the GWT plugins open source so we and users could actually distribute and use the plugins freely and at the same time we could start contributing fixes and features and not just bugreports.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>In the end this should allow for much more stable and uniform user experience. This goes not only for JBoss Tools plugins integration, but for integration across the Eclipse ecosystem such as Eclipse Web Tools Project and m2eclipse.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Some of the issues we had, have been fixed in GPE 2.0. Now with Google open sourcing their plugin we and others can help contribute and fix the remaining issues and implement enhancements to make easy usage of Google GWT across multiple platforms from Eclipse a reality.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>None of this of course happen automatically but the open sourcing of the Google plugins definitely make it much easier and I look forward to see and support the work around these plugins.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thank you Google - now let&#8217;s go and have Fun <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
</div>
<!-- [DocumentBodyEnd:64a3c4a9-4076-4f72-8c62-4fee40a0cc4f] -->
</body>
