---
title: 'JBoss Developer Studio 5 Early Access'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, jbds, eclipse, devstudio ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png"><img alt="http://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png" class="jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/earlyaccess.png" style="display: block; margin-left: auto; margin-right: auto;"></a>Those interested in trying out our milestone builds of JBoss Developer Studio 5 can now do so from <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/">our Early Access Site</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Developer Studio 5 is the next version of our Eclipse based IDE targeted for development on JBoss supported platforms.</p>
<p>This version of Developer Studio is based on <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/06/28/fast-faster-jboss-tools-33-m2">JBoss Tools 3.3</a>. We've not included every plugin from JBoss Tools but the plugins we found ready to bundle into Developer Studio. As we go towards the final version we will evaluate which plugins will make it in based on our own QE and your feedback.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This milestone, we've focused on migrating to Eclipse 3.7, JBoss AS 7/EAP 6 support and separated out the SOA tooling so JBoss Developer Studio 5 will<strong> not</strong> include Teiid, jbpm, drools, ESB and Smooks by default - these are planned to be available from our Extra's updatesite going forward.</p>
<h3>Installation</h3>
<p>As last time there are two versions available, one with JBoss Enterprise Application Platform for developer use bundled and one without.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Please note that currently we bundle JBoss Enterprise Application Platform 5.1, but we will be moving to bundle JBoss&#160; Enterprise Application Platform 6 when that becomes available.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The bundled version, requires registration via <a class="jive-link-external-small" href="http://bit.ly/jbdevstudioea">this form</a>, but the unbundled version of JBoss Developer Studio 5 is available for <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/">free download</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you have downloaded the jar installer, you simply run it by double-clicking the jar (if your setup supports it) or run the following from the commandline:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<!--[CodeBlockStart:c04a87f3-bff7-4a2f-b335-0ec8a126a006]--><pre class="jive-pre"><code class="jive-code">java -jar &lt;devstudio-installer-path&gt;.jar
</code></pre>
<!--[CodeBlockEnd:c04a87f3-bff7-4a2f-b335-0ec8a126a006]--><p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Then the installer will ask you a few basic questions and it will install JBoss Developer Studio 5 from which you will be able to start developing instantly.</p>
<h3>Feedback</h3>
<p>Instructions on how and where to give us private feedback for this early access is <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess/readme.html">available here</a> and otherwise we are listening in <a class="" href="https://community.jboss.org/community/jbossdevstudio?view=discussions">our public forums</a> too</p>
</div>
<!-- [DocumentBodyEnd:37c5bf03-ee19-4fba-aab4-1b926ebb6aa0] -->
</body>
