---
title: 'Tools, Tools, Tools... ESB, BPEL, and WS in JBoss Tools 3.2'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ service, jbosstools, ws, tools, rest, esb, jax-rs, jboss_tools, services, bpel, tooling, jax-ws, tester, wtp, restful, camel ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p><span style="font-family: arial, helvetica, sans-serif;">I've seen two major releases of JBoss Tools in my year and a half at JBoss/Red Hat. In that time, the many talented folks we have working on tooling have developed new tools and updated existing ones. Functionality has been added just about anywhere you look in the tooling. </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">As such, I want to call out just a few of the areas we've made progress in for JBoss Tools 3.2... </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">First, the ESB Editor gained support for new ESB 4.9 functionality including BPELInvoke, new methods for creating ESB actions via annotations, and Camel ESB integration. And the team also added a first cut at better validation of ESB configurations to help make sure files will will work before they're deployed. </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3604-11313/ws_tester.jpg"><img alt="ws_tester.jpg" class="jive-image-thumbnail jive-image" height="247" onclick="" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3604-11313/450-247/ws_tester.jpg" style="float: right;" width="450"></a>Next, there's the great BPEL Editor work that Bob has already mentioned <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/01/24/bpel-technical-preview-available-soon">here </a></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">Beyond that, I have to say that I'm happy with the work we've done on the Web Service Tester that's been added. I know Bob uses it for testing web services used in BPEL processes and Lukas has used it extensively in QE. More feedback would be great, but I'm happy with where we are for a first release! You can read more about the WS Tester <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15749">here</a>. </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">And I'm also happy with some of the new Web Service wizards we've introduced for bottom-up WS development in this release. Though the WTP Web Service wizard works, it's not the most user friendly beast in the world and it's also not the easiest framework to extend. As such, we reused a few chunks that we'd written and found ways to present a simpler approach for developing web service artifacts for existing annotated classes. </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">We integrate with JBossWS and JAX-WS annotated classes and we even integrate with RESTful services if you have RESTEasy installed. So hopefully these will help you get work done a bit faster than before. You can read more about these new wizards <a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-15778">here</a>. </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">So there you have a few of the areas we've worked on for this release. As always with JBoss Tools, this is just the tip of the iceberg so be sure to keep an eye out for posts celebrating functionality in other areas!</span></p>
</div>
<!-- [DocumentBodyEnd:27a569e3-8873-44bc-b37b-feb5d66de80c] -->
</body>
