---
title: 'Will JBoss Tools run on the final Eclipse 3.7 Indigo ?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<blockquote class="jive-quote"><p>Update: <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/06/28/fast-faster-jboss-tools-33-m2">JBoss Tools 3.3 M2</a> have been released that targets/supports Eclipse 3.7 making this blog out-of-date!</p></blockquote>
<p>In about 24 hours or so Eclipse Indigo are going to push out their Indigo release train and its many users will bring all the Eclipse mirrors to a halt for the coming days.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The yearly release of Eclipse always generates alot of questions concerning if JBoss Tools will run on the latest and greatest version just released and i'm writing this blog so those that go look will have an answer. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The short answer is that you can use <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/05/12/jboss-tools-milestone-for-eclipse-37-m6-indigo">JBoss Tools 3.3.0.M1</a> release with Eclipse 3.7M6, last minute API changes makes it so you will see errors</p>
<p>if you try run M1 on Eclipse 3.7 final. If you really really want to to use Eclipse 3.7 final you can use our <a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/nightly/trunk/">nightly build updatesite</a> on your own risk but I do recommend you wait until we have JBoss Tools 3.3.0.M2.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We were planning on releasing on the same date as Indigo, but we have hit a few speedbumps on the last weeks of release lockdown making it so we will miss the Indigo release train.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The speed bumps is the release of JBoss AS 7 release candidate to be sure our new AS 7 Server adapter integration will work smoothly and we needed to implement a workaround for a hard-to-track <a class="jive-link-external-small" href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=349837">regression issue with Eclipse SWT and XulRunner</a> which causes crashes on newer Linux distributions.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We expect to have these fixed this week and expect to release JBoss Tools 3.3.0.M2 shortly there after.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I'll update this blog when release details becomes available.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:fe1e91d3-dd1c-4a16-a2a4-b39bd43187e1] -->
</body>
