---
title: 'Adding some grease with JBoss Tools 3.3 M3'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, seam, eclipse, maven, cdi, solder ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>It's time for a new fresh milestone update of JBoss Tools:</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4159-17004/grease_jboss_tools.png"><img alt="grease_jboss_tools.png" class="jive-image" height="113" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4159-17004/310-113/grease_jboss_tools.png" style="display: block; margin-left: auto; margin-right: auto;" width="310"></a></p>
<h4 style="color: #333333; font-weight: bold; padding-top: 10px; padding-right: 0pt; padding-bottom: 4px; padding-left: 0pt; font-size: 13pt; text-align: center; margin: 0pt;">3.3 M3 (Greased Lightning)</h4>
<p style="text-align: center; padding: 0pt; margin: 0pt;">[<a class="jive-link-external-small" href="http://www.jboss.org/tools/download/dev" target="_top">Download</a>] [<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development/indigo/">Update Site</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a>] [<a class="jive-link-external-small" href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="_top">Forums</a>] [<a class="jive-link-external-small" href="http://jira.jboss.com/jira/browse/JBIDE" target="_top">JIRA</a>] [<a class="jive-link-external-small" href="http://twitter.com/jbosstools" target="_top">Twitter</a>]</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Tools is a set of plugins for Eclipse that complements, enhances and goes beyond the support that exist for JBoss and related technologies in the default Eclipse distribution. For this release we continue to move Maven, CDI, Java EE support forward and also add in a few new "surprise" features. </p>
<h2>Installation</h2>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>As always, get and install <a class="jive-link-external-small" href="http://www.eclipse.org/downloads/packages/eclipse-ide-java-ee-developers/indigor"><span class="jive-link-external-small">Eclipse 3.7 (Indigo) JEE bundle</span></a> - with the JEE bundle you majority of the dependencies letting you save bandwidth:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you have installed Eclipse, you either find us on<a class="jive-link-external-small" href="http://marketplace.eclipse.org/content/jboss-tools-indigo"> Eclipse Marketplace under "JBoss Tools (Indigo)"</a> or use our update site directly.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The updatesite URL to use from Help &gt; Install New Software... is:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<pre><p><a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development/indigo/">http://download.jboss.org/jbosstools/updates/development/indigo/</a></p></pre>
<p><span style="font-family: arial, helvetica, sans-serif;"><br></span></p>
<h3>Maven Profile Selection</h3>
<p>In this release we've therefore included an UI which allows you to easily set/change the profiles on single and multiple projects. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This is especially something that becomes useful when you use Arquillian where it is a common practice to use Maven profiles to toggle the various dependency sets for each server you wish to test against.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It works by you selecting the relevant project(s), press <strong>Ctrl+Alt+P</strong> or use <strong>Maven &gt; Select Maven Profiles... </strong>and a dialog box appears allowing you to enable/disable the available profiles for the project(s):</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4159-16994/maven-profile-selection-single-project.jpg"><img alt="maven-profile-selection-single-project.jpg" class="jive-image-thumbnail jive-image" height="298" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4159-16994/450-298/maven-profile-selection-single-project.jpg" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Easier Remote Debugging</h3>
<p>Ever been tired of having to manually configure ports, projects and source path lookups for debugging on Remote Applications in Eclipse ?</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We are, especially after we learned that JVM's running on Hotspot provides API to discover such applications and allow for easy configuration of your debugger. In this release we've thus added a command available from <strong>Debug As... &gt; Remote Java Application</strong>... in the context menu on any set of resources.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you select this command, we use the Hotspot API to discover the remote running applications, allows you to select which you application want to connect to and then we do the tedious work of configuring the ports, names and source code lookups (including maven dependencies if applicable) for your Remote debugging. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4159-16996/remote-debugging2.png"><img alt="remote-debugging2.png" class="jive-image-thumbnail jive-image" height="206" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4159-16996/450-206/remote-debugging2.png" width="450"></a></p>
<p>No need for manual tweaking anymore.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thanks to <a class="jive-link-profile-small" href="https://community.jboss.org/people/aslak">Aslak Knutsen</a> for bringing us the idea and initial code to make this happen!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Running Server Detection</h3>
<p>The server adapters now attempt to detect if a server is already running to avoid port conflicts and UI inconcistencies. If a server is detected running you are shown a dialog allowing you to choose to either have the server adapter assume it is already running or force the launch anyway.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4159-17003/server-already-running.png"><img alt="server-already-running.png" class="jive-image" height="135" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4159-17003/310-135/server-already-running.png" width="310"></a></p>
<h3>CDI &amp; Seam Solder</h3>
<p>The CDI tooling adds a bunch of quickfixes to have JBoss Tools fix common issues. To aid in searching and navigating your CDI application, Find References (<strong>Ctrl+Shift+G</strong>) will now show the full list of injection points and EL usage of your beans and Seam Solder and Config annotations and XML now have easy hyperlink navigation to it's declarations.</p>
<h3>@ManagedBean's </h3>
<p>The JSF tooling now detects @ManagedBean annotations. This avoids false warnings/errors when importing JSF 2 examples. Do consider using @Named instead for better integration into the JavaEE stack. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>SAR Projects</h3>
<p>For a long time we have been asked about providing support for SAR style projects for use on older versions of JBoss AS. This style of project packaging is now supported both in pure WTP style projects and via Maven.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>GWT Tools are back</h3>
<p>Since last time, Google released their GWT eclipse plugin in a version that supports Eclipse 3.7 allowing us to reenable the GWT Tools.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>And more...</h3>
<p>There are additional bugfixes and more features to browse over at <a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew/">What's New &amp; Noteworthy</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Like the new features ? Leave a comment to let us know!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>And by all means, </p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:0a7c1189-93ea-4928-a6aa-a00d6fba4251] -->
</body>
