---
title: 'BPEL Technical Preview available soon!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<h1 class="western"><span style="font-family: arial,helvetica,sans-serif;">﻿<a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3550-11190/BPEL-Love-Hate.png"><img align="left" alt="BPEL-Love-Hate.png" class="jive-image" height="228" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3550-11190/345-228/BPEL-Love-Hate.png" width="345"></a>BPEL in SOA-P</span></h1>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Let's face it,BPEL has become the de facto standard for building industrial strength business work flows, despite the fact that it is not for the faint of heart and, much like suicide by <a class="jive-link-external-small" href="http://en.wikipedia.org/wiki/Stoning">lapidation</a>, it requires a strong will and determination to get through the pain.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Red Hat/JBoss recognized the importance of BPEL in the enterprise quite a while ago and as a result, a WS-BPEL 2.0 compliant engine and tooling is being offered as a “Technical Preview” in SOA-P 5.1, which is due to release sometime this spring.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">The BPEL tooling and runtime will also be available in <a class="jive-link-external-small" href="http://devstudio.jboss.com/updates/">JBoss Developer Studio 4</a> as a Technical Preview and in <a class="" href="https://community.jboss.org/community/tools">JBoss Tools</a>, the community (<a class="jive-link-external-small" href="http://freebeer.org/blog/">free</a>!) edition.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Technical Preview simply means that it will be bundled with SOA-P but it will not be officially supported until the 5.2 release scheduled for this summer. However, we the developers will still do our best to respond to feature and bug fix requests from the community, as always.</span></p>
<h1 class="western"><span style="font-family: arial,helvetica,sans-serif;">The Runtime</span></h1>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Riftsaw, which is the BPEL engine that ships with the above mentioned products, is based on <a class="jive-link-external-small" href="http://ode.apache.org/">Apache ODE</a> version 1.3.4 and in fact, JBoss developers have been very active in the ODE community and have been instrumental in determining the future direction of the project.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">The Riftsaw engine is optimized for the JBoss Application Server and supports a variety of features which you can read about in the <a class="jive-link-external-small" href="http://jboss.org/riftsaw">project pages here</a>.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Startup and shutdown of Riftsaw and deployment of business processes to the engine, as well as control of process instances can be done either through the Eclipse tooling, or using the BPEL Console shown below. Before you start, m</span><span style="font-family: arial,helvetica,sans-serif;">ake sure that your JBoss Application Server environment is installed and configured correctly and you have installed Riftsaw as described in the <a class="jive-link-external-small" href="http://docs.jboss.com/riftsaw/2.0.0.Final/userguide/html_single/">User Guide</a>.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3550-11191/bpel-console.png"><img alt="bpel-console.png" class="jive-image-thumbnail jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3550-11191/bpel-console.png" width="620"></a></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">The “Servers”view is used to manage the Riftsaw engine from the Eclipse tooling, as shown here:</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3550-11192/Servers-View.png"><img alt="Servers-View.png" class="jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3550-11192/Servers-View.png"></a></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">To create a new server instance in Eclipse, simply select “New” from the Servers View context menu (right-click) and follow the wizard; first select the JBoss App Server version.  Currently this must be 5.1.0.GA - support for AS 6.0 is being considered for a future release.</span></p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><br></span></p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3550-11193/New-Server-1.png"><img alt="New-Server-1.png" class="jive-image-thumbnail jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3550-11193/New-Server-1.png" width="620"></a></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Next, select the AS installation directory:</span></p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><br></span></p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3550-11194/New-Server-2.png"><img alt="New-Server-2.png" class="jive-image-thumbnail jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3550-11194/New-Server-2.png" width="620"></a></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;">and finally, deploy your processes - that's all there's to it!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-3550-11195/New-Server-3.png"><img alt="New-Server-3.png" class="jive-image-thumbnail jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-3550-11195/New-Server-3.png" width="620"></a></span></p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;"> </span></p>
<h1 class="western"><span style="font-family: arial,helvetica,sans-serif;">The Tooling</span></h1>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">Over a year ago, JBoss made the very difficult decision to fork the <a class="jive-link-external-small" href="http://eclipse.org/bpel/">Eclipse BPEL Designer source</a> because apparently the original development team was unable to commit the time and resources to maintain the editor, <a class="jive-link-external-small" href="http://www.theregister.co.uk/2006/03/16/eclispe_soa_ibm_oracle/">for whatever reasons</a> and the project has been floundering until <a class="jive-link-external-small" href="http://dev.eclipse.org/blogs/bpel/2010/08/20/the-eclipse-bpel-designer-project-whats-the-deal-here/">recently</a>. Since then a lot of improvements and bug fixes have been made and the BPEL editor is finally stable enough to be considered a beta release! Not only are there <a class="jive-link-external-small" href="http://eclipse.org/smila/">other Eclipse projects</a>  that depend on, and use the BPEL Designer, but it has been officially integrated into our QA cycle.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">In the coming months these fixes and enhancements will be pushed back upstream to the Eclipse code line and made available to the community. The plan is to rekindle community interest in this project and eventually have it be self-sustaining so that we can finallyretire our forked code line. The fact that we have been able to gain some measure of control over the code at eclipse.org will make this task much simpler.</span></p>
<h1 class="western"><span style="font-family: arial,helvetica,sans-serif;">What's Next?</span></h1>
<p style="padding-left: 9px; margin-right: 0.1in;"><span style="font-family: arial,helvetica,sans-serif;">We still have some features we'd like to see implemented in the editor and runtime, such as:</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<ul>
<li><span style="font-family: arial,helvetica,sans-serif;">Execution simulation and in situ runtime debugging. </span></li>
<li><span style="font-family: arial,helvetica,sans-serif;">WS-HumanTask or BPEL4People support. </span></li>
<li><span style="font-family: arial,helvetica,sans-serif;">Clustering to support HA and load balancing.</span></li>
<li><span style="font-family: arial,helvetica,sans-serif;">Solidifying the BPEL Designer plug-in extension API, especially BPEL extension activities.</span></li>
<li>
<span style="font-family: arial,helvetica,sans-serif;">A new “Design” page with a simplified GUI which </span><span style="font-family: arial,helvetica,sans-serif;">could be offered as a “BPEL Lite” page vs the current “BPEL Classic” designer.</span><span style="font-family: arial,helvetica,sans-serif;"> </span>
</li>
<li><span style="font-family: arial,helvetica,sans-serif;">A new "Overview" page that simplifies partner link and WSDL management.<br></span></li>
</ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"> </p>
<p><span style="font-family: arial,helvetica,sans-serif;">The current graphical UI has long been criticized for being less than user friendly and several ideas have been tossed around which would improve the user experience. We hope to implement each of these as time permits.</span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><br></span></p>
<h1 class="western"><span style="font-family: arial,helvetica,sans-serif;">How You Can Help</span></h1>
<p><span style="font-family: arial,helvetica,sans-serif;">The reason for offering BPEL as a Technical Preview is so that early adopters can get their hands on new technology goodies to start playing with them and provide us with valuable feedback! This will help us shake out bugs and help us offer a better product. But this only works if you, the users, provide us with that feedback.</span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><br></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;">So if you are an early adopter and run across a bug, or you see a need for a new feature/enhancement, please let us know by posting to the <a class="" href="https://community.jboss.org/community/tools?view=discussions">JBoss</a> or <a class="" href="https://community.jboss.org/community/riftsaw?view=discussions">Riftsaw</a> community user forums. For BPEL Designer-specific issues and questions, you can also post directly to the <a class="jive-link-external-small" href="http://www.eclipse.org/forums/index.php?t=thread&amp;frm_id=43">Eclipse BPEL project forum</a>.</span></p>
</div>
<!-- [DocumentBodyEnd:e8c95bdd-537d-4b1b-bb0c-72cb12e51271] -->
</body>
