---
title: 'Graph Editor Continued: GMF and Graphiti Compared'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>Next month at <a class="jive-link-external-small" href="http://www.eclipsecon.org/2011/">EclipseCon</a> I'll be continuing the saga of the Graph Editor. This story actually starts back in 2005, when I was working on the very first graphical editor for jBPM 3. I was using the Eclipse <a class="jive-link-external-small" href="http://www.eclipse.org/gef/">Graphical Editing Framework</a> (GEF) and became very frustrated with the lack of good documentation. So for my own records, I kept notes as to how the application was put together. The result served as the base for a number of talks and tutorials on GEF at the EclipseWorld (2005, 2006 and 2007) and EclipseCon (2006, 2007 and 2008) conferences. Should you be interested, I have attached <a class="" href="https://community.jboss.org/servlet/JiveServlet/download/3646-27512/Developing_an_Editor_for_Directed_Graphs_with_the_Eclipse_Graphical_Editing_Framework.zip">the last version of this tutorial</a> that I presented at EclipseCon 2008.</p>
<p>In the meantime, two other frameworks have emerged in the Eclipse realm that can be used to create such rich graphical editors. The <a class="jive-link-external-small" href="http://www.eclipse.org/modeling/gmp/">Graphical Modeling Framework</a> (GMF) has been around for a very long time even and is well matured. It builds on top of GEF and the <a class="jive-link-external-small" href="http://www.eclipse.org/modeling/emf/">Eclipse Modeling Framework</a> (EMF). It also has a powerful tools suite that can be used to quickly model and generate your application. Graphiti is a bit more recent and is currently in incubation at Eclipse. <a class="jive-link-external-small" href="http://www.eclipse.org/graphiti/">Graphiti</a> also builds on top of GEF and uses EMF to store its graphical details. EMF is also the preferred way to serialize the semantic model.</p>
<p>During the previous year, I have been using GMF intensively while forging a <a class="jive-link-external-small" href="http://koentsje.blogspot.com/2011/02/business-rules-and-new-icons.html">prototype BPMN2 editor</a> for <a class="jive-link-external-small" href="http://www.jboss.org/jbpm">jBPM 5</a>. Later that same year I was asked to investigate Graphiti as a candidate technology for a BPMN2 editor. Just like 6 years ago, I have kept notes on the use of both of these technologies. It was only a small step to turn these notes into a presentation comparing both technologies. So I am happy to have been accepted to share this experience at the upcoming EclipseCon conference. </p>
<p>If you expected to see the results of the comparison in this post, I'll have to disappoint you. I will probably write up an article later on but in the meantime I'll leave the scoop to the EclipseCon attendees. The advice is to <a class="jive-link-external-small" href="http://www.eclipsecon.org/2011/registration/?page=registration">register for EclipseCon</a> and attend <a class="jive-link-external-small" href="http://www.eclipsecon.org/2011/sessions/?page=sessions&amp;id=2179">my session</a> on Tuesday March 22nd at 2:30 pm. I hope I will see a lot of you! </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Cheers,</p>
<p>Koen </p>
</div>
<!-- [DocumentBodyEnd:925f6e19-4591-4f7b-af09-00c0d4afc718] -->
</body>
