---
title: 'JBoss Tools Shift Happens in M4'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>Shift Happens in the last planned milestone of JBoss Tools 3.3. Read on for more... </p>
<p><a href="http://in.relation.to/service/File/10824"><img alt="http://in.relation.to/service/File/10824" class="jive-image" src="http://in.relation.to/service/File/10824" style="margin: 12px auto; display: block;"></a></p>
<h4 style="color: #333333; font-weight: bold; padding-top: 10px; padding-right: 0pt; padding-bottom: 4px; padding-left: 0pt; font-size: 13pt; text-align: center; margin: 0pt;">3.3 M4 (Shift Happens)</h4>
<p style="text-align: center; padding: 0pt; margin: 0pt;">[<a class="jive-link-external-small" href="http://www.jboss.org/tools/download/dev" target="_top">Download</a>] [<a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development/indigo/">Update Site</a>] [<a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew" target="_top">What's New</a>] [<a class="jive-link-external-small" href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="_top">Forums</a>] [<a class="jive-link-external-small" href="http://jira.jboss.com/jira/browse/JBIDE" target="_top">JIRA</a>] [<a class="jive-link-external-small" href="http://twitter.com/jbosstools" target="_top">Twitter</a>]</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Tools is a set of plugins for Eclipse that complements, enhances and goes beyond the support that exist for JBoss and related technologies in the default Eclipse distribution. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This time around we are adding in a central hub for users called JBoss Central, support for OpenShift, some OSGi magic, Runtime downloads and more...</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Installation</h2>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>As always, get and install <a class="jive-link-external-small" href="http://www.eclipse.org/downloads/packages/eclipse-ide-java-ee-developers/indigor"><span class="jive-link-external-small">Eclipse 3.7 (Indigo) JEE bundle</span></a> - with the JEE bundle you get majority of the dependencies letting you save bandwidth:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you have installed Eclipse, you either find us on<a class="jive-link-external-small" href="http://marketplace.eclipse.org/content/jboss-tools-indigo"> Eclipse Marketplace under "JBoss Tools (Indigo)"</a> or use our update site directly.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The updatesite URL to use from Help &gt; Install New Software... is:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<pre class="jive-pre"><p><a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/development/indigo/">http://download.jboss.org/jbosstools/updates/development/indigo/</a></p></pre>
<p><span style="font-family: arial, helvetica, sans-serif;"><br></span></p>
<h3>JBoss Central</h3>
<p>First time you install JBoss Tools M4 you will be greeted with what we've named JBoss Central. JBoss Central is a hub for getting easy access to Project Wizards, Examples, jboss.org news and additional Eclipse plugin installation.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/images/jbosscentraleditor.png"><img alt="http://docs.jboss.org/tools/whatsnew/images/jbosscentraleditor.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/images/jbosscentraleditor.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It will show up on every startup by default which if you don't want it can be disabled in preferences. The editor will also show up when there are new updates to JBoss Tools plugins installed.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you want to open central later you can find it under <strong>Help &gt; JBoss Central</strong>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>OpenShift Express</h3>
<p>OpenShift Express by Red Hat provides free, auto-scaling platform-as-a-service for Java, Ruby, PHP, Perl and Python applications. Until now to use it you've had to use command line tools like git and rhc-* commands; with JBoss Tools support for OpenShift you can do all of the hard work in the comfort of Eclipse.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>To get started use the OpenShift Express Application Wizard available from <strong>File &gt; New &gt; OpenShift</strong>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/openshift/images/applications.png"><img alt="http://docs.jboss.org/tools/whatsnew/openshift/images/applications.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/openshift/images/applications.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you are a new user the wizard will walk you through the needed steps to setup an account, create domain and create applications.</p>
<p>If you are an existing user with existing applications it will allow you to log in, choose an application and import the project into Eclipse and in case of it being a JBoss 7 type application we will even setup a server for you in Eclipse server view that allows you to easily publish directly to OpenShift.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This publish is just a Git commit &amp; push which you can also do from command line or manually via eGit in Eclipse - but with the server adapter integration you get a simple and easy way of doing it without having to deal with git manually.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Materialize Library</h2>
<p>Eclipse likes to encapsulate jar library access in Classpath Container's and sometimes these classpath containers are great to begin with but for various reasons you might want to decouple your Eclipse projects from the plugin providing the classpath container or maybe you've used one of the great Project Examples or quickstarts we provide via JBoss Central but you don't want to use Maven to manage your libraries/build then this feature also comes handy.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We've added an experimental feature named "Materialize Library" which is available in the context menu of classpath containers in Eclipse.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/core/images/materialize-lib-context-menu.png"><img alt="http://docs.jboss.org/tools/whatsnew/core/images/materialize-lib-context-menu.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/core/images/materialize-lib-context-menu.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you click that JBoss Tools will present you with a dialog asking where to put the libraries and once you press Ok your project will no longer be dependent on the classpath container, but instead have a copy of the jars and all configured as it was inside Java Build path still; allowing you to more easy build and migrate your project to another setup if need be.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Richfaces 4</h3>
<p>We've implemented support in the visual page editor for the new and updated JSF components in Richfaces 4.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/vpe/images/3.3.0.M4/8950.png"><img alt="http://docs.jboss.org/tools/whatsnew/vpe/images/3.3.0.M4/8950.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/vpe/images/3.3.0.M4/8950.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>CDI &amp; Seam Solder</h3>
<p>The CDI tooling this time around continues to add more quick fixes, improved navigation and adds an "Open Named CDI Bean" dialog for easy lookup of named CDI beans.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/cdi/images/3.3.0.M4/openNamed.png"><img alt="http://docs.jboss.org/tools/whatsnew/cdi/images/3.3.0.M4/openNamed.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/cdi/images/3.3.0.M4/openNamed.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It also adds support for the new package naming in Seam 3.1.Beta4 for the Solder and Config modules, while still maintaing support for previous Seam 3 releases.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>Forge in Color</h3>
<p>Forge console now has better editing, is now using color rendering and is made easily available with the new Ctrl+4 (or Cmd+4 on OSX) shortcut.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4279-17274/forge-tools.png"><img alt="forge-tools.png" class="jive-image-thumbnail jive-image" height="214" onclick="" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4279-17274/450-214/forge-tools.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>JBoss OSGi </h2>
<p>The JBoss adapter now supports dragging Eclipse PDE (OSGi) projects to the server and it will use the default PDE export to create and bundle the archive.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Runtime downloads</h2>
<p>JBoss Tools now provide easy access to download runtimes such as JBoss AS and Seam (more to be added in the future).</p>
<p>This feature are directly available from JBoss Tools Runtime Detection preference page.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/as/images/runtimedownload1.png"><img alt="http://docs.jboss.org/tools/whatsnew/as/images/runtimedownload1.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/as/images/runtimedownload1.png"></a></p>
<p>or via use of Project Examples that requires a runtime. </p>
<p><a href="http://docs.jboss.org/tools/whatsnew/images/jbosscentraldownloadas.png"><img alt="http://docs.jboss.org/tools/whatsnew/images/jbosscentraldownloadas.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/images/jbosscentraldownloadas.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The downloaded runtimes will be installed in a directory of your choosing and will be configured to be ready for use within Eclipse/JBoss Tools.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>And more...</h3>
<p>There are additional screenshot and features to browse over at <a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew/">What's New &amp; Noteworthy</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This is our last planned milestone, beta is next thus its time to make your voice heard and speak up if there are features that aren't giving you what you need.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Leave a comment to let us know!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>And as always,</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:0d127015-ac0a-4f30-9589-bd6b9444ee47] -->
</body>
