---
title: 'Deploy to OpenShift with an iPad…'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, eclipse, openshift, tablet, jbosscentral, ipad, dropbox, hazel, koder ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<h3>&#8230;or any other DropBox enabled tablet...</h3>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>I was trying to locate a Git client for iOS to allow easy editing of OpenShift repositories from my iPad but did not manage to find anything but some barebone github viewers.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Instead I started playing around with Hazel, DropBox, OpenShift and my iPad and I managed to create a little &#8220;Cloud IDE&#8221; to enable editing <em>and</em> deployment to OpenShift from my iPad.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p> <a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4400-17665/openshiftonipad.png"><img alt="openshiftonipad.png" class="jive-image" height="405" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4400-17665/310-405/openshiftonipad.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Note, I use Hazel and an iPad in this blog which unfortunately makes it Mac/OSX specific but you should be able to do this on any OS and tablet as long as you have something similar to Hazel that can execute commands based on changes to a directory and your tablet have an DropBox enabled editor. If you have such a setup on a another OS/tablet combo I would love to hear about it in the comments.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Finally, in this blog I assume you already have git installed to be used from your machine. How you setup your OpenShift application, wether with <a class="jive-link-external-small" href="http://vimeo.com/33988381">JBoss Tools</a> or <a class="jive-link-external-small" href="https://openshift.redhat.com/app/express">command line clients</a> is not relevant for this usecase - only necessary to have git working for this.</p>
<p>Once you have that the remaining steps are as follows:</p>
<h1 id="setupdropbox">Setup DropBox</h1>
<p>Download and install <a class="jive-link-external-small" href="http://db.tt/FajYPdr">DropBox</a> - this link is a <a class="jive-link-external-small" href="http://db.tt/FajYPdr">reference link</a> and both you and I get 250 MB extra bonus space if you are creating a new DropBox account.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>DropBox should be installed on a machine that is &#8220;always&#8221; online or at least while you want edits done on your iPad to take effect.</p>
<p>Then git clone your favorite OpenShift application into a sub-directory within your DropBox, i.e. here is what I did to get my app named <code>super</code> into <code>code</code> on my DropBox:</p>
<pre><code>cd ~/DropBox/code
git clone ssh://yourprivateid@super-man.rhcloud.com/~/git/super.git/
</code></pre>
<p>If you do not know your git URL you can use <code>rhc-user-info</code> to find it.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you have the content on DropBox verify that it is possible to deploy to OpenShift from the machine. Edit a file and execute</p>
<pre><code>git commit -a -m "1-2-3 testing"
git push origin
</code></pre>
<p>If that completes without errors your DropBox machine is ready to run.</p>
<h1 id="setuphazel">Setup Hazel</h1>
<p>Download <a class="jive-link-external-small" href="http://www.noodlesoft.com/hazel.php">Hazel</a> on the same machine as you have DropBox setup and running on and add a rule that looks like the following for the directory where you want the script to be executed:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4400-17666/hazel_codeexec.png"><img alt="hazel_codeexec.png" class="jive-image-thumbnail jive-image" height="344" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4400-17666/450-344/hazel_codeexec.png" width="450"></a> </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The conditions are:</p>
<ul>
<li>Extension is <code>sh</code>
</li>
<li>&#8220;Date Last Modified&#8221; &#8220;is after&#8221; &#8220;Date Last Matched&#8221;</li>
</ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>and when it finds a file matching these criteria then setup an action that does the following:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>&#8220;Run Shell Script &#8221;embedded Script":</p>
<pre><code>touch $1.running
sh $1 &amp;&gt; $1.log
rm $1.running
touch $1.log
exit 0
</code></pre>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The Hazel rule is straight forward. It executes any updated .sh files on the machine and in the process it creates a temporary &#8216;.running&#8217; marker file to let you know it process is running and then pipe all the log output to a .log file and finally exit with status 0 since the actual script could fail but that should not be treated by Hazel as an error.</p>
<h1 id="addshort-cutscripts">Add &#8216;short-cut&#8217; scripts</h1>
<p>To avoid too much annoying typing on your tablet I suggest you create a <code>commitpublish.sh</code> with the steps necessary to do a commit and push for your OpenShift application.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>For my <code>super</code> app I created a <code>commitpublish.sh</code> with the following content:</p>
<pre><code>cd super
git commit -a -m "Committing via DropBox"
git push origin
</code></pre>
<p id="editdeployviaipad">You can also add other useful shortcuts such as an status.sh that gives you latest log for your app:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<!--[CodeBlockStart:cfe91ce9-b1b4-4076-aa43-0edcccf40077]--><pre class="jive-pre"><code class="jive-code">rhc-ctl-app&#160; -c status -a super -p &lt;yourpassword&gt;</code></pre>
<!--[CodeBlockEnd:cfe91ce9-b1b4-4076-aa43-0edcccf40077]--><h1>Edit &amp; Deploy via iPad</h1>
<p>For the actual editing and deployment you should be able to use any DropBox enabled editor such as DropText, PlainText, etc. but I ended up using <a class="jive-link-external-small" href="http://itunes.apple.com/us/app/koder/id439271237?mt=8&amp;ls=1">Koder</a> since it was the only one I could find that had nice syntax highlighting and a good and fully functional DropBox integration.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you have configured a DropBox project in Koder you cans simply edit the content.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4400-17667/editindexxhtml.png"><img alt="editindexxhtml.png" class="jive-image-thumbnail jive-image" height="228" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4400-17667/450-228/editindexxhtml.png" width="450"></a> </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once you are ready to publish it to OpenShift simply edit the <code>commitpublish.sh</code> file and make sure to Upload the file to DropBox and Hazel will take action and get it published.</p>
<p> <a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4400-17668/editcommitpublish.png"><img alt="editcommitpublish.png" class="jive-image-thumbnail jive-image" height="169" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4400-17668/450-169/editcommitpublish.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Once the command and publish have completed you should be able to refresh in Koder and see a &#8216;commitpublish.sh.log&#8217; file with the output.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4400-17669/checklog.png"><img alt="checklog.png" class="jive-image-thumbnail jive-image" height="124" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4400-17669/450-124/checklog.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If it completed succesfully you should now be able to see the result in a browser for your OpenShift application.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4400-17670/resultinbrowser.png"><img alt="resultinbrowser.png" class="jive-image-thumbnail jive-image" height="216" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4400-17670/450-216/resultinbrowser.png" width="450"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun and do leave a comment if it works out for you or if you got an alternative for the above.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Happy New Year!</p>
</div>
<!-- [DocumentBodyEnd:6110a0da-5572-4c58-81da-ecd84608907f] -->
</body>
