---
title: 'JBoss Tools and Friends On The Road Again'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, event, events, conference, jbosscentral ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>While everyone except me is having fun at <a class="jive-link-external-small" href="http://www.jboss.org/events/JUDCon/2012/india">JUDCon in India</a> I thought it would be nice to let you know that there will be a few talks done by us/related to JBoss Tools in the near future elsewhere.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>
<a class="jive-link-external-small" href="http://fosdem.org">FOSDEM</a> - 4-5. February, 2012, Brussels, Belgium</h3>
<p><a href="http://fosdem.org/2012/sites/all/themes/fosdem/images/logofosdem2.jpg"><img alt="http://fosdem.org/2012/sites/all/themes/fosdem/images/logofosdem2.jpg" class="jive-image" height="76" src="http://fosdem.org/2012/sites/all/themes/fosdem/images/logofosdem2.jpg" style="width: 427px; height: 75.56872852233677px;" width="427"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>First up is FOSDEM in Brussels where there is a whole <a class="jive-link-external-small" href="http://fosdem.org/2012/schedule/track/jbossorg_devroom">jboss.org DevRoom</a> track of great talks, especially:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://fosdem.org/2012/schedule/event/jboss_forge_and_arquillian_two_missing_links_in_enterprise_java_development">JBoss Forge / Arquillian: Two Missing Links in Enterprise Java Development</a>" by <a class="jive-link-profile-small" href="https://community.jboss.org/people/koen.aers">Koen Aers</a> on Saturday, 4th February 2012 at <span style="color: #000000; font-size: 12px; font-family: Arial, sans-serif;">15:00.</span> </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Expect Koen to do show magic with his Forge Tooling which makes Forge and Eclipse work for you instead of against you.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>
<a class="jive-link-external-small" href="http://eclipsecon.org">EclipseCon</a>, 26-29th March, 2012, Richmond Virginia</h3>
<p><a href="http://www.eclipsecon.org/2012/sites/all/themes/themes/econ2012/images/logo.png"><img alt="http://www.eclipsecon.org/2012/sites/all/themes/themes/econ2012/images/logo.png" class="jive-image" height="83" src="http://www.eclipsecon.org/2012/sites/all/themes/themes/econ2012/images/logo.png" style="width: 291px; height: 83.06629834254144px;" width="291"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This year EclipseCon is moving from "sunny" California on the west coast to Virginia on the east coast. Looking forward to see how the change of scenery will affect the conference.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/whats-new-osgi-enterprise-release-50">What's new in the OSGi Enterprise Release 5.0</a>" by David Bosscheart (Red Hat) and Tim Diekmann (Tibco) on Tuesday, 27th March 2012 at 11:15</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/tycho-still-good-bad-or-ugly">Tycho - still good, bad or ugly ?</a>" by <a class="jive-link-profile-small" href="https://community.jboss.org/people/maxandersen">Max Rydahl Andersen</a> on Tuesday, 27th March 2012 at 16:15</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/ceylon-language-and-its-tools">Ceylon - The language and it's tools</a>" by <a class="jive-link-profile-small" href="https://community.jboss.org/people/maxandersen">Max Rydahl Andersen</a> on Thursday, 29th March 2012 at 10:15</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h3>
<a class="jive-link-external-small" href="http://mow2012.dk/">MOW2012</a>, 18-20th April, 2012, Billund, Denmark</h3>
<p><a href="http://mow2012.dk/images/mow2012/images/logo_transparent.png"><img alt="http://mow2012.dk/images/mow2012/images/logo_transparent.png" class="jive-image" height="96" src="http://mow2012.dk/images/mow2012/images/logo_transparent.png" style="height: 96px; width: 126.5934065934066px;" width="126"></a></p>
<p>For the second year Miracle Open World which before was a dominantly "Oracle Database" conference is having tracks that includes other languages and especially Java middelware content. I was there last year and it was awesomely fun, even though very few had realized it was more than a database conference.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This year I and a few others from Red Hat will be presenting again so hope more will join in on the fun. </p>
<p>The following are the ones related to JBoss Tools, and titles being self-explanatory:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://mow2012.dk/program/ceylon---say-more,-more-clearly.aspx">Ceylon - say more, more clearly</a>" by <a class="jive-link-profile-small" href="https://community.jboss.org/people/maxandersen">Max Rydahl Andersen</a> on Thursday, 19th April 2012 at 11:00</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://mow2012.dk/program/death-of-the-slow-7-reasons-to-love-jboss-as-7-.aspx">Death of the slow: 7 reasons to love AS 7</a>" by <a class="jive-link-profile-small" href="https://community.jboss.org/people/maxandersen">Max Rydahl Andersen</a> on Thursday, 19th April 2012 at 15:00</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>"<a class="jive-link-external-small" href="http://mow2012.dk/program/java-ee-on-the-cloud-with-openshift-express.aspx">JavaEE on the Cloud with OpenShift Express</a>" by <a class="jive-link-profile-small" href="https://community.jboss.org/people/theute">Thomas Heute</a> on Friday, 20th April at 11:00</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>See you out there having fun!</p>
</div>
<!-- [DocumentBodyEnd:e1400ce2-f5fe-4240-a5f0-fade969179e0] -->
</body>
