---
title: 'Beta 2, Movies and m2e-wtp Thanks!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<h2>Beta2</h2>
<p>Earlier this week we pushed a bugfix release out called Beta2 for both <a class="jive-link-external-small" href="http://jboss.org/tools/download">JBoss Tools 3.3</a> and <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess">JBoss Developer Studio 5.0</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you already have JBoss Tools 3.3.x installed you should get this update as soon as you use Help &gt; Check for updates.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>For Developer Studio you will need to either redownload or manually add the staging updatesite as described on <a class="jive-link-external-small" href="https://devstudio.jboss.com/updates/5.0/staging/">https://devstudio.jboss.com/updates/5.0/staging/</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The bugfixes mainly relates to better handling of errors in OpenShift tooling and updates to Forge runtime making the CRUD generation work better.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can see the full change list <a class="jive-link-external-small" href="https://issues.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+JBIDE+AND+fixVersion+%3D+%223.3.0.Beta2%22+AND+status+%3D+Closed+ORDER+BY+priority+DESC&amp;mode=hide">here</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Movies</h2>
<p>Burr Sutter have been busy and cranked out a whole series of videos showing of JBoss Tools and Developer Studio.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The topics cover how to install JBoss Tools and Developer Studio, Java EE 6 + Arquillian , Richfaces 4 Desktop w/Mobile, Forge, Google Web Toolkit, Maven, Hibernate Tools Reverse Engineering and Forge Reverse Engineering.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Burr walks you through how to use these various technologies from beginning to end all rooted in JBoss Central - a great way to get started with JBoss Middleware and learn about how to use JBoss Tools to make it even easier.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can see them all on our newly fresh updated <a class="jive-link-external-small" href="http://docs.jboss.org/tools/movies/">Movie page</a> with either Flash or HTML5.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you like the videos please login to vimeo and Like them or even better leave a comment on what you think or what other video content you would like to see.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>m2e-wtp at Eclipse</h2>
<p>I wrote about how we have proposed <a class="" href="https://community.jboss.org/community/tools/blog/2012/03/28/moving-m2e-wtp-project-to-eclipse">moving m2e-wtp to Eclipse.org.</a> This should make life easier for Mave and Eclipse users overall and I'm happy to report we have received nothing but encouragements and good feedback on that proposal.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We will keep you posted on how things move along with the proposal and hope you will give it a try as soon as we have something posted and built. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thank you for the support and Have fun watching the videos and trying out Beta2!</p>
</div>
<!-- [DocumentBodyEnd:b305f408-989f-441b-a568-914477d656c4] -->
</body>
