---
title: 'JBoss Developer Studio 5 Milestone 5'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jboss, tools, devstudio, maven, milestone, openshift, jbosscentral ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>We were quite busy up to the holidays getting JBoss Tools 3 M5 out and as a new year gift we updated our <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess">early access site</a> for JBoss Developer Studio with its M5 release.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png"><img alt="https://community.jboss.org/servlet/JiveServlet/showImage/38-2030-10503/earlyaccess.png" class="jive-image" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-2030-10503/earlyaccess.png" style="display: block; margin-left: auto; margin-right: auto;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>JBoss Developer Studio is Red Hat's full fledged Eclipse based IDE which is freely available in its standalone version (i.e. without JBoss Enterprise Application Platform) and</p>
<p>the same goes for this milestone 5 release - it is freely available from <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess">http://devstudio.jboss.com/earlyaccess</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Noticable changes in JBoss Developer Studio M5 are:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2><span style="font-size: 14pt;">Universal Installer</span></h2>
<p>We now provide an universal installer that works on all our supported platforms (and then some). This means you no longer have to consider which of the many OS specific installers we provide. You now just download the universal installer, run it and the installer will figure out which OS you are running and install the OS specific bits as needed.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>JBoss Central </h2>
<p>It is now even easier to get started using Developer Studio with JBoss servers via JBoss Central and if you are interested in latest news JBoss Central will give that too.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://docs.jboss.org/tools/whatsnew/images/jboss-central-create-projects.png"><img alt="http://docs.jboss.org/tools/whatsnew/images/jboss-central-create-projects.png" class="jive-image" src="http://docs.jboss.org/tools/whatsnew/images/jboss-central-create-projects.png"></a></p>
<p>Of course if you do not like it and every startup you can just disable the auto-startup and just open it whenever you wish too via the JBoss icon in the toolbar.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can also use JBoss Central Software/Update page to install additional features and 3rd party plugins such as JRebel, FindBugs, SVN and others. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>OpenShift</h2>
<p>You can now create OpenShift applications directly from Developer Studio and get developing with Java EE and other OpenShift technologies in the cloud.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><iframe frameborder="0" height="350" src="https://player.vimeo.com/video/33988381" width="425">
<br><br></iframe></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>And more...</h2>
<p>We've continued to fix bugs and integrate more of the new features found in JBoss Tools plugin set.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can see more about those <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/12/23/jboss-tools-m5-is-coming-to-town">here </a>and you can download Developer Studio 5 M5 from <a class="jive-link-external-small" href="http://devstudio.jboss.com/earlyaccess">here</a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun!</p>
</div>
<!-- [DocumentBodyEnd:e6e689aa-d82e-4a89-99f0-4457f97cd0f4] -->
</body>
