---
title: 'JBoss AS 7.1 is out - what am I excited about ?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jbosstools, eclipse, jbossas, jbosscentral, excited ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>The AS 7 team did a phenomal job with AS 7.0.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Rewiring and improving the core of the application server, making it a lean mean machine of isolated modules, concurrent loading and all out greatness. On top of that they took in the best of breed components from JBoss.org and other Java middleware communities and created the best Java EE Web Profile compatible server I&#8217;ve used.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>But the team did not stand still - since AS 7.0 they have been working on improving the server and just last week released <a class="jive-link-external-small" href="http://www.jboss.org/jbossas/downloads/">AS 7.1</a>. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Listening to all of the community feedback that have been given, fixing bugs and implementing features that just did not make it into AS 7.0.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The next three days I&#8217;ll post a blog a day about each of three features which I have had a personal interest in making it into AS 7.1 and the upcoming JBoss Enterprise Application Platform (EAP) 6: Deployable datasources, Developer Friendly Security &amp; Quickstarts Frenzy!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2 id="as7.1andjbosstoolsm5">AS 7.1 and JBoss Tools M5</h2>
<p>But before I do then just let me say that if you are using JBoss Tools 3.3 M5 then it will work with AS 7.1 just fine except for one small caveat.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>If you open the server editor for a server configured to work with AS 7.1 it will complain about a missing server port. This happens because AS 7.1 introduced using a system property default value instead of a concrete port number in its XML configuration which M5 does not parse correctly. It will thus show an empty field and mark it is an error.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4657-18042/failedport.png"><img alt="failedport.png" class="jive-image" height="93" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4657-18042/310-93/failedport.png" width="310"></a></p>
<p>The server will happily still start/stop etc. if you are using defaults, but if you don&#8217;t like to see the error in the server editor or are using non-default values then to fix this simply uncheck &#8220;Automatically Detect&#8221; and type in the port value manually (i.e. <code>9999</code>).</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p> <a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-4657-18043/fixport.png"><img alt="fixport.png" class="jive-image" height="95" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-4657-18043/310-95/fixport.png" width="310"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This glitch is fixed in the nightly builds of JBoss Tools 3.3 Beta1 which we are working on making stable and available anytime soon.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Until then, see you tomorrow to hear about <a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2012/02/28/excited-about-jboss-as-71-part-i-deployable-datasources">Deployable datasources</a>.</p>
</div>
<!-- [DocumentBodyEnd:8fe3c01d-9862-4d40-9826-9ef1686a307d] -->
</body>
