---
title: 'Summer time with new release, SOA tools and a bit of Juno and Fedora news'
author: 'maxandersen'
layout: blog
tags: [ jbosstools, devstudio, fedora, soa, jbosscentral ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p>We released back in July a new version of JBoss Tools 3.3.1 and JBoss Developer Studio 5.0.1 which fixes the problem of installing on Eclipse 3.7.0 (Indigo) and makes it possible, but not recommended to install on Eclipse 4.x (Juno).</p>
<p>The SOA Tools are also now available from JBoss Central and we got news from the Fedora Java spin which includes parts of JBoss Tools. More below...</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>SOA Tools</h2>
<p>The SOA Tools (jbpm, drools, modeshape, teiid, etc.) are available from JBoss Central in both JBoss Tools 3.3+ and Developer Studio 5+.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="https://community.jboss.org/servlet/JiveServlet/showImage/38-5016-19268/soatoolsincentral.png"><img alt="soatoolsincentral.png" class="jive-image-thumbnail jive-image" height="230" src="https://community.jboss.org/servlet/JiveServlet/downloadImage/38-5016-19268/450-230/soatoolsincentral.png" width="450"></a></p>
<p>To get them open JBoss Central and go to the Software/Update tab and they should be listed, ready to be installed.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The plugins have been updated to work with the latest release of <a class="jive-link-external-small" href="http://www.redhat.com/about/news/archive/2012/6/new-versions-of-jboss-enterprise-soa-and-enterprise-data-services-platforms-power-intelligent-integrated-enterprises">JBoss SOA Platform</a> and its components.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Eclipse 3.7.0 - you still use that ?</h2>
<p>JBoss Tools 3.3.0 came out requiring Eclipse 3.7.1 because there was some rather nasty bugs we wanted to avoid to expose to users and we naively belived most would be on 3.7.1+ by now - but oh boy we were wrong.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>It turns out that when we released the final version of JBoss Tools 3.3.0 our success install rate went up significantly (Yay!) but we also saw a skyrocketing level of errored installs (Not good). Looking at those error logs showed us that majority of Eclipse 3.7 (Indigo) users are still on the very first version, i.e. 3.7.0. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>In a perfect world Eclipse P2 update mechanisim would let you update to Eclipse 3.7.1+ at the same time as installing plugins that requires/suggest to use a bugfixed version, but unfortunately Eclipse mechanism does not allow for this.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Therefore in this update we allowed JBoss Tools to depend on Eclipse 3.7.0 to make it installable, but Eclipse 3.7.0 users will now get a warning dialog on startup suggesting they should update their Eclipse to have a better experience.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>How about Eclipse 4.x/Juno ?</h2>
<p>JBoss Tools 3.3.x and Developer Studio is tested and supported on Eclipse 3.7/Indigo - but what if I want to use Juno ?</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>There are two options:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>A) You can *try* use JBoss Tools 3.3.x on Juno - but we do not recommend this.</p>
<p>B) You can use the <a class="jive-link-external-small" href="http://download.jboss.org/jbosstools/updates/nightly/core/trunk/">JBoss Tools 3.4.x nightly builds</a> updatesite - this have been updated/adjusted to work with Juno and is the basis for the next major update of tools and Developer Studio.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>In both cases your mileage will vary, but if you are up for it please do try out the nightly builds and report any issues found while using Juno with JBoss Tools. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2>Fedora Java Spin</h2>
<p><a class="jive-link-external-small" href="https://twitter.com/grdryn">Gerard Ryan</a> have been doing his Google Summer of Code project about creating a Fedora Spin that would be good for Java developers. In that progress he took on the task on trying to package JBoss Tools, or at <a class="jive-link-external-small" href="https://apps.fedoraproject.org/packages/s/eclipse-jbosstools">least parts of it</a> so it could be installed "the Fedora way".</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a href="http://fedoraproject.org/static/images/fedora-logo.png"><img alt="http://fedoraproject.org/static/images/fedora-logo.png" class="jive-image" src="http://fedoraproject.org/static/images/fedora-logo.png"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>He actually succeded in making this happen and you can see his final report about this at his <a class="jive-link-external-small" href="http://blog.grdryn.me/2012/08/20/fedora-java-remix-gsoc-update-13-final/">GSOC blog</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can try out the full Fedora Java spin by downloading the ISO images from <a class="jive-link-external-small" href="http://ryan.lt/fedora-java-remix/">Gerard</a> or if you are already running Fedora 17 or newer, you can try it out by running:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><!--[CodeBlockStart:db129be4-7d00-4e77-b928-1c3b48abb5b3]--></p>
<pre class="jive-pre"><code class="jive-code">yum install eclipse-jbosstools</code></pre>
<!--[CodeBlockEnd:db129be4-7d00-4e77-b928-1c3b48abb5b3]--><p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This will actually be installed into Fedora's version of Eclipse Juno, so that is third way to try Juno out with parts of JBoss Tools.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Hope you like that and if you find issues report it in our jra, but please mention if you are using the Fedora package since there are some slight differences.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Have fun,</p>
<p>Max</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h2></h2>
</div>
<!-- [DocumentBodyEnd:15fb5594-d9a2-4dcc-a802-3d01f27ff123] -->
</body>
