---
title: 'JBoss Tools and friends at EclipseCon 2012'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jboss, jbosstools, eclipsecon, tycho, openshift, jbosscentral ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p id="jbosstoolsandfriendsateclipsecon">Been a busy week and weekend preparing and arriving at EclipseCon which this year decided to move from sunny(?) California to rainy(?) Reston in Virginia.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>EclipseCon is always a busy week for me, and this year is no different - below is a list of the &#8220;official&#8221; items I&#8217;ll be doing:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/tycho-still-good-bad-or-ugly">Tycho, still good, bad or ugly ?</a>, Tuesday - a refreshed version of my talk from EclipseCon Europe talking about how many good, bad and ugly things we &#8217;ve see in Tycho in the process of JBoss Tools moving to it from &#8220;good old, but crappy, PDE build&#8221; </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/hot-new-product-showcase-and-reception-sponsored">Eclipse Product Showcase</a>, Wednesday - I&#8217;ve submitted a new product showcase to the reception happening at EclipseCon. We&#8217;ll see if I make it in on time <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/ceylon-language-and-its-tools">Ceylon the language and it&#8217;s tools</a>, Thursday - I&#8217;ll give an introduction to the Ceylon language and the Eclipse tooling built to support it.</p>
<p>Booth Bunny, most days - I&#8217;ll be hanging out in Red Hat&#8217;s booth this year together with Dan Allen from JBoss and a bunch of OpenShift guys; showing of the wonders of cloud and middleware tooling. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>&#8230;and <a class="jive-link-external-small" href="http://marketplace.eclipse.org/node/96737">one more thing</a> - but that is going to be a seperate blog - watch this space <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
<h2 id="restofredhat">Rest of Red Hat</h2>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>The above is not all from us, we got a few others showing up at EclipseCon too:</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/get-ready-fight-your-technical-debt-tycho-sonar-and-jacoco">Get ready to fight your technical debt, with Tycho, Sonar and Jacoco</a> where Mickael Istria and his co-speaker from Pod Programming, Xavier Seignard will be showing how continous improvement can be made possible with the means of technologies such as Sonar, Tycho and Jacoco.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/persona-non-grata-dont-forget-users-when-doing-your-designs">Persona Non Grata - Don&#8217;t forget the users when doing your designs!</a> is where Brian Fitzpatrick will talk about how to use user personas as guide lines for development.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/red-hat-bof-dan-allen-presented-red-hat">Integration and Functional Testing from the IDE: Where does it hurt ?</a> a BOF hosted by Dan Allen on how Arquillian can be used for integration and functional testing and what challenges still lies ahead to make that work smooth from wtihin Eclipse.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/hands-cc-ide">Hands on with C/C++ IDE</a> which is a tutorial hosted by Andre Overholt which guides you through how to get to use Eclipse developing C/C++ applications.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/jumpstart-java-ee6-development-cloud-jboss-tools-presented-red-hat">Jumpstart Java EE6 Development in the Cloud with JBoss Tools</a> where Mark Atwood is bound to show off JBoss Tools and how it works with the JEE tooling and OpenShift PAAS from Red Hat.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/developing-cloud-apps-orion-django-and-mongodb-30-minutes-or-less">Developing Cloud Apps with Orion, Django and MongoDB - in 30 Minutes or Less</a> is Mark now talking about how to use Eclipse Orion with OpenShift to do Django and MongoDB development.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://www.eclipsecon.org/2012/sessions/mobilize-your-mongodb-developing-iphone-and-android-apps-cloud-eclipse-presented-red-hat">Mobilize Your MongoDB! Developing iPhone and Android Apps for the Cloud with Eclipse</a> shows Grant Shipley going all mobile in showing how to do mobile apps development with OpenShift and Eclipse.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>&#8230;and then there is all the BOF&#8217;s and bar&#8217;s where all the real work is done - looking forward to meet old and new friends.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>See you there and Have fun!</p>
</div>
<!-- [DocumentBodyEnd:c28d13ea-48c3-4947-b1ed-bc97315f64e3] -->
</body>
