---
title: 'Moving m2e-wtp project to Eclipse'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ jboss, tools, eclipsecon, m2e-wtp, jbosscentral ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p id="movingm2e-wtpprojecttoeclipse">Over the last 2+ years we have done a lot of work at helping improving Maven Integration for Eclipse (m2e) in areas of performance, features and extensions.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>One of those extensions, if not the most important one, is maintaining and developing Maven Integration for Web Tools Platform also called m2e-wtp.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Today (or rather last night) our proposal for making this an Eclipse.org project <a class="jive-link-external-small" href="http://www.eclipse.org/proposals/technology.m2e.m2e-wtp/">got posted</a>.</p>
<h1 id="whatism2e-wtp">What is m2e-wtp</h1>
<p>m2e-wtp is what helps you get seamless import of your maven projects with all the right dependencies configured, the proper assembly setup and it will even enable features in Eclipse that are relevant based on your maven pom.xml file, in context of the Web Tools Platform features : automatic configuration for Web, EJB, EAR, Connector, Web Fragment and Application Client projects. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>m2e-wtp also brings some maven exclusive features to your favorite IDE, such as dynamic <a class="jive-link-external-small" href="http://maven.apache.org/plugins/maven-war-plugin/examples/adding-filtering-webresources.html">web resource filtering</a> or <a class="jive-link-external-small" href="http://maven.apache.org/plugins/maven-war-plugin/overlays.html">war overlays</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>You can get the current m2e-wtp from <a class="jive-link-external-small" href="http://marketplace.eclipse.org/node/96737">Eclipse Marketplace</a> or by <a class="jive-link-external-small" href="/www.jboss.org/tools/download">installing JBoss Tools</a>.</p>
<h1 id="whybringm2e-wtptoeclipse">Why bring m2e-wtp to Eclipse</h1>
<p>m2e-wtp have had a &#8220;fun&#8221; life over the years. After m2e moved to Eclipse, m2e-wtp was in a weird place seeing that Sonatype hosted the issue tracker and the main source repository at github while JBoss eventually took over the development and maintenance, but the core m2e was at Eclipse. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>This spread between multiple organizations have made it harder than necessary for potential contributors to get involved and it also made it tricky for users to know where and how to get involved and get help.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>To remedy this, we&#8217;ve worked over the last couple of weeks/months to prepare a proposal to move m2e-wtp and this proposal is now what is <a class="jive-link-external-small" href="http://www.eclipse.org/proposals/technology.m2e.m2e-wtp/">available on Eclipse.org</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<h1 id="whatdoesthismeanforjbosstoolsusers">What does this mean for JBoss Tools users</h1>
<p>It should not have any big impact to start - we plan on making the migration from the original m2e-wtp to m2e-wtp at Eclipse as smooth as possible.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We will continue to drive and contribute to m2e-wtp, and JBoss Tools will still provide extensions and integration on top of m2e and m2e-wtp. </p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Some of these extensions don&#8217;t make sense elsewhere than in context of JBoss Tools and others will eventually find their way into m2e and m2e-wtp.</p>
<h1>How do I support/contribute to this proposal ?</h1>
<p>If you are interested in this project and seeing it become a full eclipse project, please comment on it on <a class="jive-link-external-small" href="http://www.eclipse.org/forums/index.php?t=thread&amp;frm_id=202">Eclipse Proposal forum</a>, email me directly at <a class="jive-link-email-small" href="mailto://max.andersen@redhat.com">max.andersen@redhat.com</a> or catch me at EclipseCon this week!</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>We would love to hear your thoughts on this, even if it is just a &#8220;that is about freaking time&#8221; comment <img height="16px" src="https://community.jboss.org/4.5.6/images/emoticons/happy.gif" width="16px"></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Great thanks go to all the people from Sonatype, IBM, Oracle, SAP, VMWare and others involved in making this proposal happen - to know more about them and the proposal, read <a class="jive-link-external-small" href="http://www.eclipse.org/proposals/technology.m2e.m2e-wtp/">more here</a>.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>In conclusion I would like to thank Fred Bricon for his outstanding work on m2e-wtp and I&#8217;m looking forward to see where he will take it going forward hosted at eclipse.org.</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p>Thank you and have fun!</p>
</div>
<!-- [DocumentBodyEnd:8281d21a-5138-4912-ba25-85d7f0bfddea] -->
</body>
