---
title: 'Getting Started with JBoss Developer Studio 5.0.M5 and JBoss Central - It''s Not Just a Welcome Screen'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [  ]
orignallink: ''
---
<body>
<div class="jive-rendered-content">
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">One of the great advantages of working with open source software is the freedom of choice that it provides you. You aren't locked in by vendors or arcane licenses, you can choose the combinations of components that you want to work with. In doing so, however, you will likely have to invest time and effort in integrating these components to work together. Accomplishing these integration tasks can be difficult.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">But, luckily, with JBoss Developer Studio, this integration work is already done for you. In JBoss Developer Studio, you have access to a rich JEE development environment that leverages JBoss technologies. JBoss Developer Studio provides graphical editors, integrations with source control systems, and&#160; the ability to configure servers and deploy applications to them, all from inside an eclipse-based environment. </span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">In the past, managing all these integrations required you to use multiple tools and actions. You could, however, do all these tasks without shutting down or leaving JBoss Developer Studio. That&#8217;s an important point to keep in mind as one of the goals of an IDE is to provide you with an environment in which you can perform development without having to exit the IDE to perform other common tasks such as staying up-to-date with new developments affecting the software with which you are working.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">What was missing was a single utility to help you to access and stay up-to-date with JBoss technologies, news, examples and manage the specific plugins that you choose to install and use with JBoss Developer Studio. </span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">The recent M5 ("milestone 5") build for JBoss Developer Studio 5 includes an answer to this problem: </span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: italic;">JBoss Central.&#160; </span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: italic;"><br></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: italic;">(Note: This post is written from a Developer Studio perspective. JBoss Central, however, is also included in JBoss Tools.)</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">By default, JBoss Central is the first view that is displayed when you open JBoss Developer Studio. (OK, it&#8217;s really the second, after you get past a welcome view that has only one option - JBoss Central). But, JBoss Central is more than a welcome screen, it is a full featured "center of gravity" to assist you in both getting started with JBoss Developer Studio and in continuing and expanding your use of JBoss Developer Studio.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">How is JBoss Central different from a welcome screen? In three important ways:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul><li>
<span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">First, JBoss Central is </span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">dynamic</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">, not </span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">static</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">. You can receive updated news and blog content automatically through JBoss Central. In addition to informational content changes, new quickstart examples, and new wizards to create applications are pushed to you without you having to manually update or reconfigure JBoss Developer Studio. </span>
</li></ul>
<p> <span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> <br></span></p>
<ul><li>
<span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Second, JBoss Central is </span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">active</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">, not </span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">passive</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">. JBoss Central can perform administrative tasks for you such as resolving dependencies and installing necessary plugins and runtimes.&#160; </span>
</li></ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<ul><li>
<span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">And third, unlike a welcome screen that you might only use once and then discard, JBoss Central is a </span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">destination</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">. It&#8217;s a place that you will return to frequently as you use JBoss Developer Studio to develop, debug, deploy, and test your applications.</span>
</li></ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Let&#8217;s take a quick tour of JBoss Central. JBoss Central is divided into two tabs: Getting Started and Software/Update</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">The</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;"> Getting Started</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> tab looks like this:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh3.googleusercontent.com/iwD9-JXqXhVxx0JmlOvj4pik0N2-BFCi3faOhPB2BRJ9hIT19q-j_ZAvpgisgkQO4y0KugqEH8fR7wvaeVBOWRhkTmQsMFoURlIxD5-dUqcZiSFfgvE"><img height="352px;" src="https://lh3.googleusercontent.com/iwD9-JXqXhVxx0JmlOvj4pik0N2-BFCi3faOhPB2BRJ9hIT19q-j_ZAvpgisgkQO4y0KugqEH8fR7wvaeVBOWRhkTmQsMFoURlIxD5-dUqcZiSFfgvE" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">and includes these options:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<ul>
<li><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Create Projects - These wizards walk you through creating new projects. </span></li>
<li><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Project Examples - The &#8220;quickstarts&#8221; are fully functioning applications. The goals of the quickstarts are to both illustrate technologies and features, and to provide you with working code that you can expand on to build your own applications. </span></li>
<li><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Settings - These control how JBoss Central itself functions. Right now, there&#8217;s only one option here; whether JBoss Central is shown at startup. </span></li>
<li><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">News - This is a feature that can save you some time, as it enables you to access news from within JBDS and not have to access an external news reader.</span></li>
<li><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Blogs - This serves as a good compliment to the News feature in that the combination of the information from these features can keep you up-to-date on new developments related to JBoss projects and technologies.</span></li>
</ul>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">The other tab</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">, Software/Update,</span><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> looks like this:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh3.googleusercontent.com/nAFsrYUjaytTwHx3obFfLzCuC-jvhffXcdvjbQbIc8OpZvB2bf1XHLK5tquI3qzoxg-BSvy9vRz400-wHj69dHKpn7gFKgTn8XUL1yaAdua3tbUYhtc"><img height="378px;" src="https://lh3.googleusercontent.com/nAFsrYUjaytTwHx3obFfLzCuC-jvhffXcdvjbQbIc8OpZvB2bf1XHLK5tquI3qzoxg-BSvy9vRz400-wHj69dHKpn7gFKgTn8XUL1yaAdua3tbUYhtc" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">As its name implies, Software/Update enables you to install features into JBoss Developer Studio and then update them. By default, JBoss Developer Studio, is configured to enable you to install and update features for source control, testing, and web development. It&#8217;s worth noting that while Eclipse does already include features to install software and keep it up-to-date, Software/Update is a more visual and easier to use.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Now, let&#8217;s take a more detailed look at one way JBoss Central is more than a welcome screen. We&#8217;ll start by installing one of the quickstarts. We&#8217;ll use the simplest quickstart, helloworld:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh6.googleusercontent.com/DOM0wVUomNmsPmoTGRlSU9jsYF-Z2SBj6OPsLGOTjWlnBcyc3uxqffIrSzMLUxgCKeSjKkwdMtSqo_zzSwAdmQgppdvBdEtYXG6en7enUuMoBGLZ4Qc"><img height="381px;" src="https://lh6.googleusercontent.com/DOM0wVUomNmsPmoTGRlSU9jsYF-Z2SBj6OPsLGOTjWlnBcyc3uxqffIrSzMLUxgCKeSjKkwdMtSqo_zzSwAdmQgppdvBdEtYXG6en7enUuMoBGLZ4Qc" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><span>And, here&#8217;s where JBoss Central becomes an active helper, and not a passive bystander. Instead of failing to install the quickstart because of the lack of an installed server runtime, JBoss Central determines which runtime is missing, and will download and install it for us. Note that these quickstarts illustrate features suported by JBoss&#8217; new AS7 server (</span><a class="jive-link-external-small" href="http://www.jboss.org/as7" target="_blank">http://www.jboss.org/as7</a><span>).</span></span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">So, let&#8217;s be lazy and let JBoss Central downlaod and install the server for us:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh6.googleusercontent.com/7UaQcaMc8yRxRsUWAhB1QZmv-G9I2wrMmOxqeBF9efFnZDqEIHxW8Cmq6MesOumsSpKvW7Hch2fJctSflqrkOWTl8hnrIPmOy1XBTa3JccHjusWs4VQ"><img height="378px;" src="https://lh6.googleusercontent.com/7UaQcaMc8yRxRsUWAhB1QZmv-G9I2wrMmOxqeBF9efFnZDqEIHxW8Cmq6MesOumsSpKvW7Hch2fJctSflqrkOWTl8hnrIPmOy1XBTa3JccHjusWs4VQ" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Now, it&#8217;s a simple matter to deploy and run the quickstart:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh5.googleusercontent.com/yUiuGrzpKSDEmAMvHqk4JSShmOPq4RtCMETjwndOP8463m4zkiGyEB2lvI42x7RmdG_csHu_eJL_oVjX7ERzu2Du71ODyvlqmo8kViTYz-pLGYMXc5o"><img height="380px;" src="https://lh5.googleusercontent.com/yUiuGrzpKSDEmAMvHqk4JSShmOPq4RtCMETjwndOP8463m4zkiGyEB2lvI42x7RmdG_csHu_eJL_oVjX7ERzu2Du71ODyvlqmo8kViTYz-pLGYMXc5o" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">We&#8217;ll do it through Maven:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh5.googleusercontent.com/eQPkE6cWtE033n1r9JWP84MEkPBUvnpQDE61kGCgV7VoK-p4xiZLeE4G3Z865OVOHqiZcltRwOWSiCAgv23o_mMcBFLB2PIzewpOzsym8J0cd0oZq4U"><img height="450px;" src="https://lh5.googleusercontent.com/eQPkE6cWtE033n1r9JWP84MEkPBUvnpQDE61kGCgV7VoK-p4xiZLeE4G3Z865OVOHqiZcltRwOWSiCAgv23o_mMcBFLB2PIzewpOzsym8J0cd0oZq4U" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">Once the quickstart is installed, we start the server, deploy the quickstart, and, in the tradition of all helloworld applications, here&#8217;s the minimalist output:</span></p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"><br></span></p>
<p><a href="https://lh6.googleusercontent.com/Rd-cJ7LNGjYwuFzzEgCEM5tkmUFbIw4TsrHYbwaFK5kdLfrwJY18SbehqIVBo6onsMou7zWICFS3YzHGpXVQWTyDBSR3Pnr0xtiD-R-HO007OhbD2Og"><img height="405px;" src="https://lh6.googleusercontent.com/Rd-cJ7LNGjYwuFzzEgCEM5tkmUFbIw4TsrHYbwaFK5kdLfrwJY18SbehqIVBo6onsMou7zWICFS3YzHGpXVQWTyDBSR3Pnr0xtiD-R-HO007OhbD2Og" width="800px;"></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;">To sum it up, while it&#8217;s still a work in progress, JBoss Central is more than a welcome screen or an &#8220;on-ramp,&#8221; it&#8217;s an active and dynamic center of gravity for JBoss Developer Studio and a place that you will want to return to again and again as you use JBoss Developer Studio.</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;"><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: normal; font-style: normal;"> </span>&#160;</p>
<p><span style="font-size: 15px; font-family: Arial; color: #000000; font-weight: bold; font-style: normal;">References:</span></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-external-small" href="http://docs.jboss.org/tools/whatsnew/central/central-news-1.0.0.M4.html"><span style="font-size: 15px; font-family: Arial; color: #000099; font-weight: normal; font-style: normal; text-decoration: underline;">http://docs.jboss.org/tools/whatsnew/central/central-news-1.0.0.M4.html</span></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><a class="jive-link-wiki-small" href="https://community.jboss.org/docs/DOC-17371"><span style="font-size: 15px; font-family: Arial; color: #000099; font-weight: normal; font-style: normal; text-decoration: underline;">https://community.jboss.org/wiki/EasyPluginInstallationFromJBossCentral</span></a></p>
<p style="min-height: 8pt; height: 8pt; padding: 0px;">&#160;</p>
<p><span style="font-size: 12pt;"><a class="jive-link-blog-small" href="https://community.jboss.org/community/tools/blog/2011/12/18/learn-java-ee-6-quickly-using-jboss-central">https://community.jboss.org/community/tools/blog/2011/12/18/learn-java-ee-6-quickly-using-jboss-central</a></span></p>
</div>
<!-- [DocumentBodyEnd:a92ef076-36c5-4655-9903-9307b1cddd2e] -->
</body>
