---
layout: project
title: Community
tab: community
status: yellow
---

.row-fluid
  .hero-unit.center
    %h1 Community
    %p How to partipate in JBoss Tools community
    %hr
    
.row-fluid.section-wrapper
  %section.span4.well.post-bg
    %header
      %h3 User Forums
    .item
      %p
        The user forums should be your first port of call for any user-related issues with JBoss Tools.  Be it a question, wanting to report a bug, looking for advice, or simply sharing some cool stories you may have.
        %br
        We have two forums, one for JBoss Tools and one for JBoss Developer Studio.
    %footer
      %a.btn.btn-small{:href => "https://community.jboss.org/en/tools/content?filterID=contentstatus[published]~objecttype~objecttype[thread]", :role => "button"} Visit JBoss Tools User Forums &raquo;
      %br
      %a.btn.btn-small{:href => "https://community.jboss.org/en//jbossdevstudio/content?filterID=contentstatus[published]~objecttype~objecttype[thread]", :role => "button"} Visit JBoss Developer Studio User Forums &raquo;

  %section.span4.well.post-bg
    %header
      %h3 IRC
    .item
      %p
        The JBoss Tools community uses
        %a{:href => "http://en.wikipedia.org/wiki/Internet_Relay_Chat", :target => "_NEW"} IRC
        for real-time communications. Join us on the
        %a{:href=>"irc://irc.freenode.org/jbosstools"}
          %code #jbosstools
        IRC channel on
        %a{:href=>"http://freenode.net/", :target=>"_new"}Freenode.
    %footer
      %a.btn.btn-small{"data-toggle" => "modal", :href => "#myModal", :role => "button"} IRC Instructions &raquo;
      #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel IRC Instructions
        .modal-body
          %p
            Learn more about Freenode
            %a{:href=>"http://freenode.net/", :target=>"_new"}here
            and if you need a list of IRC clients, visit
            %a{:href=>"http://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients", :target=>"_new"}Wikipedia.
            There are many high-quality, free and open source clients for almost any platform - including mobile devices!
          %p
            Once you have connected to a Freenode server, join
            %a{:href=>"irc://irc.freenode.org/jbosstools"}
              %code #jbosstools
            and you will be able to speak with a number of JBoss Tools developers, users and contributors.
          .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

  %section.span4.well.post-bg
    %header
      %h3 Developers Mailing List
    .item
      %p
        This is a mailing list geared towards developing JBoss Tools itself.  It often contains deep, technical discussions on how JBoss Tools works internally, how new features could be implemented, and is definitely not the place for end user questions such as how to configure, use or even troubleshoot JBoss Tools.  Please use the User Forums for such questions.
      %p
        If, however, you are helping contribute to JBoss Tools, we welcome your thoughts, ideas and overall participation on the developers' mailing list.
    %footer
      %a.btn.btn-small{:href => "https://lists.jboss.org/mailman/listinfo/jbosstools-dev", :role => "button"} Join the Developers' Mailing List &raquo;

.row-fluid
  .span12.alert.alert-info
    %h4
      %i.icon-warning-sign
      Etiquette
    %p
      If you are asking for help, have you read through the
      %a{:href => "/documentation"} documentation
      first? You may find your answer there.
      Also, if you are reporting a bug, have you checked our
      %a{:href => "http://issues.jboss.org/browse/JBIDE"} JBoss Tools
      or
      %a{:href => "http://issues.jboss.org/browse/JBDS"} JBoss Developer Studio
      bug tracker first?  It may be a known issue.
.row-fluid
  .span12
    %h4 Mail Archives
    %p
      Archives of the JBoss Tools developers' mailing list can be found on
      %a{:href=>"http://markmail.org/search/?q=list%3Aorg.jboss.lists.jbosstools-dev", :target=>"_NEW"} MarkMail
      which also has an excellent search interface.
