// ******************************************************
// Fixes to bootstrap-community theme while PR is pending
// see https://github.com/jbossorg/bootstrap-community/pull/3
// ******************************************************
#companyfooter-placeholder {
  margin-top: 70px;
}

// *************************************
// Common styles
// *************************************
.center {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

div.right {
  width: 100%;
  text-align: right;
}

td.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

p { 
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p + ul {
  margin-top: -20px;
}

table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  height: 1px;
  margin: 1.5em 0;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;  
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  
  header {
    margin-bottom: 10px;
    h3 {
      text-align: center;
    }
  }

  h2, h3 {
    [class^="icon-"], [class*=" icon-"] {
      vertical-align: baseline;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .item {
    margin-bottom: 10px;
  }
}

#content-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  
  @media screen and (min-width: 1200px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }
  
  @media screen and (width: 940px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }
}

.nav {
  margin-bottom: 0px;
}

.tab-content {
  background: rgb(243, 243, 243);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

blockquote > p {
  font-size: 14px;
}

.container-fluid {
  margin-top: 2em;
  margin-bottom: 2em;
}

// ******************************************************
// Breadcrumb
// ******************************************************

.breadcrumb > .active {
  color: rgb(153, 153, 153);
}

a.dropdown-toggle {
  text-decoration: none;
  b.caret {
    color: rgb(51, 102, 153);
  }
}


// ******************************************************
// Customizing the NavBar
// ******************************************************
.navbar-inner {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  .btn {
    border-width: 0px;    
  }
}

// ******************************************************
// Hero Unit
// ******************************************************
.hero-unit {
  background: white;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.hero-unit > img {
  padding-left: 20px; 
  float: right;
}

.hero-content h1, .hero-content h2, .hero-content p {
  text-align: right;
}
.hero-content h1 {
  margin-top: 20px;
}
.hero-content h2 img {
  vertical-align: text-bottom;
}

// ****************************************
// Installation
// ****************************************
#jbds {
  .download-unit {
    background: rgba(180, 180, 180, 0.2);
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    &:hover {
      background: rgba(203, 234, 253, 1.0);
    }
  }
}

#jbt {
  .download-unit {
    background: rgba(180, 180, 180, 0.2);
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    &:hover {
      background: rgba(203, 234, 253, 1.0);
    }
  }
}

.download-unit {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
  min-height: 25em;
  height: auto;  
  
  ul {
    list-style-type: square;
    li {
      line-height: 2em;
    }
  }
  .download-btn {
    margin-left: -1em;
    position: absolute; 
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
  
}

.links {
  a {
    margin-right: 0.0em;
  }
  span {
    padding-top: 4px;
    line-height: 20px;
  }
  position: relative;
  float: right;
}

#release_info + #installation {
  margin-top: 2em;
}

#installation-tabs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
  table {
    
    tr {
      text-align: left;
      &:nth-child(2n) {
        background: rgb(251, 251, 251)
      }
      &:nth-child(2n+1) {
        background: rgb(247, 247, 247);  
      }
      th, td {
        border: 1px solid rgb(221, 221, 221);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
       
      }
      
    }
  }
  
}


// *************************************
// Features
// *************************************
.features {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  
  a {
    width: 100%;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature {
  img {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  &:nth-child(even) img {
    float: left;
  }
  &:nth-child(odd) img {
    float: right;
  }
  & .featureContent, & .hero-unit {
    padding: 30px;
  }
}

.featureContent p {
  text-align: justify;
}


.features-separator hr {
  clear:both;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-menu {
  padding-top: 20px;
  li {
    display: inline;
    padding-right: 30px;
    
    h4 {
      display: inline;
    }
  }
}


#featureTab {
  line-height: 40px;
  margin-top: 20px;
  
  ul {
    margin-bottom: 0px;
  }
}


// *************************************
// News / Blog posts
// *************************************
@mixin header($font-size) {
  font-size: $font-size;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}

.post {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;

  &:last-child hr {
    display:none;
  }
  
  .title-wrapper {
    img {
      float:left;
      margin-right: 10px;
    }
    .title {
      padding-bottom: 5px;
      &.border {
        border-bottom: 1px solid #CCC;
      }
      h3 {
        text-decoration: none;
        margin-bottom: 0px;
      }
      
      h4 {
        text-decoration: none;
        margin-bottom: 0px;
      }
      
      .author {
        color: #777;
      }
      .tags {
        color: #777;
      }
      .icon-tags {
        display: inline;
      }
    }
  }
  pre {
    max-height: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    background-image: none;
  }
  
  .body {
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;
    
    h1 {
      @include header(20px);
    }
    h2 {
      @include header(18px);
    }
    h3 {
      @include header(16px);
    }
  }
  
  .navigation {
    hr {
      display: block;
    }
    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }
  
  .admonitionblock {
    table {
      td {
        border : 1px solid rgb(101, 101, 101);
        padding: 1em;
      }
      
    }
  }
  
}
