@charset "utf-8";

// ******************************************************
// Fixes to bootstrap-community theme while PR is pending
// see https://github.com/jbossorg/bootstrap-community/pull/3
// ******************************************************
#companyfooter-placeholder {
  margin-top: 70px;
}

// *************************************
// Fixes in bootstrap-community
// *************************************
#content {
  padding-bottom: 20px;
}

.jumbotron {
  background: none;
  h1, p {
    color: #656565;
  }

}

.bs-docs-sidenav > li:first-child > a {
  -webkit-border-top-leftt-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-bottom-leftt-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

// *************************************
// Common styles
// *************************************
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.25px;
}
h2 {
  color: #444;
}
h3 {
  font-size: 23px;
}
h4, h5, h6 {
  font-weight: 400;
}

.center, .center > p {
  text-align: center;
}

.centered {
  margin-left:auto;
  margin-right:auto;
}

div.right, span.right {
  width: 100%;
  text-align: right;
}

.status {
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

// red -> danger
.status-red {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

// yellow -> Warning
.status-yellow {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

// green -> Info
.status-green {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.float-right {
  float:right;
}
.float-left {
  float:left;
}

td.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

p {
  //text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  //font-size: 1.1em;
  //font-weight: 200;
  //line-height: 30px;
}


p + ul {
  //margin-top: -20px;
}

table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  height: 1px;
  margin: 1.5em 0;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;

  header {
    margin-bottom: 10px;
    h3, h4 {
      //text-align: center;
      border-bottom: 1px solid #EEEEEE;
    }
  }

  h2, h3 {
    [class^="icon-"], [class*=" icon-"] {
      vertical-align: baseline;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .item {
    margin-bottom: 10px;
    ul {
      margin-left: auto;
      margin-right: auto;
      list-style: none;
      width: 75%;

      li {
        margin-bottom: 10px;
      }
    }

    ul.double {
      overflow:hidden;

      li {
        width: 50%;
        float:left;
        display:inline;
        &:nth-child(odd) {
          text-align: right;
          a {
            padding-right: 1em;
          }

        }
        &:nth-child(even) {
          text-align: left;
          a {
            padding-left: 1em;
          }

        }
      }
    }
  }

  footer {
    //margin-top: 10px;
    line-height: 30px;
    //text-align: right;
    a.btn {
      margin: 5px 5px;
    }
    a.btn-small {
      background-color: #ebf0f9;
      border: 1px solid #d3dae5;
      background-image: none;
      &:hover, &:focus {
        background-color: #cfebdf;
      }
    }
  }
}

#content-wrapper {
  margin-top: 0px;
  margin-bottom: 0px;

  /*
  @media screen and (min-width: 1200px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (width: 940px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }*/
}


blockquote > p {
  font-size: 14px;
}

.container-fluid {
  margin-top: 2em;
  margin-bottom: 2em;
}

.alert {
  margin: 20px 0px;
  a {
    text-decoration: underline;
  }
}
.alert-requirements {
  border-color: transparent;
  color: rgb(101, 101, 101);
  background-color: rgb(243, 243, 243);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221)
}

.nav {
  margin-bottom: 0px;
}
.nav-header {
  color: rgb(153, 153, 153);
}

.tagline {
  font-weight: bold;
  font-size: large;
}

@mixin horizontal-top-ruler($height) {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 1px;
  height: $height;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

@mixin horizontal-bottom-ruler($height) {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  height: $height;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

@mixin vertical-right-ruler($width) {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: $width;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.button {
  cursor: pointer;
}

#rss-icon {
  vertical-align:top;
}

// centered videos
.videoblock {
  margin-top: 1em;
  margin-bottom: 1em;
  
  iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  iframe:not([width]) {
    width: 640px;
    height: 480px;
  }
}
// ******************************************************
// Flex layout
// ******************************************************
@media (min-width: 767px) {
  .flex {
    display: flex;
    align-items: strech;
    flex-direction: row;
    section {
      position: relative;
      footer {
        position: absolute; bottom: 0;
        width: 100%;
      }
    }

  }
}

// ******************************************************
// Anchors near the titles
// ******************************************************

  h1, h2, h3, h4, h5, h6 {
    & > a.anchor {
      position: absolute;
      width: 1em;
      margin-left: -0.75em;
      display: block;
      text-decoration: none !important;
      visibility: hidden;
      text-align: center;
      font-weight: normal;
    }
    &:hover > a.anchor {
      visibility: visible;
    }

    & > a.anchor::before {
      content: "*";
      font-size: 0.85em;
      vertical-align: text-top;
      display: inline;
      margin-top: 0.085em;
    }
  }


// ******************************************************
// Affix
// ******************************************************
.affixedContent {
  position: relative; // affix
}

.scrolledContent {
  margin-top: 40px;
}

// ******************************************************
// nav tabs
// ******************************************************
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color: rgb(101, 101, 101);
}

// ******************************************************
// asciidoctor tables
// ******************************************************
.tableblock {
  .valign-top {
    vertical-align: top;
  }
  .halign-left {
    text-align: left;
  }
  .halign-right {
    text-align: right;
  }
}


// ******************************************************
// asciidoctor centered images
// ******************************************************
span.image > img {
  margin-top: 2em;
  margin-bottom: 2em;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.imageblock img {

  display: block;
  margin-left: auto;
  margin-right: auto;
}

// ******************************************************
// Banner
// ******************************************************
.banner {
    position: relative;
    margin-bottom: 0;
    z-index: 0;
    border-radius: 0;
}

// ******************************************************
// page note
// ******************************************************
.page-note {
  margin-top: 2em;
  /*position : relative;
  &::before {
    @include horizontal-top-ruler(1px);
  }
  */
  p {
    margin-top: 1em;
  }
}


// ******************************************************
// Breadcrumb
// ******************************************************

.breadcrumb {
  margin-bottom: 30px;
  & > .active {
    color: rgb(153, 153, 153);
  }
}
a.dropdown-toggle {
  text-decoration: none;
  b.caret {
    color: rgb(51, 102, 153);
  }
}


// ******************************************************
// Customizing the NavBar
// ******************************************************
.navbar-inner {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  .btn {
    border-width: 0px;
  }
}
// ******************************************************
// Hero Unit
// ******************************************************
.hero-unit {
  background-color: #FAFAFA;
  background-image: none;
  padding: 30px 30px 0px 30px;
}
#homepage .hero-unit {
  background: url("http://static.jboss.org/tools/images/bkg_binding_light.png") 0 0 repeat-x #ebf5f1;
}
.hero-unit > img {
  padding-left: 20px;
  float: right;
}

.hero-content h1, .hero-content h2, .hero-content p {
  text-align: right;
}
.hero-content h1 {
  margin-top: 40px;
}
.hero-content h2 img {
  vertical-align: text-bottom;
}
.hero-content p {
  white-space: nowrap;
}
.hero-unit p {
  margin-bottom: 20px;
  display: inline-block;
}

// ****************************************
// Side bar
// ****************************************
body {
  //position: relative;
}


.bs-docs-sidenav .label {
  float: right;
}

.bs-docs-sidenav li.expanded {

  &.selected {
    //background-color: rgb(241, 241, 241);
  }
  &.selected:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &.selected:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  & > a {
    background: #E6E7E8;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  & > ul.nav-nested {
    list-style: none outside none;
    border-left: 1px solid rgb(229, 229, 229);
    border-right: 1px solid rgb(229, 229, 229);
    margin: 0px;

    li  {
      & > a {
        padding-left: 30px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
      &.active {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
        a, a:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(51, 102, 153);
        }
      }
    }


  }
  &:last-child > ul.nav-nested {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-bottom: 1px solid rgb(229, 229, 229);
  }
}

.bs-docs-sidenav.affix-top {

}
.bs-docs-sidenav.affix {
  position: fixed;
  top: 40px; // matches height of navbar
}

@media (max-width: 767px) {
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 40px;
}

.bs-docs-sidenav > .active > a {
  z-index: 0; // reset, to avoid it passes *over* the navbar when scrolling :-/
}
.sidebar {
  margin: 0px;
}
.sidebar {

  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  .accordion {
    margin-bottom: 0;
  }
  .accordion-group {
    border: none;
    border-bottom: 1px solid rgb(229, 229, 229);
    border-radius: 0px;
    &:last-child   {
      border-bottom: none;
    }
  }

  .sidebar::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    @include vertical_right_ruler(1px);
  }


}

// ****************************************
// Events
// ****************************************
.event {
  .title {
    .info {
      color: rgb(119, 119, 119);
      font-weight: bold;
    }

    h3 {
      margin-top: 2em;
      margin-bottom: 0;
    }
  }
  .content {
    margin-top: 2em;
    margin-bottom: 4em;
  }
}

// ****************************************
// Downloads
// ****************************************
#downloads {
  footer {
    margin-top: 2em;
  }

}

@media screen and (min-width: 680px) {
  .hero-unit {
    .hero-left {
      float: left;
      display: inline;
      margin-bottom: 2em;

      width: 45%;
        text-align: right;
      h1 {
      }
      a {
        margin-top: 1em;
      }
    }
    .hero-right {
      float: right;
      display: inline;
      width: 45%;
      margin-bottom: 2em;
      ul {
        list-style-type: none;
      }
    }
  }

  hr {
    content: "";
    clear: both;
  }

}

.links {
  a {
    margin-right: 0.0em;
  }
  span {
    padding-top: 4px;
    line-height: 20px;
  }
  position: relative;
  float: right;
}


#release_info {
  margin-top: 2em;
  margin-bottom: 2em;
}

 .label {
  vertical-align: top;
}

#installation_tabs {
  margin-top: 2em;
  .nav-tabs > .active > a {
  }
}

#installation-tabs-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  /*border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;*/
  //background: rgb(243, 243, 243);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

}
#download {
  margin-top: 30px;
}

#all-downloads, #installation-tabs-content {
  table {
    margin-top: 2em;
    margin-bottom: 4em;
    tr {
      text-align: left;
      &:nth-child(2n+1) {
        background: rgb(245, 245, 245)
      }
      &:nth-child(2n) {
        background: rgb(255, 255, 255);
      }
      th, td {
        border: 1px solid rgb(221, 221, 221);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

// align labels on the right in the #all-downloads table
#all-downloads table {
  td {
    width: 20%;
    vertical-align: top;
  }
  & .label {
   float: right;
  }
}

.download-instructions {
  h3 {
    margin-top: 0;
  }
  h4 {
    margin-top: 2em;
    & + div {
      display: block;
      padding: 1em;
      line-height: 20px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
    }
  }
  .nav-tabs > .active > a {
    color: rgb(101, 101, 101);
  }
}

span.label {
  font-weight: normal;
  text-shadow: none;
  &#displayed-version {
    vertical-align:top;
  }

  &.label_stable, &.label_latest_release {
    background-color: rgb(70, 136, 71);
  }
  &.label_development {
    background-color: rgb(58, 135, 173);
  }
  &.label.label_nightly {
    background-color: rgb(248, 148, 6);
  }
  &.float-right {
    font-size: smaller;
  }
}

section  h3 > span.label {
  vertical-align: text-top;
}

.sidenav  li:first-child  a {
    border-radius: 6px 6px 0 0;
}

.sidenav > li:last-child > a {

}

.sidenav .active  a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}


// *************************************
// Features
// *************************************
.features {
  .well {
    height: 300px;
    overflow: hidden;
  }
  a {
    width: 100%;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 940px) {
  .feature {
    .sect1 {
      //position: relative;
      margin-bottom: 2em;
      &::before {
        @include horizontal-bottom-ruler(1px);
      }
      &:last-child::before {
        content: "";
        background-image: none;
      }
      &::after {
        display:block;
        clear:both;
        margin-bottom: 2em;
        content: ""; // mandatory content, even empty
      }

      h2 {
        margin-top: -60px;
        padding-top: 60px;
      }

    }

    .sect2 {
      padding-top: 20px;
    }

    $space: 48%;
    .sect1:nth-child(odd) {
      H2, .sect2 > :not(.imageblock) {
        float: left;
        clear: left;
        width: $space;
      }
      .sect2 > .imageblock {
        float: right;
        margin-top: -4em;
        width: $space;
      }
    }

    .sect1:nth-child(even) {
      H2, .sect2 > :not(.imageblock) {
        float: right;
        clear: right;
        width: $space;
      }
      .sect2 > .imageblock {
        float: left;
        margin-top: -4em;
        width: $space;
      }
    }
  }
}

.tableblock {
  margin-bottom: 1em;
  th, td {
    border: 1px solid rgb(101, 101, 101);
    padding: 4px;
  }
}

// *************************************
// News / Blog posts
// *************************************
@mixin header($font-size) {
  font-size: $font-size;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}

.post {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;

  &:last-child hr {
    display:none;
  }

  .title-wrapper {
    img.img-polaroid {
      float:left;
      margin-right: 10px;
    }
    .title {
      padding-bottom: 5px;

      h3 {
        text-decoration: none;
        margin-bottom: 0px;
      }

      h4 {
        text-decoration: none;
        margin-bottom: 0px;
      }

      .author {
        color: #777;
      }
      .tags {
        color: #777;
      }
      .icon-tags {
        display: inline;
      }
    }
  }
  pre {
    max-height: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    background-image: none;
  }

  .body {
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;

    h1 {
      @include header(20px);
    }
    h2 {
      @include header(18px);
    }
    h3 {
      @include header(16px);
    }
  }

  .navigation {
    hr {
      display: block;
    }
    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }

  .admonitionblock {
    table {
      td {
        border : 1px solid rgb(101, 101, 101);
        padding: 1em;
      }

    }
  }

}

// *************************************
// What's New
// *************************************
.whatsnew-index {
  .hero-unit {
    .hero-left {
      width: 40%;
    }
    .hero-right {
      width: 55%;
      ul {
        overflow: hidden;
      }
    }
    &.jbt_core li {
      width: 50%;
      line-height: 1.5em;
      float: left;
      display: inline;
    }
  }

}

.whatsnew {
  .sect1 {
    position: relative;
    padding-bottom: 2em;
    margin-bottom: 2em;
    /*&::after {
      @include horizontal-bottom-ruler(1px);
    }*/
    img {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

.whatsnew-nav {
  margin-top: 4em;
}

@media screen and (min-width: 940px) {
  .whatsnew {
    .sectionbody {
      .paragraph {
        //margin-left:4em;
      }
    }
  }
}
.component-wrapper {
  margin-top: -40px;
  padding-top: 60px;
  margin-bottom: 40px;
  &:first {
    margin-top: 0;
  }
  .component-header {
    text-align: center;
  }

  .component-header {
  }

}

.direct-download {
  text-align: right;
}

// *****************************************
// Videos
// *****************************************

.video {
  padding-top: 30px;
  padding-bottom: 30px;

  #player iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    position: relative;
    z-index: 920;
  }

  .videocontrol {
    text-decoration: none;
    display: block;
  }

  .playerbox {
    z-index: 900;
    /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: 0;
    position: relative;
  }

  .playerbox #player {
    z-index: 910;
    width: 100%;
    height: 400px;
    background: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    /*border: 1px solid #efefef;*/
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px
      rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px
      rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06)
      inset;
  }

  .playerbox #player:before, .playerbox #player:after {
    content: '';
    z-index: 905;
    position: absolute;
    background: black;
    left: 10px;
    bottom: 10px;
    width: 50%;
    max-width: 300px;
    /* avoid rotation causing ugly appearance at large container widths */
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .playerbox #player:after {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  .span4 {
    width:33%;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;

  }



  ul.items {
    margin-bottom: 20px;
    li {
      display: inline;
      list-style-type: none;
      text-align:left;
    }
  }


}
