// ******************************************************
// Fixes to bootstrap-community theme while PR is pending
// see https://github.com/jbossorg/bootstrap-community/pull/3
// ******************************************************
#companyfooter-placeholder {
  margin-top: 70px;
}

// *************************************
// Common styles
// *************************************
.center, .center > p {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

div.right, span.right {
  width: 100%;
  text-align: right;
}

.float-right {
  float:right;
}

td.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

p { 
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p + ul {
  margin-top: -20px;
}

table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  height: 1px;
  margin: 1.5em 0;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;  
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  
  header {
    margin-bottom: 10px;
    h3 {
      text-align: center;
    }
  }

  h2, h3 {
    [class^="icon-"], [class*=" icon-"] {
      vertical-align: baseline;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .item {
    margin-bottom: 10px;
  }
  
  .footer {
    margin-top: 0.5em;
  }
}

#content-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  /*
  @media screen and (min-width: 1200px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }
  
  @media screen and (width: 940px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }*/
}

blockquote > p {
  font-size: 14px;
}

.container-fluid {
  margin-top: 2em;
  margin-bottom: 2em;
}

div.alert {
  margin: 20px 0px;
}

.nav {
  margin-bottom: 0px;
}
.nav-header {
  color: rgb(153, 153, 153);
}

.tagline {
  font-weight: bold;
  font-size: large;
}

@mixin horizontal-top-ruler($height) {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 1px;
  height: $height;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

@mixin horizontal-bottom-ruler($height) {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  height: $height;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

@mixin vertical-right-ruler($width) {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: $width;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.button {
  cursor: pointer;
}

#rss-icon {
  vertical-align:top;
}

// ******************************************************
// page note
// ******************************************************
.page-note {
  margin-top: 2em;
  /*position : relative;
  &::before {
    @include horizontal-top-ruler(1px);
  }
  */
  p {
    margin-top: 1em;
  }
}


// ******************************************************
// Breadcrumb
// ******************************************************

.breadcrumb {
  margin-bottom: 2em;
  & > .active {
    color: rgb(153, 153, 153);
  }
}
a.dropdown-toggle {
  text-decoration: none;
  b.caret {
    color: rgb(51, 102, 153);
  }
}


// ******************************************************
// Customizing the NavBar
// ******************************************************
.nav-bar
.navbar-inner {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  .btn {
    border-width: 0px;    
  }
}

// ******************************************************
// Hero Unit
// ******************************************************
.hero-unit {
  background: white;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.hero-unit > img {
  padding-left: 20px; 
  float: right;
}

.hero-content h1, .hero-content h2, .hero-content p {
  text-align: right;
}
.hero-content h1 {
  margin-top: 20px;
}
.hero-content h2 img {
  vertical-align: text-bottom;
}

// ****************************************
// Side bar
// ****************************************
.sidebar {
  
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  
  .accordion {
    margin-bottom: 0;
  }
  .accordion-group {
    border: none;
    border-bottom: 1px solid rgb(229, 229, 229);
    border-radius: 0px;
    &:last-child   {
      border-bottom: none;
    }
  }

  .sidebar::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    @include vertical_right_ruler(1px);
  }
  
  
}

// ****************************************
// Installation
// ****************************************
@media screen and (min-width: 680px) {
  #downloads {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .download-unit {
      position: relative;
      margin-bottom: 1em;
      padding: 1em;
      #min-height: 25em;
      height: auto;  
  
      h3 {
        text-align: center;
      }
      ul {
        text-align: center;
        list-style-type: square;
        margin-bottom: 2em;
        li {
          margin-left: 1em;
          line-height: 2em;
          text-align: left;
        }
      }
      .download-btn {
        margin-left: -1em; 
        position: absolute; 
        bottom: 0em;
        width: 100%;
        text-align: center;
      }
    }
    
    .download-unit:first-child::after {
      @include vertical-right_ruler(1px);
    }
  }
}

.links {
  a {
    margin-right: 0.0em;
  }
  span {
    padding-top: 4px;
    line-height: 20px;
  }
  position: relative;
  float: right;
}


#release_info {
  margin-top: 2em;
  margin-bottom: 2em;
}

#displayed-version > .label {
  vertical-align: top;
}

#installation_tabs {
  margin-top: 2em;
  .nav-tabs > .active > a {
  }
}

#installation-tabs-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  //background: rgb(243, 243, 243);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  
  table {
    margin-top: 2em;
    tr {
      text-align: left;
      &:nth-child(2n) {
        background: rgb(251, 251, 251)
      }
      &:nth-child(2n+1) {
        background: rgb(247, 247, 247);  
      }
      th, td {
        border: 1px solid rgb(221, 221, 221);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
#download_version > h3 {
//  margin-bottom: 0;
}

.download-instructions {
  h3 {
    margin-top: 0;
  }
  h4 {
    margin-top: 2em;
    & + div {
      display: block;
      padding: 1em;
      line-height: 20px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
    }
  }
  .nav-tabs > .active > a {
    color: rgb(101, 101, 101);
  }
}

span.label {
  font-weight: normal;
  text-shadow: none;
  &#displayed-version {
    vertical-align:top;
  }
  
  &.label_stable, &.label_latest_release {
    background-color: rgb(70, 136, 71);
  }
  &.label_development {
    background-color: rgb(58, 135, 173);
  }
  &.label.label_nightly {
    background-color: rgb(248, 148, 6);
  }
  &.float-right {
    font-size: smaller;
  }
}

.sidenav  li:first-child  a {
    border-radius: 6px 6px 0 0;
}

.sidenav > li:last-child > a {
    
}

.sidenav .active  a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}


// *************************************
// Features
// *************************************
.features {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  
  a {
    width: 100%;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature {
  img {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  &:nth-child(even) img {
    float: left;
  }
  &:nth-child(odd) img {
    float: right;
  }
  & .featureContent, & .hero-unit {
    padding: 30px;
  }
}

.featureContent p {
  text-align: justify;
}

.features-separator hr {
  clear:both;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-menu {
  padding-top: 20px;
  li {
    display: inline;
    padding-right: 30px;
    
    h4 {
      display: inline;
    }
  }
}

@media screen and (min-width: 940px) {
  #feature {
    .sect1 {
      position: relative;
      margin-bottom: 2em;
      &::before {
        @include horizontal-bottom-ruler(1px);
      }
      &:last-child::before {
        content: "";
        background-image: none;
      }
      &::after {
        display:block;
        clear:both;
        margin-bottom: 2em;
        content: ""; // mandatory content, even empty
      }
      p {
        font-size: 1.1em;
        font-weight: 200;
        line-height: 30px;
      }
    }
  
    .sect2 {
      padding-top: 20px;
    }
  
    .sect1:nth-child(odd) {
      H2, .sect2 > :not(.imageblock) {
        float: left;
        clear: left;
        width: 50%;
        //margin:0px;
      }
      .sect2 > .imageblock {
        float: right;
        margin-top: -4em;
        width: 50%;
      }
    } 
  
    .sect1:nth-child(even) { 
      H2, .sect2 > :not(.imageblock) {
        float: right;
        clear: right;
        width: 50%;
        //margin:0px;
      }
      .sect2 > .imageblock {
        float: left;
        margin-top: -4em;
        width: 50%;
      }
    }  
  }
}

.tableblock {
  margin-bottom: 1em;
  th, td {
    border: 1px solid rgb(101, 101, 101);
    padding: 4px;
  }
}

// *************************************
// News / Blog posts
// *************************************
@mixin header($font-size) {
  font-size: $font-size;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}

.post {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;

  &:last-child hr {
    display:none;
  }
  
  .title-wrapper {
    img.img-polaroid {
      float:left;
      margin-right: 10px;
    }
    .title {
      padding-bottom: 5px;
      
      h3 {
        text-decoration: none;
        margin-bottom: 0px;
      }
      
      h4 {
        text-decoration: none;
        margin-bottom: 0px;
      }
      
      .author {
        color: #777;
      }
      .tags {
        color: #777;
      }
      .icon-tags {
        display: inline;
      }
    }
  }
  pre {
    max-height: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    background-image: none;
  }
  
  .body {
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;
    
    h1 {
      @include header(20px);
    }
    h2 {
      @include header(18px);
    }
    h3 {
      @include header(16px);
    }
  }
  
  .navigation {
    hr {
      display: block;
    }
    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }
  
  .admonitionblock {
    table {
      td {
        border : 1px solid rgb(101, 101, 101);
        padding: 1em;
      }
      
    }
  }
  
}

// *************************************
// What's New
// *************************************
.whatsnew {
  .sect1 {
    position: relative;
    padding-bottom: 2em;
    margin-bottom: 2em;
    &::after {
      @include horizontal-bottom-ruler(1px);
    }
    img {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

.whatsnew-nav {
  margin-top: 4em;
}

@media screen and (min-width: 940px) {
  .whatsnew {
    .sectionbody {
      .paragraph {
        //margin-left:4em;
      }
    }
  }
}

// *****************************************
// Videos
// *****************************************

#video {
  h5,h6 {
    color: #4a5d75;
  }

  /*#container-reduced {
    width:75%; 
    margin-left: auto;
    margin-right: auto;
  }*/

  #player iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    position: relative;
    z-index: 920;
  }

  .videocontrol {
    text-decoration: none;
    display: block;
  }

  .playerbox {
    z-index: 900;
    /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: 0;
    position: relative;
  }

  .playerbox #player {
    z-index: 910;
    width: 100%;
    height: 400px;
    background: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    /*border: 1px solid #efefef;*/
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px
      rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px
      rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06)
      inset;
  }

  .playerbox #player:before, .playerbox #player:after {
    content: '';
    z-index: 905;
    position: absolute;
    background: black;
    left: 10px;
    bottom: 10px;
    width: 50%;
    max-width: 300px;
    /* avoid rotation causing ugly appearance at large container widths */
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .playerbox #player:after {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  .span4 {
    width:33%;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
  
  }

  ul.items li {
    display: inline;
    list-style-type: none;
    text-align:left;
  }



}
