// ******************************************************
// Fixes to bootstrap-community theme while PR is pending
// see https://github.com/jbossorg/bootstrap-community/pull/3
// ******************************************************
#companyfooter-placeholder {
  margin-top: 70px;
}

// *************************************
// Common styles
// *************************************
.center {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

div.right {
  width: 100%;
  text-align: right;
}

div.float-right {
  float:right;
}

td.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

p { 
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p + ul {
  margin-top: -20px;
}

table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  height: 1px;
  margin: 1.5em 0;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;  
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  
  header {
    margin-bottom: 10px;
    h3 {
      text-align: center;
    }
  }

  h2, h3 {
    [class^="icon-"], [class*=" icon-"] {
      vertical-align: baseline;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .item {
    margin-bottom: 10px;
  }
}

#content-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  /*
  @media screen and (min-width: 1200px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }
  
  @media screen and (width: 940px) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
  }*/
}

.nav {
  margin-bottom: 0px;
}

blockquote > p {
  font-size: 14px;
}

.container-fluid {
  margin-top: 2em;
  margin-bottom: 2em;
}


// ******************************************************
// Breadcrumb
// ******************************************************

.breadcrumb > .active {
  color: rgb(153, 153, 153);
}

a.dropdown-toggle {
  text-decoration: none;
  b.caret {
    color: rgb(51, 102, 153);
  }
}


// ******************************************************
// Customizing the NavBar
// ******************************************************
.navbar-inner {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  .btn {
    border-width: 0px;    
  }
}

// ******************************************************
// Hero Unit
// ******************************************************
.hero-unit {
  background: white;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.hero-unit > img {
  padding-left: 20px; 
  float: right;
}

.hero-content h1, .hero-content h2, .hero-content p {
  text-align: right;
}
.hero-content h1 {
  margin-top: 20px;
}
.hero-content h2 img {
  vertical-align: text-bottom;
}

// ****************************************
// Installation
// ****************************************
#jbds {
  .download-unit {
    background: rgba(180, 180, 180, 0.2);
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    &:hover {
      background: rgba(203, 234, 253, 1.0);
    }
  }
}

#jbt {
  .download-unit {
    background: rgba(180, 180, 180, 0.2);
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    &:hover {
      background: rgba(203, 234, 253, 1.0);
    }
  }
}

.download-unit {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
  min-height: 25em;
  height: auto;  
  
  ul {
    list-style-type: square;
    li {
      line-height: 2em;
    }
  }
  .download-btn {
    margin-left: -1em;
    position: absolute; 
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
}

.links {
  a {
    margin-right: 0.0em;
  }
  span {
    padding-top: 4px;
    line-height: 20px;
  }
  position: relative;
  float: right;
}


#release_info {
  margin-top: 2em;
  margin-bottom: 2em;
}

#displayed-version > .label {
  vertical-align: top;
}

#installation-tabs {
  margin-top: 2em;
  .nav-tabs > .active > a {
  }
  
}

#installation-tabs-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  //background: rgb(243, 243, 243);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  
  table {
    margin-top: 2em;
    tr {
      text-align: left;
      &:nth-child(2n) {
        background: rgb(251, 251, 251)
      }
      &:nth-child(2n+1) {
        background: rgb(247, 247, 247);  
      }
      th, td {
        border: 1px solid rgb(221, 221, 221);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
       
      }
      
    }
  }
}
#download_version > h3 {
//  margin-bottom: 0;
}

#downloads-menu {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  ul.nav-list {
    li {
      & > a {
        padding-top: 9px;
        padding-bottom: 9px;
        text-shadow: none;
        border-bottom: 1px solid rgb(229, 229, 229);
        & > i {
          margin-top: 4px;
          float: right;
        }
        &:hover {
          //background-color: rgb(230, 231, 232);

        }
        &:focus {
          //color: rgb(140, 143, 145);
          //background-color: rgb(243, 243, 243);
        }
      } 
    
      & + .nav-header {
        margin-top: 0px;
      }  
      
      &:nth-last-child(1) > a {
        border-bottom: none;
      }
    }
  }
}

.download-instructions {
  h3 {
    margin-top: 0;
  }
  h4 {
    margin-top: 2em;
    & + div {
      display: block;
      padding: 1em;
      line-height: 20px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
    }
  }
  .nav-tabs > .active > a {
    color: rgb(101, 101, 101);
  }
}

span.label {
  font-weight: normal;
  &#displayed-version {
    vertical-align:top;
  }
  
  label_stable_releases, &.label_latest_release {
    background-color: rgb(70, 165, 70);
  }

  label_development_builds, &.label.label_nightly_builds {
    background-color: rgb(248, 148, 6);
  }
  
}


.sidenav  li:first-child  a {
    border-radius: 6px 6px 0 0;
}

.sidenav > li:last-child > a {
    
}

.sidenav .active  a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}


// *************************************
// Features
// *************************************
.features {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  
  a {
    width: 100%;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature {
  img {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  &:nth-child(even) img {
    float: left;
  }
  &:nth-child(odd) img {
    float: right;
  }
  & .featureContent, & .hero-unit {
    padding: 30px;
  }
}

.featureContent p {
  text-align: justify;
}


.features-separator hr {
  clear:both;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-menu {
  padding-top: 20px;
  li {
    display: inline;
    padding-right: 30px;
    
    h4 {
      display: inline;
    }
  }
}


#featureTab {
  line-height: 40px;
  margin-top: 20px;
  
  ul {
    margin-bottom: 0px;
  }
}


// *************************************
// News / Blog posts
// *************************************
@mixin header($font-size) {
  font-size: $font-size;
  text-decoration: none;
  text-align: left;
  color: #4A5D75;
}

.post {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;

  &:last-child hr {
    display:none;
  }
  
  .title-wrapper {
    img {
      float:left;
      margin-right: 10px;
    }
    .title {
      padding-bottom: 5px;
      &.border {
        border-bottom: 1px solid #CCC;
      }
      h3 {
        text-decoration: none;
        margin-bottom: 0px;
      }
      
      h4 {
        text-decoration: none;
        margin-bottom: 0px;
      }
      
      .author {
        color: #777;
      }
      .tags {
        color: #777;
      }
      .icon-tags {
        display: inline;
      }
    }
  }
  pre {
    max-height: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    background-image: none;
  }
  
  .body {
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;
    
    h1 {
      @include header(20px);
    }
    h2 {
      @include header(18px);
    }
    h3 {
      @include header(16px);
    }
  }
  
  .navigation {
    hr {
      display: block;
    }
    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }
  
  .admonitionblock {
    table {
      td {
        border : 1px solid rgb(101, 101, 101);
        padding: 1em;
      }
      
    }
  }
  
}
