// I gather this file is a starting point for the project.

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  /*font-family: "DejaVu Sans", Verdana, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;*/
 height: 100%;
}

.left {
  text-align: left;
}

$title-font-size: 20px;

@mixin fontsize() {
  font-size: $title-font-size;
}

// ****************************************
// Footer Pusher
// ****************************************
$push: 5em;

// ****************************************
// JBoss Community Header (Branding) 
// ****************************************

#nav-wrapper {
  width:100%;
  background-image: url("http://static.jboss.org/theme/images/bgs/branding-stkv2.png");
  background-clip: border-box;
}


#branding {
  background-image: none;
  margin: 0px;
  max-width: none;
  height: auto;
}

#logo {
  background-image: none;
  height: 48px;
}

#logo a {
  padding-top: 0;
  width: auto;
  height: 48px;
  background-image: url("http://static.jboss.org/theme/images/bgs/primarynav-lines.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-clip: border-box;
}

#logo a img {
  display: inline;
}

#primarynav {
  left: 300px;
}

#primarynav ul li {
  height: 48px;
}

#primarynav ul li a {
  background-image: none;
  padding-top: 15px;
}

#tab {
  cursor: pointer;
}

// ***************************************
// Project banner and navigation menu
// ***************************************
#project-banner-wrapper-bg {
  background: #F5F5F5;
  //background-image: url("/images/nav/dust.jpg");
  margin-bottom: 00px;
}
  
#project-banner-wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

$left-offset: 0px;
$top-offset: 15px;

#project-banner {
  height: (2 * $top-offset) + 73px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 585px;
}

#project-logo {
  position:absolute;
  top: $top-offset;
  left: $left-offset
}

#project-installer {
  position:absolute;
  top: $top-offset + 45px;
  left: $left-offset + 306px;
}

#wrapper {
  padding-top: 0px; // overriding default settings
}

$menu-top-color: #F3F3F3;
$menu-bottom-color: #E0E0E0;
$box-shadow: #ABABAB;
#menu-wrapper-bg {
  //background-image: url("/images/nav/dust5.jpg");
  background: #EAEAEA;
  background-image: url("http://static.jboss.org/theme/images/bgs/branding-stkv2.png");
  /*-moz-box-shadow: 0px 3px 3px 0px $box-shadow;
  -webkit-box-shadow: 0px 3px 3px 0px $box-shadow;
  -o-box-shadow: 0px 3px 3px 0px $box-shadow;
  box-shadow: 0px 3px 3px 0px $box-shadow;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=$box-shadow, Direction=180, Strength=3);*/
   
  /*background-image: linear-gradient(top, #E0E0E0, #F3F3F3);
  background-image: linear-gradient(bottom, $menu-bottom-color, $menu-top-color);
  background-image: -o-linear-gradient(bottom, $menu-bottom-color, $menu-top-color);
  background-image: -moz-linear-gradient(bottom, $menu-bottom-color, $menu-top-color);
  background-image: -webkit-linear-gradient(bottom, $menu-bottom-color, $menu-top-color);
  background-image: -ms-linear-gradient(bottom, $menu-bottom-color, $menu-top-color);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop($menu-bottom-color),
    color-stop($menu-top-color)
  );*/
  margin-bottom: 20px;
}

#menu-wrapper {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  text-align:center;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background: url("http://static.jboss.org/theme/images/bgs/primarynav-lines.png") no-repeat top left ;
}

$menu-items-padding: 10px;
#menu ul {
  display: block;
  text-decoration: none;
  padding-top: $menu-items-padding;
  padding-bottom: $menu-items-padding;
  margin-bottom: 0px;
} 

#menu li {
  min-height: 100%;
  height: auto;
  display: inline;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-shadow: 0 1px 1px black;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: $menu-items-padding;
  padding-bottom: $menu-items-padding;
  color:#C9D4E4;/* lightest blue */
  background: url("http://static.jboss.org/theme/images/bgs/primarynav-lines.png") no-repeat top right ;
}

#menu ul li a {
  color:#C9D4E4;/* lightest blue */
  text-decoration: none;
}
#menu ul li a:visited {
  color:#C9D4E4;/* lightest blue */
}

#menu ul li a:hover {
  color:#FEFEFE;/* light white  */
}

#menu ul li.selected a{
  color:#FEFEFE;/* light white  */
}

#menu span {
  height: 100%;
  vertical-align: middle;
  
}
#menu h5 {
  display: inline;
}



// ****************************************
// Read more >> links with button-style
// ****************************************
a.readmore {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  
}

// ****************************************
// Footer
// ****************************************
.push {
  height: $push;
}

#site-info {
  background: #F3F3F3;
  height: $push;
}
// ****************************************
// Main content
// ****************************************
.pushed-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#content-wrapper-bg {
  background-color: #FFF;
  margin-bottom: -$push;
  
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

$font-red-color: #88201B;


#wrap-content {
  height: 100%;
}
#wrapper-3b {
  display: inline; /* IE 6 */
  margin: 0px;
  width: 100%; 
  overflow:hidden;
  -webkit-border-radius:0px 0px 4px 4px; 
  -moz-border-radius:0px 0px 4px 4px; 
  border-radius:0px 0px 4px 4px; 
  background-color:#FFF;
  padding-bottom:20px;
} 



@mixin bg-image($url) {
  background-image:url($url);
  background-repeat: no-repeat;
  background-position: left center;
  text-align: left;
  vertical-align:baseline;
}

/*
#installation {
  @include bg-image("/images/nav/glyphicons_044_keys.png");
  padding-left: 32px;
}

#blog {
  @include bg-image("/images/nav/glyphicons_235_pen.png");
  padding-left: 32px;
}

#features {
  @include bg-image("/images/nav/glyphicons_023_cogwheels.png");
  padding-left: 32px;
}

#videos {
  @include bg-image("/images/nav/glyphicons_086_display.png");
  padding-left: 32px;
}

#community {
  @include bg-image("/images/nav/glyphicons_043_group.png");
  padding-left: 32px;
}
*/


// ****************************************
// Carousel on welcome page
// ****************************************

#headingCarousel {
  margin-top:20px;
  margin-bottom:40px;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

p  {
  text-align: justify;
}


#container-reduced .row-fluid {
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}


#sections.row-fluid {
	text-align:left;  
}

.row-fluid h3 {
	text-align:center;  
}

.details {
    clear:both;
}
.details p {
  margin: 0px;
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

// ****************************************
// Installation
// ****************************************
#install {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#install  tr {
  border: 1px solid;
}
#install  td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#install table td:first-child {
  background: #F3F3F3;
  text-align: left;
}

h1 {
  color: #494949;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

// ******************************************
// Features
// ******************************************
.feature-headers {
  margin-bottom: 50px;
}

.feature-header {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-header.selected {
  color: $font-red-color;
}


.features h4 {
  text-align : left;
  padding-bottom: 10px;
}

.features hr {
  clear:both;
  margin-bottom: 30px;
  border-color: transparent;
}

.features h4:nth-child(even) img {
  float: left;
  padding-right: 40px;
  margin-bottom: 20px;
}

.features h4:nth-child(odd) img {
  float: right;
  padding-left: 40px;
  margin-bottom: 20px;
}

.features ul {
  text-align: left;
  padding-left: 30px;
  overflow: auto;
}

.features a {
  text-align:left;
}
a h4.selected {
  color: $font-red-color;
}

#main-features {
  text-align: center;
  font-size: x-large;
}

#all-features {
 // background: #F0F0F0;
  background: whiteSmoke;
  border: 1px solid #3E3E3E;
  border-radius: 4px;
  padding: 0px;
  margin-right: 50px;
  color: #3E3E3E;
}

#all-features ul {
  margin: 0px;
}
#all-features li {
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  border-bottom: 1px dotted #555;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  // 
  color: #C9D4E4;
  //text-shadow: #818181 1px 1px 1px;
  
}

#other-features li:last-child {
  border-bottom: 0px;
}
// *************************************
// Blog posts
// *************************************
.blogpost {
  padding: 40px;
}

.blogpost h1 {
  font-size: 23px;
}

.blogpost .blog-title {
  font-size: 25px;
  text-align: center;
}

