// I gather this file is a starting point for the project.

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

body {
  background-color: #F3F3F3;
}

$font-red-color: #88201B;


#wrap-content {
  height: 100%;
}
#wrapper-3b {
  float: left;
  display: inline; /* IE 6 */
  margin:0px;
  width: 700px;
  width: 100%; 
  overflow:hidden;
  -webkit-border-radius:0px 0px 4px 4px; 
  -moz-border-radius:0px 0px 4px 4px; 
  border-radius:0px 0px 4px 4px; 
  line-height:1.5;
  background-color:#FFF;
  padding-bottom:20px;
} 

// ****************************************
// Menu items
// ****************************************
$title-font-size: 20px;

@mixin fontsize() {
  font-size: $title-font-size;
}

@mixin bg-image($url) {
 background-image:url($url);
 background-repeat: no-repeat;
 background-position: center top;
 padding-top: 64px;
  
}
#menu.row-fluid  {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

#installation {
  @include bg-image("http://jboss.org/dms/jbossway/icon_quickstart_64px.png");
}

#guides {
  @include bg-image("http://jboss.org/dms/jbossway/icon_tutorial_64px.png");
}

#features {
  @include bg-image("http://jboss.org/dms/jbossway/icon_features_64px.png");
}

#videos {
  @include bg-image("http://jboss.org/dms/jbossway/icon_video_64px.png");
}

#community {
  @include bg-image("http://jboss.org/dms/jbossway/icon_tutorial_64px.png");
}


// ****************************************
// Carousel on welcome page
// ****************************************

#headingCarousel {
  margin-top:50px;
  margin-bottom:10px;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

p  {
  text-align: justify;
}


#container-reduced .row-fluid {
  width: 80%; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#sections.row-fluid {
	text-align:left;  
}

.row-fluid h3 {
	text-align:center;  
}

.details {
    clear:both;
}
.details p {
  margin: 0px;
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

// ******************************************
// Features
// ******************************************


.feature-headers {
  margin-bottom: 50px;
}

.feature-header {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-header.selected {
  color: $font-red-color;
}


.features h4 {
  text-align : left;
  padding-bottom: 10px;
}

.features hr {
  clear:both;
  margin-bottom: 30px;
}

.features h4:nth-child(even) img {
  float: right;
  padding-left: 20px;
  margin-bottom: 20px;
}

.features h4:nth-child(odd) img {
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;
}

.features ul {
  text-align: left;
  padding-left: 30px;
  overflow: auto;
}

.features a {
  text-align:left;
}
a h4.selected {
  color: $font-red-color;
}


