---
layout: default_layout
tab: guides
---
.row-fluid
  .span12
    %h1 Guides
  .span12
    %a{:href=>"/new_noteworthy"}New and Noteworthy
    lists the new features in each release
  
  .span12
    The
    %a{:href=>"http://docs.jboss.org/tools/"} reference guides
    is the main documentation for the main functionality of each major module in JBoss Tools. 
    The index page lists each release and its associated documentation.
    There is also a 
    %a{:href => "http://docs.jboss.org/tools/nightly/trunk/"} nightly build of the latest reference guides 
    (from trunk) available. Content subject to change.
 
  .span12
    We have a great set of 
    %a{:href=>"videos"} video tutorials
    to help you getting started with various modules of JBoss Tools and JBoss Developer Studio.
 