---
layout: default_layout
tab: guides
---
  
.row-fluid
  .span12
    %h1 Guides
  .span12
    The
    %a{:href=>"http://docs.jboss.org/tools/"} reference guides
    is the main documentation for the main functionality of each major module in JBoss Tools. 
    The index page lists each release and its associated documentation.
    There is also a 
    %a{:href => "http://docs.jboss.org/tools/nightly/trunk/"} nightly build of the latest reference guides 
    (from trunk) available. Content subject to change.

.row-fluid
  .span12
    %h1 Video Tutorials
  .span12
    We also have a great set of 
    %a{:href=>"videos"} video tutorials
    to help you getting started with various modules of JBoss Tools and JBoss Developer Studio.

.row-fluid
  .span12
    %h1 New and Noteworthy
  .span12
    The 
    %a{:href=>"/whatsnew"}New and Noteworthy
    page lists the relevant new features in each release. Don't forget to 
    %a{:href=>"/whatsnew"} check it out !
