---
layout: default
tab: features
---
.row-fluid 
  .span12
    - features = site.features 
    - features = features.sort{|l,r| l.order <=> r.order}
    .features 
      - for feature in features
        %hr
        %h4 
          %a{:href=>feature.url} 
            #{feature.title}
          %a{:href=>feature.url} 
            %img{:src=>"#{feature.image_url}", :alt=>"#{feature.title}"}
        %p 
          #{feature.summary}
          %br
          %a{:href=>feature.url} Read more... 
   
  
  

