---
layout: project
tab: features
title: Features
---
- site.features.each do |product_id, features|
  .row-fluid
    .hero-unit.center
      - if product_id == "jbt_core"
        %h1 Features
      - else 
        %h2 #{site.products[product_id].name}
        
      %p * Not all features are installed by default. You can install these from JBoss Central or their update site. 
        
  -# show all other features
  - f = Array.new() + features
  - while f.size > 0 do
    .row-fluid.features.flexbox.stretch-row
    
      - i = 0
      - limit = [f.size, 4].min
      - while i < limit do
        - i += 1
        - feature = f.shift
        .span3.center.well
          %a.flexbox.stretch-column{:href=>relative(feature.url) }
            .title
              %h3.center< #{feature.name}
            .body
              %img{:src=>relative(feature.image_url), :alt=>"#{feature.name}"}
            .footer
              %h4.center< #{feature.tagline}
       


