---
layout: default
---
#wrap-content 
  #wrapper-3b  
    #container-reduced
      #menu.row-fluid 
        .span12
          %a.span3#install{:href => "install.html"} Install 
          %a.span3#features{:href => "features.html"} Features
          %a.span3#videos{:href => "videos.html"} Videos
          %a.span3#community{:href => "https://community.jboss.org/en/tools"} Community
        
      ~content
%script{:type => "text/javascript"}
  - if page.selected_tab != null 
    $("##{page.selected_tab}").addClass("selected");   