---
layout: base 
---
#top_subnav_branding 
  .community-banner
    %a{ :border=>"0", :href => "http://jboss.org/tools"}
      %img{ :alt=>"JBoss Tools", :src => "./images/tools-banner-1180px.jpg"}
#wrapper-2
  ~ content
  -# help the wrapper-2 container include the content and display a proper border around it.
  %div{:style => "clear:both; height:100%;"} 
    