---
layout: project
tab: downloads
---

- labels = {:stable=>"Stable Release", :development=>"Development", :nightly=>"Nightly Build"}
.row-fluid
  .span
    .well
      %ul.nav.nav-list
        - site.download_pages[page.product].each do |eclipse_builds| 
          %li.nav-header 
            #{site.products[:eclipse][eclipse_builds[0]].full_name}
          - eclipse_builds[1].each do |download_page|
            %li{:class=>("active" if download_page.build_info == page.build_info)}
              %a{:href=>relative(download_page.output_path)}
                %span
                  #{download_page.build_info.version}
                %span{:class=>"label label_#{build_type} float-right"}
                  #{labels[build_type]}
        %li.divider          
