---
layout: project
tab: docs
---
.row-fluid
  .hero-unit.hidden-phone.center
    %h1 Frequently Asked Questions
    
.row-fluid
  .span12
    %a{:href=>"https://github.com/jbosstools/jbosstools-website/edit/master#{page.relative_source_path}", :title=>"Edit on github"}
      %i.icon-edit
    %a{:href=>"https://github.com/jbosstools/jbosstools-website/commits/master#{page.relative_source_path}", :title=>"Show history on github"}
      %i.icon-github
    ~content
