---
layout: project
tab: features
--- 

.row-fluid.affixedContent
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      - for product_id in ["jbt_core", "jbt_is"] do 
        %li{:class=>("selected expanded" if page.product_id == product_id.to_s)}
          %a{:href=>site.features[product_id.to_s].first.url} #{site.products[product_id].name}
          - if page.product_id == product_id.to_s
            %ul.nav.nav-nested.components
              - site.features[product_id].each do |feature|
                %li{:class=>("active" if feature.url == page.url)}
                  %a{:href => relative(feature.url)} #{feature.name}
              
    
  .span9.scrolledContent.feature.well.post-bg
    ~content

