---
layout: default
tab: features
---
.row-fluid 
  .span12
    #other-features
      %h4< Other Features
      %ul
        - for feature in site.features.sort{|l,r| l.order <=> r.order}.each do
          - if(feature.title != page.feature.title) 
            %li
              %a{:href => "#{feature.url}"}< #{feature.title}
    - feature = page.feature
    .features
      #{feature.content}
