---
layout: project
tab: features
--- 

.row-fluid.affixedContent
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      - features = site.features.values.sort{|l,r| l.feature_id <=> r.feature_id}
      - features.each do |feature|
        %li{:class=>("selected expanded" if feature.url == page.url)}
          %a{:href => relative(feature.url)} #{feature.name}
          -if feature.url == page.url
            %ul.nav.nav-nested.components
              - doc = Nokogiri::HTML.parse(page.content)
              - doc.css('.sect1 h2').each_with_index do |title, index|
                %li{:class=>("active" if index == 0)}
                  %a{:href=>"##{title.attribute("id")}"} #{title.content}
              
    
  .span9.scrolledContent.feature
    ~content

