---
layout: project
tab: features
--- 

.row-fluid
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      - features = site.features.values.sort{|l,r| l.order <=> r.order}
      - features.each do |feature|
        - if feature.url == page.url
          %li.active
            %a{:href => relative(feature.url)} #{feature.name}
        - else
          %li
            %a{:href => relative(feature.url)} #{feature.name}
    
  .span9#feature
    ~content

:javascript
  $( document ).ready(function() {
    $('#module_whatsnews').hide();
    $('#whatsnewButton').click(function() {$('#module_whatsnews').toggle()});
    
    var sidebarHeight = $('.bs-docs-sidenav').outerHeight(true) + 30;
    $('#feature').css('min-height', sidebarHeight);
  });

  
