---
layout: default
tab: features
---
.row-fluid 
  .span12
    %h1< Feature tour
    %hr
.row-fluid 
  .span3
    #all-features
      %ul
        - for feature in site.features.sort{|l,r| l.order <=> r.order}.each do
          - if(feature.title == page.feature.title) 
            %li
              %h4< #{feature.title}
          - else 
            %li
              %h4
                %a{:href => "#{feature.url}"}< #{feature.title}
  .span9
    - feature = page.feature
    .features
      #{feature.content}
