---
layout: project
tab: features
---
= breadcrumb(page.output_path)

.row-fluid
  .span2.well
    %ul.nav.nav-list
      %li
        %a{:href => "#{site.base_url}/features"} Overview
      %li.divider
      - feature = site.features.each do |feature|
        - if feature.url == join(site.base_url, page.url)
          -# puts "Feature page: " + feature.to_s + " / current page: " + page.to_s
          %li.active
            %a{:href => feature.url} #{feature.title}
        - else
          %li
            %a{:href => feature.url} #{feature.title}
    
    
  .span10#feature
    ~content

