---
layout: project
tab: docs
---
.row-fluid
  .hero-unit.hidden-phone.center
    - if page.title == "How to" 
      %h1 #{page.title}
    - else
      %h1 How To:
      %h1 #{page.title}
    
.row-fluid
  .span12
    ~content
