---
layout: project
tab: docs
---
- category_labels = {"installation"=>"Installation", "introduction"=>"Technical Introduction", "reveng"=>"Reverse Engineering"}
.row-fluid
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      - site.videos.each do |category, videos|
        -#%li.nav-header
        -#  #{category_labels[category]}
        - videos.sort{|x,y| x.order_in_category <=> y.order_in_category}.each do |video|
          - if page.output_path == video.output_path
            %li.active 
              %a{:href=>relative(video.output_path)} #{video.title}
          - else
            %li
              %a{:href=>relative(video.output_path)} #{video.title}
                      
  .span9.video
    ~content