---
layout: project
tab: docs
---
.row-fluid
  .span2.well
    %ul.nav.nav-list
      %li.nav-header #{page.module_name}
      %li
        - puts "Features " + site.features[page.module_id].to_s
        %a{:href=>site.features[page.module_id].url} Feature Overview
      %li
        %a Documentation
      %li
        %a Issue Tracker
      - unless site.news_per_module[page.module_id].nil?
        %li 
          %a What's New
          %ul.nav.nav-list
            - puts "Module " + page.module_id.to_s + " news: " + site.news_per_module[page.module_id].to_s 
            - site.news_per_module[page.module_id].each do |version|
              - if version.url == join(site.base_url , page.url)
                %li.active
                  %a{:href=> version.url} #{version.module_version}
              - else
                %li 
                  %a{:href=> version.url} #{version.module_version}
              
      
      %li.divider
      %li.nav-header Other New and Noteworthies
        
  .span10
    .whatsnew
      ~content