---
layout: project
title: What's New
tab: docs
---
- for product_id in [:jbt_core, :jbt_is] do 
  - unless site.whatsnew_pages[product_id].nil?
    - latest_product_version = site.whatsnew_pages[product_id].keys.sort{|x,y| y <=> x}.first
    - latest_whatsnew_page = site.whatsnew_pages[product_id][latest_product_version]
    .row-fluid.whatsnew-index
      .span12
        %div{:class=>"hero-unit #{product_id}"}
          .hero-left
            %h1 
              #{site.products[product_id].name} 
            %a{:href=>relative(latest_whatsnew_page.output_path)} 
              See What's New in #{latest_product_version} 
        
          
        
        
      
      
