---
layout: project
tab: docs
---
-# What's New for a given *major* version of all components (eg all N&N for 4.1.1, including all Alpha/Beta/CR releases). 
-# Includes left side navigation.

.row-fluid.whatsnew
  .span3.bs-docs-sidebar
    %ul.nav.nav-list.bs-docs-sidenav
      - page.individual_pages.each do |individual_page|
        %li 
          %a{:href=>"##{individual_page.feature_id}"} #{individual_page.feature_name}
  .span9
    - default_imagesdir = site.asciidoctor.attributes['imagesdir']
    - page.individual_pages.each do |individual_page|
      - site.asciidoctor.attributes['imagesdir'] = relative(Pathname.new(individual_page.output_path).parent.to_s)
      %div{:id=>individual_page.feature_id}
        %h1 #{individual_page.feature_name}
        #{individual_page.content}
      %hr
    - site.asciidoctor.attributes['imagesdir'] = default_imagesdir
   

  