---
layout: project
tab: docs
---
-# puts " Rendering What's New page for " + page.feature_id.to_s + " version " + page.feature_version.to_s + ": " + page.output_path
.row-fluid
  .span3.sidebar
    = partial('whatsnew_sidebar.html.haml', {:location=>page.output_path, :jbt_core_version=>page.jbt_core_version})       
  .span9.whatsnew
    ~content
    .whatnew-nav.center
      - site.product_whatsnews.sort_by{|k,v| k}.reverse.each do |product_version, whatsnew_pages|
        - if page.jbt_core_version == product_version
          - whatsnew_pages.each_index do |i|
            - if whatsnew_pages[i].output_path == page.output_path
              - if i > 0 then
                - previous_module = whatsnew_pages[i - 1]
                %a.btn.btn-small{:href=>join(site.base_url, previous_module.output_path)} &laquo; #{site.modules[previous_module.feature_id].name}
              - if i + 1< whatsnew_pages.size
                - next_module = whatsnew_pages[i + 1]
                %a.btn.btn-small{:href=>join(site.base_url, next_module.output_path)} #{site.modules[next_module.feature_id].name} &raquo;
            
