---
layout: default
tab: docs
---
.row-fluid
  .span3
    #menu-level2
      %ul
        %li.unselected
          %a{:href=>"../index.html"} Overview
        - for item in site.new_and_noteworthies_per_version[page.jbt_version].sort!{|x,y| x.module_name <=> y.module_name}.each do
          - if item.module_name == page.module_name
            %li.selected
              %a{:href => item.url} #{item.module_name}
          - else 
            %li.unselected
              %a{:href => item.url} #{item.module_name}

  .span9
    %h2 What's New in #{page.module_name} #{page.module_version}
    %hr
    .whatsnew
      ~content