---
layout: project
tab: docs
---
-# puts " Rendering What's New page for " + page.feature_id.to_s + " version " + page.feature_version.to_s + ": " + page.output_path
.row-fluid
  .span3.sidebar
    = partial('whatsnew_sidebar.html.haml', {:location=>page.output_path, :jbt_core_version=>page.jbt_core_version})       
  .span9
    ~content
      
.row-fluid
  .span12.center.page-note
    :markdown
      Visit our [archived news](http://docs.jboss.org/tools/whatsnew/index.html) for **previous versions** of individual new and noteworthy.
