---
layout: project
title: Events
tab: community
status: green
---
.row-fluid
  .span12
    %h3.center All Events 
.row-fluid
  .span8.offset2
    - events = site.events.sort{|l,r| r.effective_date <=> l.effective_date}
    - for event in events
      .justify
        %h3
          %a{:href=>relative(event.output_path)} #{event.title}
        %strong  
          #{event.event_date} 
          in
          #{event.location}
        #{event.content}
        %hr
