name: Deploy

on:
  push:
    branches:
      - main
      - production

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
          fetch-depth: 0
    - name: Set up Ruby
      uses: ruby/setup-ruby@086ffb1a2090c870a3f881cc91ea83aa4243d408 # v1.195.0
      with:
        ruby-version: 2.4.1
        bundler-cache: true
    - name: Set up SSH
      run: |
        mkdir ~/.ssh 2>/dev/null
        echo "$SSH_KEY" >>~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        echo -e "Host filemgmt-prod-sync.jboss.org\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      env:
        SSH_KEY: ${{ secrets.DOWNLOAD_KEY }}
        GITHUB_REF: ${{ github.ref }}
    - name: Generate site
      run: |
        branch_name=`basename $GITHUB_REF`
        export GIT_TAG=build-$branch_name-$(date -u "+%Y-%m-%d-%H-%M-%S")-$GITHUB_RUN_ID
        bundle exec rake actions
