name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  generate:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@d3c9825d67b0d8720afdfdde5af56c79fdb38d16 #v1
      with:
        ruby-version: 2.4.1
        bundler-cache: true
    - name: Generate site
      run: |
        branch_name=`basename $GITHUB_REF`
        export GIT_TAG=build-$branch_name-$(date -u "+%Y-%m-%d-%H-%M-%S")-$GITHUB_RUN_ID
        gem update --system 3.2.3
        bundle exec rake actions
