---
layout: project
title: Get Involved
---

.row-fluid
  .hero-unit
    %h1 Getting Involved
    %p How to contribute to JBoss Tools

  .row-fluid
    .span6
      %h2 Yup, we're open.
      As an open-source project, the JBoss Tools community has many entry points.
      We welcome your participation however it suits your level of interest.
      %br
      %br
      JBoss Tools is a 100% open source project.
      This means that not only is the code open source, free to use and free to modify, the development process too is open.
      Core JBoss Tools engineers are always available on public IRC channels, publish design documents and roadmaps to public wikis and issue tracker.
      And this is where you can get involved.

    .span6
      %h2 Everything is on-line
      %p
        Our code is on-line, so is our continuous integration and bug tracker, developer discussion mailing lists are public and so are our design wikis and issues.
        It's easy to get involved - just meet one of the core engineers on IRC and say hello.
      %p
        %i.icon-github
        %a{:href => "https://github.com/jbosstools", :target => "_NEW"}Code on GitHub
        %br
        %i.icon-bolt 
        %a{:href => "https://jira.jboss.org/browse/JBIDE", :target => "_NEW"}Public issue tracker for JBoss Tools
        %br
        %i.icon-bolt 
        %a{:href => "https://jira.jboss.org/browse/JBDS", :target => "_NEW"}Public issue tracker for JBoss Developer Studio
        %br
        %i.icon-repeat
        %a{:href => "https://ci.jboss.org/hudson/view/JBossTools/", :target => "_NEW"}Public continuous integration
        %br
        %i.icon-comments
        %a{:href => "irc://irc.freenode.net/jbosstools"}Team meetings and live conversations on IRC (
        %a{:href=>"http://transcripts.jboss.org/channel/irc.freenode.org/%23jbosstools/index.html", :target => "_NEW"} logs
        and
        %a{:href=>"http://transcripts.jboss.org/meeting/irc.freenode.org/jbosstools/index.html", :target => "_NEW"} meetings
        )
        %br
        %i.icon-envelope 
        %a{:href => "https://lists.jboss.org/mailman/listinfo/jbosstools-dev"}Developer discussions mailing list        
        (
        %a{:href=>"http://markmail.org/search/?q=list%3Aorg.jboss.lists.jbosstools-dev"}archive
        )
        %br
        %i.icon-magic
        %a{:href => "https://community.jboss.org/en/tools/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bdocument%5D", :target => "_NEW"} Public wiki
  .row-fluid
    .span6
      %h2 Project statistics
      %script{:type => "text/javascript", :src => "https://www.ohloh.net/p/11081/widgets/project_factoids_stats.js"}

    .span6
      %h2 Want to talk to us?
      The JBoss Tools community is on-line, 
      %a{:href => "https://maps.google.com/maps/ms?msid=207414222803974522202.00049abcea09d1313e2f7&msa=0", :target => "_NEW" }geographically distributed
      , and communicate in a number of ways.
      Visit our 
      %a{:href=>"/community"}community page
      for more information.      
  %hr

  %h2 Disclosure
  %p
    We'd like to make clear how this project works and who holds what responsibilities.
    We want everyone involved to understand how decisions are made and where they can contribute.
    If you feel this page does not reflect the current state of project ownership and responsibilities, please contact the project lead on the developers' mailing list.
  %h3 Stewardship
  %p
    This project is developed and released by Red Hat with assistance from the Java developer community.
    The project lead is appointed by Red Hat, and has the power to accept and reject contributions to the project and set the roadmap.
    Red Hat employees assigned to work on JBoss Tools as well as community contributors, in this regard, all answer to the project lead.

  %h3 Requirement Definition
  %p
    The requirements and roadmap for JBoss Tools are driven by Red Hat and by the community.
    Typically, when a major release is being planned, the project lead will take input from both Red Hat and the community, and evaluate what can be done in the necessary time.
    This will define what features will be addressed in a given release.
    The project lead will then publish the roadmap in the issue tracker
    %a{:href => "https://issues.jboss.org/browse/JBIDE#selectedTab=com.atlassian.jira.plugin.system.project%3Aroadmap-panel", :target => "_NEW"} JBoss Tools public roadmap.
  %p
    JBoss Tools is the base for the 
    %a{:href => "https://www.jboss.org/products/devstudio.html", :target => "_NEW"} JBoss Developer Studio
    , many requirements for JBoss Tools are often driven by Developer Studio.
    You can download Developer Studio for free from the 
    %a{:href => "https://www.jboss.org/products/devstudio.html", :target => "_NEW"} Red Hat product page.
  %p
    The best way for you to suggest requirements for a future release of JBoss Tools is to enter a feature request in JIRA.
    The JBoss Tools team uses the JIRA voting system to evaluate the popularity of an issue - lobby others in the community to vote for your feature request!

  %h3 Release Cycle
  %p
    JBoss Tools attempt to keep uptodate with the Eclipse.org release train. Meaning we do a release with new features once a year and 2 or 3 minor/micro updates (bug fixes and if needed support for new runtimes). JBoss Tools are incorporated into releases of JBoss Developer Studio.
  %h3 Contribution
  %p
    JBoss Tools welcomes, thrives on and greatly values community contribution, and makes the bar to contributing as low as possible.
    If you have any questions on contributing, join us on
    %a{:href => "/community"}IRC
    and speak to a member of the core JBoss Tools team.
